.about-company
    padding-bottom: 95px

    @media (min-width: $screenM + 1)

        .tab-control 

            justify-content: flex-start

            &:after 
                display: none

            &__text
                text-transform: none
                font-weight: 700
                color: #2b2b2b
                font-size: 6rem
                line-height: 7rem

                @media (min-width: $screenXXL)
                    font-size: 60px
                    line-height: 70px

            &:first-child 
                border-right: 1px solid #d5d5d5

        .tab 
            position: relative
            padding-top: 9px
            opacity: 1
            z-index: initial 
            height: auto
            overflow: auto

            &:first-child 
                border-right: 1px solid #d5d5d5

    @media (max-width: $screenXXS)
        padding-bottom: 45px

    .tab-controls 

        .col-6 

            &:first-child
                padding-right: 20px

                @media (max-width: $screenM)
                    padding-right: 0

            &:last-child
                padding-left: 20px

                @media (max-width: $screenM)
                    padding-left: 0

        @media (max-width: $screenXS)
            padding-top: 8px

    .tab-control__text 

        @media (max-width: $screenXS)
            font-size: 23.7px

        @media (max-width: $screenXXS)
            font-size: 12px

    .tab.col-6 

        &:first-child
            padding-right: 20px

            @media (max-width: $screenM)
                padding-right: 0

        &:last-child
            padding-left: 20px

            @media (max-width: $screenM)    
                padding-left: 0

        @media (max-width: $screenM)
            flex: 0 0 100%
            max-width: 100%

        @media (max-width: $screenXS)
            padding-left: 0
            padding-right: 0

    &__section 
        padding-bottom: 46px
        border-bottom: 1px solid #d5d5d5

        @media (max-width: $screenXS)
            padding-bottom: 31px
            border-width: 2px

        @media (max-width: $screenXXS)
            padding-bottom: 16px
            border-width: 1px

        &:last-child 
            padding-bottom: 0
            border-bottom: none

    &__section-item 
        margin-bottom: 9px
        padding-right: 25px

        @media (max-width: $screenXXS)
            margin-bottom: 5px
            padding-right: 12px

    &__section-title
        margin: 0 0 26px 0
        font-weight: 400
        font-size: 3rem
        line-height: 3rem

        @media (min-width: $screenXXL)
            font-size: 30px
            line-height: 30px

        @media (max-width: $screenM)
            font-size: 23.7px
            line-height: 23.7px

        @media (max-width: $screenXXS)
            margin-bottom: 13px
            font-size: 12px
            line-height: 12px

    &__section-headline
        margin: 0 0 15px 0
        font-weight: 400
        font-size: 2.5rem
        line-height: 4.8rem

        @media (min-width: $screenXXL)
            font-size: 25px
            line-height: 48px

        @media (max-width: $screenM)
            font-size: 23.7px
            line-height: 47.4px

        @media (max-width: $screenXXS)
            margin-bottom: 8px
            font-size: 12px
            line-height: 24px

    &__descr 
        margin: 0
        font-size: 1.8rem
        line-height: 2.4rem

        @media (min-width: $screenXXL)
            font-size: 18px
            line-height: 24px

        @media (max-width: $screenM)
            font-size: 18.96px
            line-height: 26.07px

        @media (max-width: $screenXXS)
            font-size: 9.5px
            line-height: 13px


