.account-form
    padding-top: 38px

    @media (max-width: $screenM)
        padding-left: 48px
        padding-right: 48px

    @media (max-width: $screenXXS)
        padding-top: 20px
        padding-left: 14px
        padding-right: 14px

    &._desktop

        @media (max-width: $screenM)
            display: none

    &._mobile 
        display: none

        @media (max-width: $screenM)
            display: block

    .form 

        &__field,
        &__message 
            width: 50.8rem
            flex: none

            @media (min-width: $screenXXL)
                width: 508px

            @media (max-width: $screenM)
                width: 100%

    &__title 
        margin: 0 0 12px 0
        font-weight: 700
        font-size: 30.82px
        line-height: 40px

        @media (max-width: $screenXXS)
            margin-bottom: 6px
            font-size: 16px
            line-height: 20px

    &__submit 
        margin-top: 45px

        @media (max-width: $screenL)
            font-size: 26px
            line-height: 26px

        @media (max-width: $screenM)
            width: 100%
            max-width: 500px
            font-size: 32.5px
            line-height: 47px

        @media (max-width: $screenXXS)
            margin-top: 23px
            font-size: 16px
            line-height: 24px

.account-form-block

    .form
        &__note
            font-size: 1.5rem
            line-height: 1.8rem
            padding-right: 20px

    @media (max-width: $screenM)
        display: flex
        flex-direction: column
        align-items: center
        min-height: calc(100vh - 120px)

        .form 

            &__field 
                padding-left: 20px
                padding-right: 20px
                width: 100%
                font-size: 23.7px
                line-height: 43px
                height: 45px

                @media (max-width: $screenXXS)
                    height: 24px

            &__field-label
                display: block
                margin-bottom: 13px
                font-size: 18.96px
                line-height: 17px

            &__field-wrapper
                flex-direction: column

            &__note 
                margin-top: 6px
                margin-bottom: 30px
                font-size: 14px
                line-height: 18px

            &__select-wrapper
                width: 100%

            &__select 
                padding-left: 20px
                padding-right: 40px
                font-size: 24.6px
                line-height: 43px
                background-size: 23px 13px
                background-position: top 16px right 16px

    @media (max-width: $screenXXS)
        min-height: calc(100vh - 50px)

        .form

            &__field 
                padding-left: 10px
                padding-right: 10px
                font-size: 12px
                line-height: 21px

            &__field-label
                margin-bottom: 6px
                font-size: 9.5px
                line-height: 10px

            &__note 
                margin-top: 3px
                margin-bottom: 12px
                font-size: 8.5px
                line-height: 11px

            &__select 
                padding-left: 10px
                padding-right: 20px
                font-size: 12px
                line-height: 21px
                background-size: 12px 7px 
                background-position: top 8px right 8px

    &__header 
        position: relative
        margin-bottom: 30px
        padding-top: 38px
        padding-bottom: 34px
        width: 100%
        text-align: center
        border-bottom: 2px solid #e1e1e1
        border-top: 2px solid #e1e1e1

        @media (max-width: $screenXXS)
            margin-bottom: 15px
            padding-top: 19px
            padding-bottom: 17px
            border-width: 1px

        ._screen1 & 
            padding-top: 18px
            padding-bottom: 20px

            @media (max-width: $screenXXS)
                padding-top: 9px
                padding-bottom: 10px

        p 
            margin: 0
            font-weight: 400
            font-size: 23.7px
            line-height: 30px

            @media (max-width: $screenXXS)
                font-size: 12px
                line-height: 15px

    &__content
        width: 100%
        max-width: 500px

    &__footer 
        display: flex 
        flex-direction: column 
        align-items: center
        margin-top: auto
        padding-bottom: 30px
        width: 100%

        @media (max-width: $screenXXS)
            padding-bottom: 75px

    &__btn 
        margin-top: 14px
        margin-bottom: 30px
        padding-left: 40px
        padding-right: 40px
        font-size: 30.82px
        line-height: 47px

        @media (max-width: $screenXXS)
            margin-top: 7px
            margin-bottom: 15px
            padding-left: 20px
            padding-right: 20px
            font-size: 16px
            line-height: 24px

    &__next 
        @include hover
        display: block
        width: 86px
        height: 43px

        @media (max-width: $screenXXS)
            width: 43px
            height: 22px

        img 
            display: block
            width: 100%
            height: auto

    &__prev 
        @include btn-reset
        position: absolute
        top: 18px
        right: -48px
        display: block
        width: 59px
        height: 59px
        background-color: $purple

        @media (max-width: $screenXXS)
            top: 9px
            right: -24px
            width: 30px
            height: 30px

        img 
            @include center 
            display: block
            width: 40px
            height: 22px

            @media (max-width: $screenXXS)
                width: 20px
                height: 11px

    &__col 

        &:first-child
            padding-right: 33px
            border-right: 1px solid #d5d5d5

            @media (max-width: $screenXXS)
                padding-right: 17px

        &:last-child 
            padding-left: 33px

            @media (max-width: $screenXXS)
                padding-left: 17px


    &__section 
        margin-bottom: 38px
        padding-bottom: 33px
        border-bottom: 1px solid #d5d5d5

        &:last-child
            margin-bottom: 0
            padding-bottom: 0
            border-bottom: none

        &._short-inputs

            .form__field,
            .form__select-wrapper 
                flex-shrink: 0
                flex-grow: 0
                width: 34.8rem

                @media (min-width: $screenXXL)
                    width: 348px

    &__section-title
        margin: 0
        font-weight: 400
        font-size: 25px
        line-height: 31px

        @media (max-width: $screenM)
            font-size: 23.7px
            line-height: 27px

        @media (max-width: $screenXXS)
            font-size: 12px
            line-height: 14px

        .sub 
            display: block
            font-size: 15px
            line-height: 25px

            @media (max-width: $screenXXS)
                font-size: 8px
                line-height: 12px

    &__section-wrapper 
        margin-top: 45px

        @media (max-width: $screenM)
            margin-top: 35px
            margin-bottom: 34px

        @media (max-width: $screenXXS)
            margin-top: 17px
            margin-bottom: 17px

        &._wrap 
            display: flex 
            flex-wrap: wrap

            label 
                flex: none
                width: 25%

                @media (max-width: $screenM)
                    margin-right: 26px
                    width: calc(50% - 13px)

                    &:nth-child(even)
                        margin-right: 0

                @media (max-width: $screenXXS)
                    margin-right: 12px
                    width: calc(50% - 6px)

                    &:nth-child(even)
                        margin-right: 0

    &__inner 
        display: flex
        margin-bottom: 16px

        @media (max-width: $screenM)
            flex-direction: column

        @media (max-width: $screenXXS)
            margin-bottom: 8px

    &__fieldset 
        width: 34.8rem

        @media (min-width: $screenXXL)
            width: 348px

        @media (max-width: $screenM)
            width: 100%

    &__labels 
        margin-top: -6px
        margin-right: auto
        flex-shrink: 1
        max-width: calc(100% - 34.8rem)

        @media (min-width: $screenXXL)
            max-width: calc(100% - 348px)

        @media (max-width: $screenM)
            max-width: 100%
