.account-block
    padding-top: 38px
    padding-bottom: 80px

    &__section 
        margin-bottom: 33px
        padding-bottom: 10px
        border-bottom: 1px solid #d5d5d5

        &:last-child 
            margin-bottom: 0
            padding-bottom: 0
            border-bottom: none

            @media (max-width: $screenM)
                padding-bottom: 90px

            @media (max-width: $screenXXS)
                padding-bottom: 45px

    &__info 
        position: relative
        box-sizing: border-box
        padding-top: 0.6rem
        padding-right: 3rem
        width: 20.5%
        min-width: 20.5%
        flex-grow: 0
        flex-shrink: 0

        &:after 
            content: ""
            position: absolute
            top: 0
            bottom: 0
            right: 0
            border-left: 1px solid #d5d5d5

        @media (min-width: $screenXXL)
            padding-top: 6px
            padding-right: 30px

    &__messages
        position: relative
        box-sizing: border-box
        padding: 0 3rem
        width: 29.5%
        min-width: 29.5%
        flex-grow: 0
        flex-shrink: 0

        &:after 
            content: ""
            position: absolute
            top: 0
            bottom: 0
            right: 0
            border-left: 1px solid #d5d5d5

        @media (min-width: $screenXXL)
            padding: 0 30px

    &__activities 
        box-sizing: border-box
        padding-left: 3.6rem

        .col-4,
        .col-6 
            padding: 0 1.2rem

            @media (min-width: $screenXXL)
                padding: 0 12px

        @media (min-width: $screenXXL)
            padding-left: 36px

    &__section-title 
        margin: 0 0 42px 0
        font-weight: 700
        font-size: 3rem
        line-height: 3.4rem

        @media (min-width: $screenXXL)
            font-size: 30px
            line-height: 34px
