.account

    &._desktop

        @media (max-width: $screenM)
            display: none

    &._mobile 
        display: none

        @media (max-width: $screenM)
            display: block

.activities-block 

    @media (max-width: $screenM)
        padding-bottom: 50px

.account-page

    @media (max-width: $screenM)

        .page-header 

            background-color: #2b2b2b

            &__navigation 

                a 
                    color: #fff
                    border-color: #fff

        .logo svg 
            fill: #fff

        .search-form__field 
            border-color: #fff

            &::-webkit-input-placeholder
                color: rgba(255, 255, 255, .5)
            &:-moz-placeholder
                color: rgba(255, 255, 255, .5)
            &::-moz-placeholder
                color: rgba(255, 255, 255, .5)
            &:-ms-input-placeholder
                color: rgba(255, 255, 255, .5)

        .user-block__name 
            color: #fff

        .lang-block 

            li.current a 
                color: #fff

    @media (max-width: $screenXS)

        .page-header 

            .col-4:last-child
                display: none

            .col-4:nth-child(2)
                margin-left: auto
                padding-right: 20px

        .search-form__field
            left: auto 
            right: 42px

    @media (max-width: $screenXXS)

        .search-form__field
            right: 20px
