.apply

    &__title 
        margin: 0
        text-align: center
        font-weight: 700
        font-size: 40px
        line-height: 24px

        @media (max-width: $screenL)
            font-size: 30.81px
            line-height: 40px

._title 

    @media (max-width: $screenM)
        flex: 0 0 100%
        margin-top: 40px
        max-width: 100%

    @media (max-width: $screenS)
        margin-top: -8px