.breadcrumb
    margin-bottom: 0
    padding: 0
    background-color: $transparent

    @media (max-width: $screenXS)
        margin-bottom: 32px

    @media (max-width: $screenXXS)
        margin-bottom: 16px

    &-item 
        position: relative
        padding-left: 30px
        font-weight: 500
        font-size: 20.83px
        line-height: 24px

        @media (max-width: $screenXS)
            font-size: 18.96px

        @media (max-width: $screenXXS)
            font-size: 9.5px
            padding-left: 15px
            line-height: 12px

        &:before
            content: ""
            @include centerV
            left: 0
            width: 9px
            height: 18px
            background-image: url("../images/prev.png")
            background-repeat: no-repeat 
            background-size: contain 
            background-position: center

            @media (max-width: $screenXS)
                width: 13px
                height: 24px

            @media (max-width: $screenXXS)
                width: 6px
                height: 12px

    a
        @include hover
        color: $textColor

        &:hover,
        &:focus
            text-decoration: none