.btn
    @include hover
    @include btn-reset
    display: inline-block
    vertical-align: top
    padding: 0 22px
    text-align: center
    font-family: inherit
    font-weight: 500
    font-size: 2.083rem
    line-height: 3.5rem
    color: #fff
    background-color: $purple
    border: none
    border-radius: 0

    @media (min-width: $screenXXL)
        font-size: 20.83px
        line-height: 35px

    @media (max-width: $screenL)
        font-size: 14px
        line-height: 22px

    @media (max-width: $screenXS)
        font-size: 23.71px
        line-height: 40px

    @media (max-width: $screenXXS)
        font-size: 12px
        line-height: 20px

    &._left 
        text-align: left

    &:hover,
    &:focus 
        color: #fff

    &--transparent 
        background-color: $transparent
        border-color: $purple 
        border-style: solid 
        border-width: 0.2rem

        @media (min-width: $screenXXL)
            border-width: 2px

    &--big 
        padding: 0 2px
        font-weight: 700
        font-size: 2.917rem
        line-height: 4.9rem
        border-width: 0.9rem

        @media (min-width: $screenXXL)
            font-size: 29.17px
            line-height: 49px
            border-width: 9px

        @media (max-width: $screenL)
            font-size: 22px
            line-height: 32px

        @media (max-width: $screenXS)
            font-size: 30.82px
            line-height: 64px
            border-width: 5px

        @media (max-width: $screenXXS)
            font-size: 16px
            line-height: 32px
            border-width: 3px

    &--large 
        padding: 15px
        min-width: 433px
        font-weight: 700
        font-size: 30px
        line-height: 34px

        @media (max-width: $screenXL)
            padding: 10px
            min-width: 361px
            font-size: 26px
            line-height: 30px

        @media (max-width: $screenXS)
            padding: 10px
            min-width: 361px
            font-size: 30.81px
            line-height: 33px

        @media (max-width: $screenXXS)
            padding: 5px
            min-width: 180px
            font-size: 15px
            line-height: 16px