.description-block

    &__item 
        margin-bottom: 34px

        &:last-child 
            margin-bottom: 0

    &__headline 
        margin: 0 0 36px 0
        font-weight: 700
        font-size: 2.917rem
        line-height: 2.8rem

        @media (min-width: $screenXXL)
            font-size: 29.17px
            line-height: 30px

        @media (max-width: $screenL)
            margin-bottom: 20px
            font-size: 20px
            line-height: 24px

        @media (max-width: $screenXS)
            margin-bottom: 26px
            font-size: 30.82px
            line-height: 44px

        @media (max-width: $screenXXS)
            margin-bottom: 13px
            font-size: 16px
            line-height: 22px

    &__text 
        margin: 0
        padding-right: 2.5rem
        font-size: 21px
        line-height: 30px

        @media (min-width: $screenXXL)
            padding-right: 25px

        @media (max-width: $screenXL)
            padding-right: 40px
            font-size: 18px
            line-height: 24px

        @media (max-width: $screenL)
            font-size: 14px
            line-height: 21px

        @media (max-width: $screenXS)
            margin-bottom: 40px
            font-size: 18.96px
            line-height: 28.45px

        @media (max-width: $screenXXS)
            margin-bottom: 20px
            font-size: 9.5px
            line-height: 15px