.description
    padding-top: 94px
    padding-bottom: 50px

    @media (max-width: $screenXL)
        padding-top: 50px
        padding-bottom: 30px

    @media (max-width: $screenXS)
        padding-top: 38px
        padding-bottom: 46px

    @media (max-width: $screenXXS)
        padding-top: 19px
        padding-bottom: 23px

    &__btn 

        &._mobile 
            display: none

            @media (max-width: $screenXS)
                display: inline-block
                font-size: 30.82px
                line-height: 53px
                min-width: 365px

            @media (max-width: $screenXXS)
                font-size: 16px
                line-height: 26px
                min-width: 182px

    &__wrapper 

        @media (max-width: $screenXS)
            display: flex 
            flex-direction: column

            .col-6 
                flex: 0 0 100%
                max-width: 100%

    .project-card._full 
        margin-bottom: 0
        padding-top: 5px
        padding-left: 0
        padding-right: 6rem
        border: none

        @media (min-width: $screenXXL)
            padding-right: 60px

        @media (max-width: $screenXL)
            padding-right: 40px

        @media (max-width: $screenXS)
            flex-wrap: nowrap
            padding-right: 35px
            padding-bottom: 0

        @media (max-width: $screenXXS)
            padding-right: 18px

    .project-card

        &__main-col 
            width: 61.3%
            min-width: 61.3%

        &__image 
            padding-top: 4px
            padding-bottom: 0

            @media (max-width: $screenXS)
                padding-top: 9px

            @media (max-width: $screenXXS)
                padding-top: 5px

        &__links 
            margin-top: 10px
            padding-left: 18px

            @media (max-width: $screenXL)
                padding-left: 0

            @media (max-width: $screenXS)
                margin-top: 40px

            @media (max-width: $screenXXS)
                margin-top: 20px

        &__link 

            @media (max-width: $screenXS)
                margin-bottom: 45px

            @media (max-width: $screenXXS)
                margin-bottom: 22px

        &__btn 
            margin-top: 27px
            line-height: 4.3rem

            @media (min-width: $screenXXL)
                line-height: 43px

            @media (max-width: $screenXS)
                display: none

        &__badge 
            padding-bottom: 16px

            @media (max-width: $screenXXS)
                padding-bottom: 8px

        &__link-text 

            @media (max-width: $screenXS)
                font-size: 23.7px
                line-height: 29.8px

            @media (max-width: $screenXXS)
                font-size: 12px
                line-height: 15px

        &__stats-item 

            @media (max-width: $screenXS)
                margin-bottom: 27px

            @media (max-width: $screenXXS)
                margin-bottom: 14px

    &__progress
        margin-bottom: 45px

        @media (max-width: $screenL)
            margin-bottom: 25px

        @media (max-width: $screenXS)
            margin-top: -15px
            margin-bottom: 28px

        @media (max-width: $screenXXS)
            margin-top: -8px
            margin-bottom: 14px

        .progress 
            width: 50%  

            @media (max-width: $screenXS)
                width: 100%

        &-label 
            margin: 0
            font-size: 21px
            line-height: 34px

            @media (max-width: $screenXS)
                font-size: 23.7px
                line-height: 38px

            @media (max-width: $screenXXS)
                font-size: 12px
                line-height: 19px

        &-legend 
            margin: 11px 0 0 0
            font-weight: 700
            font-size: 2.917rem
            line-height: 2.8rem

            @media (min-width: $screenXXL)
                font-size: 29.17px
                line-height: 30px

            @media (max-width: $screenXS)
                font-size: 30.81px
                line-height: 37px

            @media (max-width: $screenXXS)
                font-size: 15px
                line-height: 19px

    &__headline 
        margin: 0 0 36px 0
        font-weight: 700
        font-size: 2.917rem
        line-height: 2.8rem

        @media (min-width: $screenXXL)
            font-size: 29.17px
            line-height: 30px

        @media (max-width: $screenL)
            margin-bottom: 20px
            font-size: 20px
            line-height: 24px

        @media (max-width: $screenXS)
            margin-bottom: 26px
            font-size: 30.82px
            line-height: 44px

        @media (max-width: $screenXXS)
            margin-bottom: 13px
            font-size: 16px
            line-height: 22px

    &__text 
        margin: 0
        padding-right: 5rem
        font-size: 21px
        line-height: 30px

        @media (min-width: $screenXXL)
            padding-right: 50px

        @media (max-width: $screenXL)
            padding-right: 40px
            font-size: 18px
            line-height: 24px

        @media (max-width: $screenL)
            font-size: 14px
            line-height: 21px

        @media (max-width: $screenXS)
            margin-bottom: 40px
            font-size: 18.96px
            line-height: 28.45px

        @media (max-width: $screenXXS)
            margin-bottom: 20px
            font-size: 9.5px
            line-height: 15px