.downloads
    padding-top: 37px

    @media (max-width: $screenXXS)
        padding-top: 19px

.download-link 
    display: flex
    align-items: flex-start
    margin-bottom: 43px

    @media (max-width: $screenM)
        margin-bottom: 23px

    @media (max-width: $screenXS)
        margin-bottom: 38px

    @media (max-width: $screenXXS)
        margin-bottom: 19px

    &__icon 
        width: 9rem

        @media (min-width: $screenXXL)
            width: 90px

        @media (max-width: $screenM)
            width: 80px

        @media (max-width: $screenXXS)
            width: 40px

        svg,
        img 
            display: block
            max-width: 5rem
            height: auto

            @media (min-width: $screenXXL)
                max-width: 50px

            @media (max-width: $screenM)
                max-width: 45px

            @media (max-width: $screenXXS)
                max-width: 23px

        svg 
            stroke: #000

    &__text 
        margin-top: -0.7rem
        display: flex 
        flex-direction: column 
        justify-content: center
        min-height: 7.2rem
        font-size: 2.5rem
        line-height: 3.6rem

        @media (min-width: $screenXXL)
            margin-top: -7px
            min-height: 72px
            font-size: 25px
            line-height: 36px

        @media (max-width: $screenM)
            margin-top: -4px
            font-size: 21.33px
            line-height: 28px
            min-height: 56px

        @media (max-width: $screenXXS)
            margin-top: -2px
            font-size: 11px
            line-height: 14px
            min-height: 28px

    a 
        @include hover
        color: $purple
        text-decoration: underline

    &._noicon 
        padding-left: 9rem

        @media (min-width: $screenXXL)
            padding-left: 90px

        @media (max-width: $screenM)
            padding-left: 80px

        @media (max-width: $screenXXS)
            padding-left: 40px
