.fixed-navigation
    position: absolute
    @include centerV
    right: 50%
    margin-right: -90rem
    width: 28px
    z-index: 100

    &.scroll
        position: fixed

    @media (min-width: $screenXXL)
        margin-right: -820px

    @media (max-width: $screenXL)
        width: 14px

    @media (max-width: $screenXS)
        right: 20px
        margin-right: 0
        width: 24px

    @media (max-width: $screenXXS)
        right: 10px
        width: 12px

    &:hover,
    &:focus 

        .fixed-navigation__list-item
            background-color: $transparent 
            background-clip: padding-box
            border: 2px solid #bebebe
            opacity: 0.99

            @media (max-width: $screenXL)
                border-width: 1px

            span 
                opacity: 1
                pointer-events: initial

    &__list-item 
        position: relative
        padding: 0
        margin: 14px 0
        width: 28px
        height: 28px
        background-color: $transparent 
        background-clip: padding-box
        border: 2px solid #bebebe
        border-radius: 50%
        transition: opacity 0.3s ease

        @media (max-width: $screenXL)
            margin: 7px 0 
            width: 14px
            height: 14px
            border-width: 1px

        @media (max-width: $screenXS)
            margin: 12px 0
            width: 24px
            height: 24px

        @media (max-width: $screenXXS)
            margin: 6px 0
            width: 12px
            height: 12px

        &:after 
            content: ""
            @include centerV
            right: 4px
            width: 16px
            height: 16px
            background-color: $purple 
            border-radius: 50%
            opacity: 0
            transition: opacity 0.3s ease

            @media (max-width: $screenXL)
                right: 2px
                width: 8px
                height: 8px

            @media (max-width: $screenXS)
                right: 3px
                width: 16px
                height: 16px

            @media (max-width: $screenXXS)
                right: 1px
                width: 8px
                height: 8px

        &:first-child,
        &:last-child
            border-radius: 50%

        &.active 
            background-color: $transparent 
            background-clip: padding-box
            border: 2px solid #bebebe

            @media (max-width: $screenXL)
                border-width: 1px


            &:after 
                opacity: 1

    span 
        @include centerV
        right: 40px
        display: block
        padding: 0 15px
        width: 312px
        font-size: 25px
        line-height: 32px
        background-color: #fff 
        color: #272727
        border: 1px solid #d9d9d9
        opacity: 0
        pointer-events: none

        @media (max-width: $screenXL)
            right: 20px
            padding: 0 8px
            width: 156px
            font-size: 12px
            line-height: 16px

        @media (max-width: $screenXS)
            right: 24px
            padding: 0 10px 
            width: 200px
            font-size: 14px
            line-height: 18px

        &:before 
            content: "";
            position: absolute
            top: 0
            bottom: 0
            left: 100%
            width: 14px

            @media (max-width: $screenXL)
                width: 7px

            @media (max-width: $screenXS)
                width: 10px

            @media (max-width: $screenXXS)
                width: 5px