.form

    ::-webkit-input-placeholder
        color: rgba(0, 0, 0, .5)
    :-moz-placeholder
        color: rgba(0, 0, 0, .5)
    ::-moz-placeholder
        color: rgba(0, 0, 0, .5)
    :-ms-input-placeholder
        color: rgba(0, 0, 0, .5)

    ._dark &

        ::-webkit-input-placeholder
            color: rgba(255, 255, 255, .5)
        :-moz-placeholder
            color: rgba(255, 255, 255, .5)
        ::-moz-placeholder
            color: rgba(255, 255, 255, .5)
        :-ms-input-placeholder
            color: rgba(255, 255, 255, .5)

    &__field-wrapper 
        position: relative
        @include row-component
        margin-bottom: 16px

        &:last-child 
            margin-bottom: 0

        &._column 
            flex-direction: column
            align-items: flex-start

    &__field-label 
        margin-bottom: 0
        margin-right: auto
        padding-right: 10px
        max-width: 100%
        text-align: left
        font-size: 2.1rem
        line-height: 2.4rem

        &._desktop 

            @media (max-width: $screenM)
                position: absolute
                top: 0
                left: 0
                padding-left: 21px
                font-size: 23.7px
                line-height: 47px
                color: rgba(0,0,0,.5)
                pointer-events: none

                ._dark & 
                    color: rgba(255,255,255,.5)

            @media (max-width: $screenXXS)
                padding-left: 10px
                font-size: 12px
                line-height: 24px

        .sub 
            display: block
            font-size: 15px
            line-height: 25px

            @media (max-width: $screenXS)
                display: inline 
                font-size: 18.96px
                line-height: 24px

            @media (max-width: $screenXXS)
                font-size: 9px
                line-height: 12px

        @media (min-width: $screenXXL)
            font-size: 21px
            line-height: 24px

        @media (max-width: $screenL)
            font-size: 14px
            line-height: 16px

        @media (max-width: $screenM)
            font-size: 18.95px
            line-height: 24px

        @media (max-width: $screenXXS)
            font-size: 9.5px
            line-height: 11px

    &__field 
        @include field-reset
        padding: 0 12px
        width: 100%
        height: 3.3rem
        font-family: inherit
        font-weight: 500
        font-size: 2.083rem
        line-height: 3.3rem
        color: #000
        border: 1px solid rgba(0, 0, 0, .5)
        border-radius: 0

        @media (min-width: $screenXXL)
            font-size: 20.83px
            line-height: 33px
            height: 35px

        @media (max-width: $screenL)
            font-size: 14px
            line-height: 22px
            height: 24px

        @media (max-width: $screenXS)
            padding: 0 20px
            height: 47px
            font-size: 23.7px
            line-height: 43px
            border-width: 2px
            height: 47px

        @media (max-width: $screenXXS)
            padding: 0 10px
            height: 24px
            font-size: 12px
            line-height: 22px
            border-width: 1px

        ._dark &
            color: #fff
            border-color: #fff

        &._s,
        &._xs 
            width: auto

        &._s
            min-width: 239px

        &._xs
            min-width: 153px

    input[type="search"]
        box-sizing: border-box

    &__select-wrapper 
        flex-grow: 1

        &._date 
            margin-right: 10px
            margin-left: 20px

            @media (max-width: $screenXXS)
                margin-left: 5px
                margin-right: 10px

        &._time 
            margin-left: 10px
            min-width: 154px

            @media (max-width: $screenXXS)
                margin-left: 5px
                min-width: 77px

        &._deals
            margin-left: 10px
            min-width: 239px

        &._position 
            margin-left: 10px
            margin-right: 10px
            min-width: 195px

    &__select 
        padding: 0 32px 0 12px
        height: auto
        font-weight: 500
        font-size: 2.083rem
        line-height: 3.3rem
        background-image: url("../images/arr.png")
        background-repeat: no-repeat 
        background-size: 1.8rem 0.9rem
        border: 1px solid $gray
        border-radius: 0

        @media (min-width: $screenXXL)
            font-size: 20.83px
            line-height: 33px
            background-size: 18px 9px

        @media (max-width: $screenL)
            padding: 0 20px 0 12px
            font-size: 13px
            line-height: 22px

        @media (max-width: $screenXS)
            padding-left: 20px
            padding-right: 42px
            font-size: 24.66px
            line-height: 43px
            background-size: 22px auto
            background-position: top 17px right 18px
            border-width: 2px

        @media (max-width: $screenXXS)
            padding-left: 10px
            padding-right: 21px
            font-size: 12px
            line-height: 22px
            background-size: 11px auto
            background-position: top 8px right 9px
            border-width: 1px

    &__note 
        margin: 0
        margin-top: 6px
        font-size: 15px
        line-height: 18px
        color: $purple

        @media (max-width: $screenXXS)
            font-size: 7px
            line-height: 9px

    &__checkbox 
        position: absolute
        width: 0
        height: 0
        opacity: 0

        &:checked + label:after 
            opacity: 1

    &__checkbox-label 
        position: relative
        display: block
        margin: 0 0 17px 0
        padding-left: 4.4rem
        font-size: 1.8rem
        line-height: 2.7rem

        &:before 
            content: ""
            position: absolute
            top: 0.1px
            left: 0
            width: 2.7rem
            height: 2.7rem
            border: 1px solid $purple

        &:after 
            content: ""
            position: absolute
            top: 0.7rem
            left: 0.7rem
            width: 1.6rem
            height: 1.5rem
            background-image: url("../images/check.png")
            background-repeat: no-repeat
            background-size: contain
            background-position: top left
            opacity: 0
            transition: opacity 0.3s ease

            ._dark & 
                background-image: url("../images/check-w.png")

        @media (min-width: $screenXXL)
            padding-left: 44px
            font-size: 18px
            line-height: 27px

            &:before 
                top: 1px
                width: 27px
                height: 27px

            &:after 
                top: 8px
                left: 7px
                width: 16px
                height: 15px

        @media (max-width: $screenM)
            margin-bottom: 30px
            padding-left: 46px
            font-size: 18.95px
            line-height: 30px

            &:before 
                width: 30px
                height: 30px
                border-width: 2px

            &:after 
                top: 7px
                left: 8px
                width: 16px
                height: 13px

        @media (max-width: $screenXXS)
            margin-bottom: 15px
            padding-left: 23px
            font-size: 9.5px
            line-height: 15px

            &:before
                width: 15px
                height: 15px
                border-width: 1px

            &:after 
                top: 4px
                left: 4px
                width: 8px
                height: 7px

    &__upload-block-inner
        width: 100%

    &__upload-block
        position: relative
        @include row-component
        margin-top: 31px
        margin-bottom: 45px
        padding: 25px 3rem
        border: 1px solid #d5d5d5

        @media (min-width: $screenXXL)
            padding: 25px 30px

        @media (max-width: $screenM)
            align-items: flex-end
            border: none

        @media (max-width: $screenXXS)
            padding: 12px 15px

        &._no-border 
            flex-direction: column
            padding-left: 0
            padding-right: 0
            border: none

            @media (max-width: $screenM)
                margin-bottom: 4px

            @media (max-width: $screenXXS)
                margin-bottom: 2px

            .form__upload-button
                margin-right: 0

            .form__upload-label
                margin-right: auto
                font-weight: 500
                font-size: 21px
                line-height: 21px

                @media (max-width: $screenL)
                    font-size: 14px
                    line-height: 17px

                @media (max-width: $screenM)
                    font-size: 18.97px
                    line-height: 24px

                @media (max-width: $screenXXS)
                    font-size: 9.5px
                    line-height: 12px

            .form__upload-preview 
                margin-left: 14px

    &__upload 
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        display: block
        width: 100%
        opacity: 0

    &__upload-label
        margin: 0
        margin-right: auto
        font-weight: 400
        font-size: 25px
        line-height: 29px

        @media (max-width: $screenM)
            margin-bottom: 38px
            width: 100%
            font-size: 23.7px
            line-height: 27px

        @media (max-width: $screenXXS)
            margin-bottom: 19px
            font-size: 12px
            line-height: 14px

    &__upload-link 
        @include row-component 
        flex-grow: 1
        margin: 0

        @media (max-width: $screenM)
            flex-wrap: wrap
            justify-content: flex-start

    &__upload-button
        @include row-component
        margin-right: 30px

        @media (max-width: $screenXXS)
            margin-right: 15px

        .icon 
            display: block
            margin-top: -5px
            margin-right: 27px
            width: 27px
            height: 40px

            @media (max-width: $screenM)
                margin-right: 24px
                margin-top: -8px
                width: 37px
                height: 53px

            @media (max-width: $screenXXS)
                margin-right: 12px
                margin-top: -4px
                width: 19px
                height: 27px

            svg 
                display: block
                width: 100%
                height: 100%
                stroke: #000

                ._dark &
                    stroke: #fff

    &__upload-btn

        @media (max-width: $screenM)
            font-size: 23.7px
            line-height: 47px

        @media (max-width: $screenXXS)
            font-size: 12px
            line-height: 24px

    &__upload-previews 
        display: flex 
        justify-content: flex-end
        margin-top: 30px
        width: 100%

        @media (max-width: $screenXXS)
            margin-top: 15px

    &__upload-preview 
        position: relative
        margin-left: auto
        width: 66px
        height: 66px
        z-index: 1

        @media (max-width: $screenM)
            width: 72px
            height: 72px
            min-width: 72px

        @media (max-width: $screenXXS)
            width: 36px
            height: 36px
            min-width: 36px

        img 
            display: block
            width: 100%
            height: auto

    &__upload-preview-btn
        @include btn-reset
        @include hover
        position: absolute
        top: -3px
        right: -3px
        width: 18px
        height: 18px
        font-size: 0
        background-color: $purple

        @media (max-width: $screenXXS)
            top: -2px
            right: -2px
            width: 10px
            height: 10px

        &:before,
        &:after 
            content: ""
            position: absolute
            top: 4px
            left: 8px
            width: 1px
            height: 10px
            background-color: #fff
            transform: rotate(45deg)
            transform-origin: center

            ._dark &
                background-color: #383838

            @media (max-width: $screenXXS)
                top: 2px
                left: 4px
                height: 6px

        &:after 
            transform: rotate(-45deg)

    &__message 
        @include field-reset
        padding: 0 12px
        width: 100%
        min-height: 153px
        font-family: inherit
        font-weight: 500
        font-size: 2.083rem
        line-height: 3.3rem
        color: #000
        border: 1px solid rgba(0, 0, 0, .5)
        border-radius: 0
        resize: none

        @media (min-width: $screenXXL)
            font-size: 20.83px
            line-height: 33px

        @media (max-width: $screenM)
            padding: 13px 20px
            min-height: 217px
            font-size: 23.7px
            line-height: 28.45px

        @media (max-width: $screenXS)
            border-width: 2px

        @media (max-width: $screenXXS)
            padding: 7px 10px 
            min-height: 108px
            font-size: 12px
            line-height: 14px

        ._dark &
            color: #fff
            border-color: #fff

    &__message-label
        align-self: flex-start
        padding-top: 8px

        @media (max-width: $screenXXS)
            padding-top: 4px

    &__recovery-link 
        @include hover
        margin-left: auto
        text-decoration: underline
        font-size: 14.58px
        line-height: 16px
        color: #000

        @media (max-width: $screenM)
            font-size: 18.97px
            line-height: 20px

        @media (max-width: $screenXXS)
            font-size: 9.5px
            line-height: 10px

.form__field-label._desktop + .form__field 

    @media (max-width: $screenM)
        height: 47px
        padding-left: 21px
        font-size: 23.7px
        line-height: 47px

    @media (max-width: $screenXXS)
        height: 24px
        padding-left: 10px
        font-size: 12px
        line-height: 24px
