.illustration 
    position: relative
    width: 22.8rem
    height: 22.8rem
    background-color: $purple
    overflow: hidden

    @media (min-width: $screenXXL)
        width: 228px
        height: 228px

    @media (max-width: $screenXS)
        width: 158px
        height: 158px

    @media (max-width: $screenXXS)
        width: 79px
        height: 79px

    img 
        display: block
        width: 100%
        height: auto

    &__btn
        @include center 
        @include btn-reset
        @include hover
        width: 7rem
        height: 7rem
        font-size: 0
        background-color: $purple
        opacity: .7

        @media (min-width: $screenXXL)
            width: 70px
            height: 70px

        @media (max-width: $screenXS)
            width: 49px
            height: 49px

        @media (max-width: $screenXXS)
            width: 25px
            height: 25px

        &:before,
        &:after 
            content: ""
            @include center
            background-color: #fff

        &:before 
            width: 0.3rem   
            height: 2.9rem

            @media (min-width: $screenXXL) 
                width: 3px
                height: 29px

            @media (max-width: $screenXS)
                width: 2px
                height: 20px

            @media (max-width: $screenXXS)
                width: 1px
                height: 10px

        &:after 
            width: 2.9rem
            height: 0.3rem

            @media (min-width: $screenXXL)
                width: 29px
                height: 3px

            @media (max-width: $screenXS)
                width: 20px
                height: 2px

            @media (max-width: $screenXXS)
                width: 10px
                height: 1px