.intro
    position: relative
    box-sizing: border-box
    padding-top: 220px
    padding-bottom: 50px
    min-height: 588px
    text-align: center
    color: #fff
    background-color: #000
    background-image: url("../images/bg-intro.jpg")
    background-repeat: no-repeat 
    background-size: cover 
    background-position: top center

    @media (max-width: $screenL)
        padding-top: 150px
        padding-bottom: 50px
        min-height: 300px

    @media (max-width: $screenXS)
        padding-top: 72px
        padding-bottom: 68px
        background-image: url("../images/bg-intro-mob.jpg")

    @media (max-width: $screenXXS)
        padding-top: 36px
        padding-bottom: 34px
        min-height: 150px

    .col-4 

        @media (max-width: $screenL)
            flex: 0 0 50%
            max-width: 50%

        @media (max-width: $screenXS)
            flex: 0 0 100% 
            max-width: 100%

    &:before 
        content: ""
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        background-color: rgba(0, 0, 0, .77)
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, .28) 0%, rgba(255, 255, 255, .28) 1px, rgba(255, 255, 255, .14) 1px, rgba(255, 255, 255, .14) 2px, rgba(255, 255, 255, .7) 2px, rgba(255, 255, 255, .7) 3px), url("../images/pattern.png")
        background-repeat: no-repeat, repeat
        background-size: 100% 3px, auto
        background-position: bottom left, top center

    &>*
        position: relative

    &__headline
        margin: 0 0 30px 0
        font-weight: 300
        font-size: 16.67px
        line-height: 20px

        @media (max-width: $screenXS)
            margin-bottom: 36px
            padding: 0 20px
            font-size: 17.78px
            line-height: 23.71px

        @media (max-width: $screenXXS)
            margin-bottom: 18px
            padding: 0 10px 
            font-size: 10px
            line-height: 12px

    &__slogan 
        margin: 0 0 38px 0
        font-weight: 500
        font-size: 3.542rem
        line-height: 4.2rem
        letter-spacing: -0.02rem

        @media (min-width: $screenXXL)
            font-size: 35.42px
            line-height: 42px
            letter-spacing: -0.2px

        @media (max-width: $screenL)
            font-size: 34px
            line-height: 42px

        @media (max-width: $screenXS)
            font-size: 30.82px
            line-height: 36px

        @media (max-width: $screenXXS)
            margin-bottom: 19px
            font-size: 16px
            line-height: 18px
            letter-spacing: 0

    &__btn 
        width: 100%

        @media (max-width: $screenXS)
            margin-left: auto
            margin-right: auto
            max-width: 546px

        @media (max-width: $screenXXS)
            max-width: 283px

    &__logo 
        display: none
        margin-left: auto
        margin-right: auto
        margin-bottom: 60px

        svg 
            display: block
            width: 100%
            height: auto
            fill: #fff

        @media (max-width: $screenXS)
            display: block

        @media (max-width: $screenXXS)
            margin-bottom: 30px
            width: 106px
            height: 108px
