.invest
    padding-bottom: 80px

    @media (max-width: $screenXS)
        padding-bottom: 50px

    @media (max-width: $screenXXS)
        padding-bottom: 25px

    &__headline
        margin: 30px 0 25px 0
        font-weight: 400
        text-align: center
        font-size: 25px
        line-height: 36px

        @media (max-width: $screenXS)
            margin-top: 25px
            margin-bottom: 23px
            font-size: 21.33px
            line-height: 27px

        @media (max-width: $screenXXS)
            margin-top: 12px
            margin-bottom: 12px
            font-size: 11px
            line-height: 14px

    &__title 
        position: relative
        margin: 0
        padding-bottom: 47px
        font-weight: 700
        text-align: center
        font-size: 40px
        line-height: 50px

        @media (max-width: $screenXS)
            padding-bottom: 36px
            font-size: 30.81px
            line-height: 41px

        @media (max-width: $screenXXS)
            padding-bottom: 18px
            font-size: 16px
            line-height: 20px

    &__body 
        position: relative
        padding-top: 55px

        @media (max-width: $screenXS)
            padding-top: 45px

        @media (max-width: $screenXXS)
            padding-top: 22px

        &:after 
            content: ""
            @include centerH
            top: 0
            width: 425px
            border-bottom: 1px solid rgba(0, 0, 0, .35)

            @media (max-width: $screenXS)
                width: calc(100vw - 90px)
                border-width: 2px

            @media (max-width: $screenXXS)
                width: calc(100vw - 44px)

        @media (max-width: 900px)
            flex-direction: column

            .col-6
                flex: 0 0 100%
                max-width: 100%

    &__lead 
        margin: 0 auto 
        margin-bottom: 52px
        max-width: 60%
        text-align: center
        font-weight: 400
        font-size: 25px
        line-height: 36px

        @media (max-width: $screenM)
            max-width: 80%

        @media (max-width: $screenXXS)
            font-size: 12px
            line-height: 18px
            margin-bottom: 26px

    &__footer 
        position: relative
        margin-top: 45px
        padding-top: 50px

        @media (max-width: $screenXXS)
            margin-top: 25px
            padding-top: 25px

            .col-6
                flex: 0 0 90%
                max-width: 90%

        &-text 
            text-align: center
            font-weight: 400
            font-size: 3rem
            line-height: 3.6rem

            a 
                @include hover
                color: $purple
                text-decoration: underline

            @media (min-width: $screenXXL)
                font-size: 30px
                line-height: 36px

            @media (max-width: $screenL)
                font-size: 20px
                line-height: 30px

            @media (max-width: $screenXXS)
                font-size: 10px
                line-height: 15px

        &:after 
            content: ""
            @include centerH
            top: 0
            width: 425px
            border-bottom: 1px solid rgba(0, 0, 0, .35)

            @media (max-width: $screenXS)
                width: calc(100vw - 90px)
                border-width: 2px

            @media (max-width: $screenXXS)
                width: calc(100vw - 44px)

.invest-block
    padding-left: 6px

    @media (max-width: $screenXS)
        padding-left: 0

    &__label 
        margin: -9px 0 43px 0
        padding-left: 4px
        font-size: 21px
        line-height: 30px

        @media (max-width: $screenXL)
            margin-bottom: 40px
            line-height: 28px

        @media (max-width: $screenL)
            margin-top: -5px
            margin-bottom: 24px
            font-size: 18px
            line-height: 24px

        @media (max-width: $screenXS)
            margin-left: auto
            margin-right: auto
            margin-top: 0
            margin-bottom: 22px
            padding-left: 0
            max-width: 350px
            text-align: center
            font-size: 18.96px
            line-height: 26px

        @media (max-width: $screenXXS)
            margin-bottom: 11px
            max-width: 175px
            font-size: 9.5px
            line-height: 13px

    &__text 
        margin: 0 0 24px 0
        max-width: 90%
        font-size: 18px
        line-height: 24px

        @media (max-width: $screenXL)
            margin-bottom: 22px
            line-height: 22px

        @media (max-width: $screenL)
            margin-bottom: 20px
            font-size: 16px
            line-height: 20px

        @media (max-width: $screenXS)
            margin-left: auto
            margin-right: auto
            text-align: center
            font-size: 16.59px
            line-height: 21.33px

        @media (max-width: $screenXXS)
            font-size: 8.5px
            line-height: 10.5px

.invest-form
    margin-bottom: 43px

    @media (max-width: $screenXL)
        margin-bottom: 33px

    @media (max-width: $screenXS)
        display: flex
        flex-direction: column
        align-items: center
        margin-bottom: 50px

    @media (max-width: $screenXXS)
        margin-bottom: 25px

    &__field 
        @include field-reset
        display: block
        box-sizing: border-box
        padding: 0 5px
        width: 100%
        font-weight: 700
        font-size: 60px
        line-height: 115px
        height: 117px
        border-top: 1px solid rgba(0, 0, 0, .35)
        border-bottom: 1px solid rgba(0, 0, 0, .35)

        @media (max-width: $screenL)
            font-size: 50px
            line-height: 95px
            height: 97px

        @media (max-width: $screenXS)
            display: block
            margin-left: 25px
            margin-right: 25px
            padding: 0 20px
            width: calc(100% - 50px)
            text-align: center
            font-size: 47.4px
            line-height: 87px
            border-width: 2px
            height: 91px

        @media (max-width: $screenXXS)
            margin-left: 12px
            margin-right: 12px
            padding: 0 10px 
            width: calc(100% - 24px)
            font-size: 24px
            line-height: 44px
            border-width: 1px
            height: 46px

    &__label 
        margin: 40px 0
        display: block
        font-size: 25px
        line-height: 30px

        @media (max-width: $screenXL)
            font-size: 20px
            line-height: 26px

        @media (max-width: $screenL)
            margin: 30px 0

        @media (max-width: $screenXS)
            text-align: center
            font-size: 23.7px
            line-height: 28.44px

        @media (max-width: $screenXXS)
            margin-bottom: 15px
            font-size: 12px
            line-height: 14px

    &__submit

        @media (max-width: $screenXS)
            margin-left: auto
            margin-right: auto
