.invest-card
    margin-bottom: 20px
    padding: 2.3rem 2.4rem
    padding-bottom: 1.9rem
    border: 1px solid #d5d5d5

    @media (min-width: $screenXXL)
        padding: 23px 24px
        padding-bottom: 19px

    @media (max-width: $screenM)
        margin-bottom: 21px
        padding: 42px 47px

    @media (max-width: $screenXXS)
        margin-bottom: 10px
        padding: 21px 24px

    &__header 
        display: flex

    &__img 

        @media (max-width: $screenM)
            max-width: 350px

        @media (max-width: $screenXXS)
            max-width: 175px

        img 
            display: block
            max-width: 100%
            height: auto

            @media (max-width: $screenM)
                width: 100%

    &__progress 
        margin-top: 14px

        @media (max-width: $screenM)
            margin-top: 32px

        @media (max-width: $screenXXS)
            margin-top: 16px

    &__progress-label 
        margin: 0 0 5px 0
        font-size: 1.3rem
        line-height: 1.9rem

        @media (min-width: $screenXXL)
            font-size: 13px
            line-height: 19px

        @media (max-width: $screenM)
            font-size: 23.7px
            line-height: 38px

        @media (max-width: $screenXXS)
            margin-bottom: 3px
            font-size: 12px
            line-height: 19px

    &__progress-legend 
        margin: 10px 0 0 0
        font-weight: 700
        font-size: 1.3rem
        line-height: 1.9rem

        @media (min-width: $screenXXL)
            font-size: 13px
            line-height: 19px

        @media (max-width: $screenM)
            margin-bottom: 2px
            margin-top: 7px
            font-size: 30.82px
            line-height: 36px

        @media (max-width: $screenXXS)
            margin-bottom: 1px
            margin-top: 4px
            font-size: 15px
            line-height: 18px

    &__status   
        @include row-component
        margin-left: auto
        margin-top: 2px
        margin-bottom: auto
        padding: 0 1rem
        font-size: 1.499rem
        line-height: 2.8rem
        border: 1px solid #000

        @media (min-width: $screenXXL)
            padding: 0 10px
            font-size: 14.99px
            line-height: 28px

        @media (max-width: $screenL)
            margin-left: 10px
            margin-top: 6px
            font-size: 12px

        @media (max-width: $screenM)
            margin-left: auto
            margin-top: 20px
            padding: 0 15px
            font-size: 21.87px
            line-height: 40px

        @media (max-width: $screenXXS)
            margin-top: 6px
            margin-left: 10px
            padding: 0 8px
            font-size: 11px
            line-height: 20px

        .icon 
            margin-right: 1rem
            width: 16px
            height: 12px

            @media (min-width: $screenXXL)
                margin-right: 10px

            @media (max-width: $screenL)
                margin-right: 5px
                width: 8px
                height: 6px

            @media (max-width: $screenM)
                margin-right: 15px
                width: 21px
                height: 18px

            @media (max-width: $screenXXS)
                margin-right: 8px
                width: 10px
                height: 9px

            img 
                display: block
                width: 100%
                height: auto
