.lang-block
    margin-left: 0
    padding: 0
    list-style: none
    display: flex
    justify-content: flex-end

    @media (max-width: $screenXS)
        order: 2
        margin-bottom: 0

    @media (max-width: $screenXS)
        margin-left: 33px

    @media (max-width: $screenXXS)
        margin-left: 10px
        margin-right: 6px

    li 
        margin-left: 1.6rem
        font-weight: 500

        @media (min-width: $screenXXL)
            margin-left: 16px

        @media (max-width: $screenXS)
            margin-left: 23px

        @media (max-width: $screenXXS)
            margin-left: 11px

        &.current

            a
                color: #282828 
                border-bottom: 1px solid $transparent 
                pointer-events: none

                @media (max-width: $screenXS)
                    color: #fff

                ._dark &
                    color: #fff

    a
        @include hover
        font-size: 2.083rem
        line-height: 2.2rem
        color: $purple
        border-bottom: 1px solid $purple

        @media (min-width: $screenXXL)
            font-size: 20.83px
            line-height: 22px

        @media (max-width: $screenL)
            font-size: 14px
            line-height: 22px

        @media (max-width: $screenXS)
            font-size: 23.71px
            line-height: 40px

        @media (max-width: $screenXXS)
            font-size: 12px
            line-height: 20px

        &:hover,
        &:focus
            text-decoration: none

