.logo
    flex-shrink: 1
    display: block
    width: 132px
    height: 132px

    @media (max-width: $screenL)
        width: 100px
        height: 100px

    @media (max-width: $screenM)
        width: 88px
        height: 88px
        flex: none

    @media (max-width: $screenXS)
        display: none

        &.page-footer__logo
            display: block

    @media (max-width: $screenXXS)
        width: 47px
        height: 47px

    img,
    svg 
        display: block
        width: 100%
        height: auto