.main-navigation

    ul 
        @include list-reset
        display: flex

        @media (max-width: $screenXS)
            display: block

    li 
        margin: 11px 22px

        &._mobile 
            display: none

            @media (max-width: $screenXS)
                display: block

        @media (max-width: $screenL)
            margin: 11px

        @media (max-width: $screenXS)
            display: block
            margin-bottom: 65px
            margin-left: auto
            margin-right: auto
            max-width: 320px

        @media (max-width: $screenXXS)
            margin-bottom: 32px
            max-width: 160px

    a 
        @include hover
        font-weight: 500
        font-size: 2.081rem
        line-height: 2.2rem
        color: $purple
        white-space: nowrap
        border-bottom: 1px solid $purple

        @media (min-width: $screenXXL)
            font-size: 20.81px
            line-height: 22px

        @media (max-width: $screenL)
            font-size: 14px
            line-height: 15px

        @media (max-width: $screenXS)
            font-size: 35.56px
            line-height: 37px
            color: #fff
            border-color: #fff

        @media (max-width: $screenXXS)
            font-size: 18px
            line-height: 19px

        ._dark &
            color: #fff
            border-color: #fff

        &:hover,
        &:focus 
            text-decoration: none

