.menu-trigger
    @include btn-reset
    position: absolute
    left: 23px
    top: 32px
    display: none
    width: 42px
    height: 24px
    font-size: 0
    z-index: 2

    @media (max-width: $screenXXS)
        left: 12px
        top: 16px
        width: 21px
        height: 12px

    span 
        @include centerV
        left: 0
        width: 100%
        height: 2px
        background-color: #fff 

        &:before,
        &:after 
            content: ""
            position: absolute
            left: 0
            width: 100%
            height: 2px
            background-color: #fff
            transition: transform 0.3s ease

        &:before 
            top: -12px

            @media (max-width: $screenXXS)
                top: -6px

        &:after 
            bottom: -12px

            @media (max-width: $screenXXS)
                bottom: -6px

    .opened & 

        span 
            background-color: $transparent

            &:before,
            &:after 
                top: 0
                bottom: auto

            &:before
                transform: rotate(45deg)

            &:after 
                transform: rotate(-45deg)

    @media (max-width: $screenXS)
        display: block