.message-control
    position: relative
    display: inline-block
    vertical-align: top

    &__icon 
        width: 48px
        height: 34px

        @media (max-width: $screenXXS)
            width: 24px
            height: 17px

        img 
            display: block
            width: 100%
            height: auto

    &__indicator 
        position: absolute
        bottom: -14px
        right: -18px
        width: 27px
        height: 27px
        text-align: center
        font-weight: 400
        font-size: 21.57px
        line-height: 27px
        color: #fff 
        background-color: #bfbfbf
        transition: background-color 0.3s ease

        @media (max-width: $screenXXS)
            bottom: -7px
            right: -9px
            width: 14px
            height: 14px
            font-size: 10px
            line-height: 14px

        .active & 
            background-color: $purple