.messages-block

    @media (max-width: $screenM)
        display: flex 
        flex-direction: column 
        align-items: center
        padding-bottom: 90px

        @media (max-width: $screenXXS)
            padding-bottom: 45px

    &__wrapper 
        margin-bottom: 42px

        @media (max-width: $screenM)
            width: 100%

        @media (max-width: $screenXXS)
            margin-bottom: 21px


    &__link
        @include hover
        @include row-component
        text-decoration: underline
        font-size: 2.1rem
        line-height: 2.1rem
        color: $purple

        &:hover,
        &:focus 
            color: $purple

        @media (min-width: $screenXXL)
            font-size: 21px
            line-height: 21px

        @media (max-width: $screenM)
            font-size: 23.7px
            line-height: 24px

        @media (max-width: $screenXXS)
            font-size: 11px
            line-height: 12px

        span 
            text-decoration: underline

        .icon 
            text-decoration: none
            margin-left: 1.4rem
            width: 0.9rem
            height: 1.8rem
            background-image: url("../images/arr-purple.png")
            background-repeat: no-repeat 
            background-size: contain 
            background-position: center

            @media (min-width: $screenXXL)
                margin-left: 14px
                width: 9px
                height: 18px

            @media (max-width: $screenM)
                margin-left: 14px
                width: 13px
                height: 24px

            @media (max-width: $screenXXS)
                margin-left: 7px
                width: 7px
                height: 12px

.message-previews
    @include list-reset
    border: 1px solid #d5d5d5
    border-bottom: none

    &__item 
        border-bottom: 1px solid #d5d5d5

.message-preview
    position: relative
    display: flex
    padding: 1.1rem 2.2rem
    padding-right: 1rem
    font-size: 1.799rem
    line-height: 2.4rem
    color: $textColor

    &:after 
        content: ""
        position: absolute
        top: -4px
        bottom: -4px
        left: -4px
        right: -4px
        border: 5px solid $purple
        opacity: 0
        transition: opacity 0.3s ease

    &:hover 

        &:after 
            opacity: 1

    @media (min-width: $screenXXL)
        padding: 11px 22px 
        padding-right: 10px
        font-size: 17.99px
        line-height: 24px

    @media (max-width: $screenM)
        padding: 10px 35px
        font-size: 18.95px
        line-height: 23px

    @media (max-width: $screenXXS)
        padding: 5px 18px
        font-size: 9.5px
        line-height: 11.5px

    &__date 
        padding-right: 1rem
        min-width: 9.6rem
        font-weight: 400
        color: $purple

        @media (min-width: $screenXXL)
            padding-right: 10px
            min-width: 96px

        @media (max-width: $screenM)
            padding-right: 60px

        @media (max-width: $screenXXS)
            padding-right: 30px

    &__subject 
        color: $textColor