.modal 

    &__btn 
        margin-bottom: 15px
        font-size: 20.83px
        line-height: 35px

        &._even 
            min-width: 380px

            @media (max-width: $screenXS)
                min-width: 480px

            @media (max-width: $screenXXS)
                min-width: 270px

        @media (max-width: $screenM)
            font-size: 23.75px
            line-height: 47px

        @media (max-width: $screenXXS)
            font-size: 12px
            line-height: 23px

    &__buttons 
        text-align: center

    &__text-block 
        display: flex 
        flex-direction: column 
        align-items: center
        margin-top: 45px
        margin-bottom: 56px
        margin-left: auto
        margin-right: auto
        max-width: 425px
        text-align: center

    &__lead 
        margin: 0 0 35px 0
        text-align: center
        font-size: 21px
        line-height: 26px

        @media (max-width: $screenXS)
            font-size: 30.82px
            line-height: 40px

        @media (max-width: $screenXXS)
            font-size: 15px
            line-height: 20px

    &__text 
        margin: 0
        font-size: 18px
        line-height: 22px

        @media (max-width: $screenXS)
            font-size: 21.34px
            line-height: 28px

        @media (max-width: $screenXXS)
            font-size: 10px
            line-height: 14px

    &__slogan 
        margin: 0 0 20px 0
        max-width: 520px
        font-size: 18.75px
        line-height: 22.92px

        @media (max-width: $screenM)
            font-size: 10px
            line-height: 12px

    &__note 
        margin: 20px 0 44px 0
        font-size: 14.58px
        line-height: 24px

        @media (max-width: $screenM)
            font-size: 8px
            line-height: 12px

    &__tab-controls
        display: none

        @media (max-width: $screenM)
            display: block

    .tab-controls 
        padding-top: 0

    &__tabs 

        .tab 

            &__title 

                @media (max-width: $screenM)
                    display: none

            .modal-form
                margin-top: 0

            @media (min-width: $screenM + 1)
                position: relative
                padding-top: 9px
                opacity: 1
                z-index: initial 
                height: auto
                overflow: auto

                &:first-child 
                    border-right: 1px solid #d5d5d5

            @media (max-width: $screenM)
                flex: 0 0 100%
                max-width: 100%
                padding-left: 0
                padding-right: 0

    .form__select 
        font-size: 15px

.modal-dialog
    width: 810px
    min-width: 810px
    border-radius: 0

    @media (max-width: $screenS)
        min-width: 500px
        max-width: 100%

    @media (max-width: $screenXS)
        min-width: 100%

    @media (max-width: $screenXS)
        margin: 0

    &._welcome

        .modal-content
            color: #fff
            border: 9px solid $purple
            background-color: #000
            background-image: url("../images/bg-intro.jpg")
            background-repeat: no-repeat 
            background-size: cover 
            background-position: top center

            @media (max-width: $screenXXS)
                border: none

            &:before 
                content: ""
                position: absolute
                top: 0
                bottom: 0
                left: 0
                right: 0
                background-color: rgba(0, 0, 0, .77)
                background-image: linear-gradient(to bottom, rgba(255, 255, 255, .28) 0%, rgba(255, 255, 255, .28) 1px, rgba(255, 255, 255, .14) 1px, rgba(255, 255, 255, .14) 2px, rgba(255, 255, 255, .7) 2px, rgba(255, 255, 255, .7) 3px)
                background-repeat: no-repeat
                background-size: 100% 3px
                background-position: bottom left
                //background-image: linear-gradient(to bottom, rgba(255, 255, 255, .28) 0%, rgba(255, 255, 255, .28) 1px, rgba(255, 255, 255, .14) 1px, rgba(255, 255, 255, .14) 2px, rgba(255, 255, 255, .7) 2px, rgba(255, 255, 255, .7) 3px), url("../images/pattern.png")
                //background-repeat: no-repeat, repeat
                //background-size: 100% 3px, auto
                //background-position: bottom left, top center

    &._pitch 

        .modal-content
            padding-top: 47.64%
            padding-bottom: 35px
            border: 9px solid $purple
            background-image: url("../images/bg-popup.jpg")
            background-repeat: no-repeat
            background-size: 100% auto 
            background-position: left top

            @media (max-width: $screenXXS)
                border: none

        .modal-header
            padding: 0

    &._invest1

        .modal__lead
            margin-top: 30px

        .modal-form__btn 
            margin-top: 65px

.modal-content
    padding: 0 80px
    padding-bottom: 80px
    border: none
    border-radius: 0

    @media (max-width: $screenS)
        padding: 0 40px 
        padding-bottom: 40px

    @media (max-width: $screenXXS)
        padding-top: 40px
        padding-bottom: 40px
        min-height: 100vh
        display: flex 
        flex-direction: column 
        justify-content: center

.modal-header,
.modal-body,
.modal-footer
    padding: 0
    border: none

.modal .close
    position: absolute
    top: 27px
    right: 27px
    @include btn-reset
    width: 16px
    height: 16px
    font-size: 0
    z-index: 1

    &:before,
    &:after 
        content: ""
        position: absolute
        top: -3px
        left: 7px
        width: 2px
        height: 22px
        background-color: #a1a1a1
        transform: rotate(45deg)

        ._welcome &,
        ._pitch &
            background-color: #fff

    &:after 
        transform: rotate(-45deg)

.modal-header
    display: flex 
    flex-direction: column
    align-items: center
    padding-top: 75px
    text-align: center

    @media (max-width: $screenXXS)
        padding-top: 0

    .modal-title 
        margin-left: auto
        margin-right: auto
        max-width: 100%
        text-align: center
        font-weight: 700
        font-size: 29.17px
        line-height: 35px

        @media (max-width: $screenXS)
            font-size: 42.68px
            line-height: 50px
        @media (max-width: $screenXXS)
            font-size: 21px
            line-height: 25px

        a
            @include hover
            color: $purple
            text-decoration: underline

.modal-body

    @media (max-width: $screenXXS)
        flex-grow: 0

.modal-form
    margin-top: 55px

    @media (max-width: $screenXS)
        flex-direction: column

    &__text-block

        &._modal 
            display: none
            margin: 16px 0

            @media (max-width: $screenXS)
                display: block

            @media (max-width: $screenXXS)
                margin: 8px 0

    &__row 

        &._desktop 

            @media (max-width: $screenXS)
                display: none

        @media (max-width: $screenXS)

            .col-3,
            .col-9 
                flex: 0 0 100%
                max-width: 100% 

    &__step 

        &-header,
        &-footer
            display: none

            @media (max-width: $screenXS)
                display: flex

        &-footer
            justify-content: center

        &-header
            flex-direction: column 
            align-items: center
            margin-bottom: 45px

            @media (max-width: $screenXXS)
                margin-bottom: 24px

            a 
                position: relative
                @include hover
                margin-bottom: 44px
                padding-left: 33px
                text-decoration: none
                font-size: 23.71px
                line-height: 29px
                color: $purple 

                @media (max-width: $screenXXS)
                    margin-bottom: 22px
                    padding-left: 17px
                    font-size: 12px
                    line-height: 15px

                &:before 
                    content: ""
                    @include centerV 
                    left: 0
                    width: 13px
                    height: 23px
                    background-image: url("../images/arr-purple-prev.png")
                    background-repeat: no-repeat
                    background-size: contain 
                    background-position: center

                    @media (max-width: $screenXXS)
                        width: 7px
                        height: 12px

            p
                margin: 0
                padding: 14px 0
                width: 100%
                text-align: center
                font-weight: 400
                font-size: 23.71px
                line-height: 40px
                border-top: 2px solid #e1e1e1
                border-bottom: 2px solid #e1e1e1

                @media (max-width: $screenXXS)
                    padding: 7px 0
                    font-size: 12px
                    line-height: 20px
                    border-width: 1px

    &__section 
        position: relative
        margin-bottom: 36px
        padding-bottom: 35px

        &:after 
            content: ""
            @include centerH
            bottom: 0
            width: 425px
            border-bottom: 1px solid rgba(0,0,0,.35)

            @media (max-width: $screenXS)
                display: none

        .modal-form__row 
            margin-bottom: 30px

            @media (max-width: $screenXXS)
                margin-bottom: 15px

    ._nowrap
        flex-wrap: nowrap
        align-items: center

        label 
            margin-bottom: 0

    ._wraponmobile 

        @media (max-width: $screenS)
            flex-wrap: wrap

            label 
                margin-bottom: 7px

        @media (max-width: $screenXXS)

            label 
                margin-bottom: 4px

        @media (max-width: $screenXS)

            .form__field,
            .form__select-wrapper
                margin-right: 0
                margin-left: 0
                margin-bottom: 16px
                min-width: 100%

    &__separator 
        display: block
        padding: 20px
        padding-top: 0
        text-align: center
        font-size: 21px
        line-height: 35px

        @media (max-width: $screenXS)
            padding-top: 20px   

        @media (max-width: $screenXXS)
            padding: 10px
            padding-top: 10px
            font-size: 10px
            line-height: 18px

    &__checkbox-label 
        display: flex
        flex-direction: column 
        justify-content: center
        padding-left: 36px
        font-size: 14px
        line-height: 19px

        @media (max-width: $screenXS)
            padding-left: 44px
            font-size: 18.96px
            line-height: 30px

        @media (max-width: $screenXXS)
            padding-left: 22px
            font-size: 9.5px
            line-height: 15px

    &__footer 
        @include row-component

    &__title 
        margin: 0 0 35px 0
        font-weight: 400
        font-size: 25px
        line-height: 29.17px

    &__field-label 
        margin: 0 0 7px 0
        font-size: 14.58px 
        line-height: 20px

        @media (max-width: $screenM)
            font-size: 12px
            line-height: 14px

        @media (max-width: $screenXXS)
            font-size: 9.5px
            line-height: 12px

    &__note 
        margin-bottom: 30px

        @media (max-width: $screenM)
            text-align: center

    .col-6
        position: relative

        @media (max-width: $screenXS)
            flex:  0 0 100%
            max-width: 100%

        &:first-child 
            border-right: 1px solid #d4d4d4

            @media (max-width: $screenXS)
                padding-bottom: 40px
                border: none

                &:after 
                    content: ""
                    position: absolute
                    bottom: 0
                    left: 15px
                    right: 15px
                    border-bottom: 2px solid #d4d4d4

        &:nth-child(2)

            @media (max-width: $screenXS)
                padding-top: 40px

        &._vertical 
            display: flex 
            flex-direction: column 
            justify-content: center

    .form 

        &__field-wrapper
            width: 100%

    &__group 
        margin-bottom: 45px

        @media (max-width: $screenXXS)
            margin-bottom: 30px