.personal-card

    @media (max-width: $screenM)
        color: #fff
        background-color: #2b2b2b

    &__img 
        margin-bottom: 30px
        width: 10rem
        height: 10rem
        overflow: hidden

        img 
            display: block
            width: 100%
            height: auto

        @media (min-width: $screenXXL)
            width: 100px
            height: 100px

        @media (max-width: $screenM)
            width: 154px
            height: 154px

        @media (max-width: $screenXXS)
            margin-bottom: 15px
            width: 77px
            height: 77px

    &__header 
        padding-bottom: 6px
        border-bottom: 1px solid #d5d5d5

        @media (max-width: $screenM)
            display: flex 
            flex-direction: column 
            align-items: center
            padding-top: 40px
            padding-bottom: 0
            text-align: center
            border-bottom: none

            br 
                display: none

        @media (max-width: $screenXS)
            padding-top: 0

    &__footer 
        display: flex
        flex-direction: column
        align-items: flex-start
        padding-top: 25px

        @media (max-width: $screenM)
            flex-direction: row
            justify-content: center
            padding-top: 20px
            padding-bottom: 48px

        @media (max-width: $screenXXS)
            padding-top: 10px
            padding-bottom: 24px

    &__body 
        padding-top: 22px
        padding-bottom: 19px
        border-bottom: 1px solid #d5d5d5

    &__name 
        margin: 0 0 16px 0
        font-weight: 700
        font-size: 2.5rem
        line-height: 3rem

        @media (min-width: $screenXXL)
            font-size: 25px
            line-height: 30px

        @media (max-width: $screenM)
            font-size: 30.82px
            line-height: 34px

        @media (max-width: $screenXXS)
            font-size: 14px
            line-height: 17px

    &__position 
        margin: 0 0 16px 0
        font-weight: 400
        font-size: 2.1rem
        line-height: 2.4rem

        @media (min-width: $screenXXL)
            font-size: 21px
            line-height: 24px

        @media (max-width: $screenM)
            font-size: 18.96px
            line-height: 29px

        @media (max-width: $screenXXS)
            font-size: 10px
            line-height: 14px

    &__info-item 
        margin-bottom: 25px

        &:last-child 
            margin-bottom: 0

    &__label 
        margin: 0 0 2px 0
        font-weight: 700
        font-size: 1.8rem
        line-height: 2rem

        @media (min-width: $screenXXL)
            font-size: 18px
            line-height: 20px

    &__contacts
        @include hover
        display: block

    &__contacts,
    &__text
        margin: 0
        font-size: 1.8rem
        line-height: 2.4rem
        color: $textColor

        @media (min-width: $screenXXL)
            font-size: 18px
            line-height: 24px

    &__btn 
        display: flex
        justify-content: center
        align-items: center
        margin-bottom: 10px
        padding: 7px 15px
        min-width: 203px
        font-weight: 400
        font-size: 21px
        line-height: 21px

        @media (max-width: $screenL)
            min-width: 100%
            font-size: 18px

        @media (max-width: $screenM)
            margin: 0 4px
            min-width: 164px

        @media (max-width: $screenXXS)
            margin: 0 2px 
            padding: 4px 8px
            min-width: 82px
            font-size: 10px
            line-height: 10.5px

        .logout-icon 
            margin-left: auto
            width: 18px
            height: 19px
            border-left: 1px solid #fff
            background-image: url("../images/btn-arr.png")
            background-repeat: no-repeat
            background-position: right center
            background-size: 14px auto

            @media (max-width: $screenXXS)
                width: 9px
                height: 10px
                background-size: 7px auto