.pitch-block
    display: flex 
    flex-direction: column 
    align-items: center
    padding-top: 25px
    text-align: center

    &__date 
        margin: 0
        font-weight: 400
        font-size: 21px
        line-height: 39px
        color: $purple

        @media (max-width: $screenXS)
            font-size: 30.82px
            line-height: 47.42px

        @media (max-width: $screenXXS)
            font-size: 16px
            line-height: 24px

    &__title 
        margin: 0 0 16px 0
        font-weight: 400
        font-size: 30px
        line-height: 48px

        @media (max-width: $screenXS)
            font-size: 42.68px
            line-height: 47.42px

        @media (max-width: $screenXXS)
            font-size: 23px
            line-height: 24px

    &__descr
        margin: 0 0 11px 0
        font-size: 18px
        line-height: 24px

        @media (max-width: $screenXS)
            font-size: 23.71px
            line-height: 30.82px

        @media (max-width: $screenXXS)
            font-size: 12px
            line-height: 16px

    &__author 
        margin: 0 0 20px 0
        font-weight: 400
        font-size: 21px
        line-height: 48px

        @media (max-width: $screenXS)
            font-size: 30.82px
            line-height: 71.13px

        @media (max-width: $screenXXS)
            font-size: 15px
            line-height: 30px