.presentation
    position: relative
    margin-top: 47px
    padding-top: 91px
    padding-bottom: 100px
    color: #fff
    background-color: #2b2b2b

    @media (max-width: $screenXL)
        padding-top: 60px
        padding-bottom: 60px

    @media (max-width: $screenXS)
        margin-top: -7px
        padding-top: 0
        padding-bottom: 50px

    @media (max-width: $screenXXS)
        margin-top: -4px
        padding-bottom: 25px

    &__wrapper 

        @media (max-width: $screenXS)
            flex-direction: column

    &__col 

        @media (max-width: $screenXS)
            flex: 0 0 100%
            display: flex 
            flex-direction: column
            align-items: center
            max-width: 100%
            text-align: center

    &__title 
        margin: 0 0 24px 0
        font-weight: 700
        font-size: 60px
        line-height: 70px

        @media (max-width: $screenXL)
            margin-bottom: 20px
            font-size: 40px
            line-height: 50px

        @media (max-width: $screenXS)
            font-size: 42.67px
            line-height: 50px

        @media (max-width: $screenXXS)
            margin-bottom: 12px
            font-size: 22px
            line-height: 25px

    &__tags 
        margin-bottom: 35px

        @media (max-width: $screenXL)
            margin-bottom: 25px

        @media (max-width: $screenXXS)
            margin-bottom: 13px

    &__lead 
        margin: 0 0 28px 0
        font-size: 25px
        line-height: 36px

        @media (max-width: $screenXL)
            margin-bottom: 20px
            font-size: 20px
            line-height: 28px

        @media (max-width: $screenL)
            margin-bottom: 15px
            font-size: 18px
            line-height: 24px

        @media (max-width: $screenXS)
            margin-bottom: 18px
            font-size: 21.33px
            line-height: 26.07px

        @media (max-width: $screenXXS)
            margin-bottom: 9px
            font-size: 11px
            line-height: 13px

    &__text 
        margin: 0
        font-size: 21px
        line-height: 30px

        @media (max-width: $screenXL)
            font-size: 17px
            line-height: 26px

        @media (max-width: $screenL)
            margin-bottom: 10px
            font-size: 14px
            line-height: 21px

        @media (max-width: $screenXS)
            margin-bottom: 22px
            padding-left: 20px
            padding-right: 20px
            font-size: 18.96px
            line-height: 24px

        @media (max-width: $screenXXS)
            margin-bottom: 11px
            padding-left: 10px
            padding-right: 10px
            font-size: 9.50px
            line-height: 12px

    &__link 
        @include hover
        display: block
        margin-bottom: 3px
        margin-bottom: 32px
        text-decoration: underline
        font-weight: 700
        font-size: 25px
        line-height: 27px
        color: $purple

        @media (max-width: $screenXL)
            margin-bottom: 24px
            font-size: 14px
            line-height: 16px

        @media (max-width: $screenXS)
            margin-bottom: 3px
            font-size: 23.70px
            line-height: 25px

        @media (max-width: $screenXXS)
            margin-bottom: 2px
            font-size: 12px
            line-height: 13px

    &__location 
        margin: 0
        font-weight: 400
        font-size: 18px
        line-height: 30px

        @media (max-width: $screenXL)
            font-size: 14px
            line-height: 24px

        @media (max-width: $screenXS)
            font-size: 18.96px
            line-height: 28.45px

        @media (max-width: $screenXXS)
            font-size: 9.50px
            line-height: 14px

    &__video-block 
        margin-top: 8px
        max-width: 91.1%

        @media (max-width: $screenXS)
            margin-top: 35px
            width: 100%
            max-width: 100%

        @media (max-width: $screenXXS)
            margin-top: 18px
