.project-card
    display: flex 
    flex-direction: column
    align-items: center
    margin-bottom: 33px
    padding: 4rem
    padding-top: 6rem
    border: 1px solid $purple

    @media (min-width: $screenXXL)
        padding: 40px
        padding-top: 60px

    @media (max-width: $screenL)
        padding: 30px
        padding-top: 40px

    @media (max-width: $screenM)
        padding: 20px
        padding-top: 30px

    @media (max-width: $screenXS)
        margin-bottom: 22px
        padding: 44px
        padding-bottom: 60px

    @media (max-width: $screenXXS)
        margin-bottom: 11px
        padding: 22px
        padding-bottom: 30px

    &._full 
        flex-direction: row
        align-items: flex-start
        padding: 4.4rem 4.7rem 5rem 4.4rem

        @media (min-width: $screenXXL)
            padding: 44px 47px 50px 44px

        @media (max-width: $screenL)
            padding: 30px 33px 40px 30px

        @media (max-width: $screenXS)
            flex-wrap: wrap
            margin-bottom: 0
            padding-top: 0
            padding-left: 0
            padding-right: 0
            border: none

        @media (max-width: $screenXXS)
            padding-bottom: 20px

        .project-card__image
            padding-bottom: 28px
            border-bottom: none

            @media (max-width: $screenXS)
                padding-bottom: 0

            img 
                margin: 0

        .project-card__progress

            @media (max-width: $screenXS)
                padding-bottom: 35px
                padding-top: 12px
                border-bottom: 2px solid #b3b3b3

            @media (max-width: $screenXXS)
                padding-bottom: 18px
                padding-top: 6px
                border-width: 1px

            &-label 

                @media (max-width: $screenXS)
                    font-size: 21.33px

                @media (max-width: $screenXXS)
                    font-size: 11px

    &._withlink
        flex-direction: column

    &__inner 
        display: flex

    &__main-col 
        margin-right: 6rem
        width: 59.079%
        min-width: 59.079%

        @media (min-width: $screenXXL)
            margin-right: 60px

        @media (max-width: $screenXL)
            margin-right: 20px

        @media (max-width: $screenXS)
            box-sizing: border-box
            margin-right: 0
            padding-right: 40px
            width: 60%

        @media (max-width: $screenXXS)
            padding-right: 20px

    &__aside-col
        font-weight: 400
        font-size: 1.8rem
        line-height: 2.2rem
        max-width: 40.921%

        @media (min-width: $screenXXL)
            font-size: 18px
            line-height: 22px

        @media (max-width: $screenXL)
            font-size: 18px
            line-height: 22px

        @media (max-width: $screenL)
            font-size: 14px
            line-height: 18px

        @media (max-width: $screenXS)
            width: 40%
            min-width: 40%
            font-size: 16.59px
            line-height: 20px

        @media (max-width: $screenXXS)
            font-size: 9px
            line-height: 10px

        p 
            margin: 0

        a
            @include hover
            text-decoration: underline
            color: $purple

            &.project-card__contact
                text-decoration: none
                color: $textColor

                &._phone
                    white-space: nowrap

    &__badge 
        padding: 8px 16px
        border: 1px solid #2c3030
        box-shadow: inset 0 0 1px #9d9e9e

        @media (max-width: $screenL)
            padding: 5px 12px

        @media (max-width: $screenXS)
            padding: 12px 18px

        @media (max-width: $screenXXS)
            padding: 6px 9px

    &__stats 
        margin-bottom: 30px
        padding-top: 3px

        @media (max-width: $screenXXS)
            margin-bottom: 15px

    &__stats-item
        margin-bottom: 26px

        @media (max-width: $screenXL)
            margin-bottom: 30px

        @media (max-width: $screenXS)
            margin-bottom: 22px

        @media (max-width: $screenXXS)
            margin-bottom: 11px

    &__image 
        padding-bottom: 42px
        width: 100%
        border-bottom: 1px solid rgba(0, 0, 0, .35)

        @media (max-width: $screenM)
            padding-bottom: 20px

        @media (max-width: $screenXS)
            padding-bottom: 42px

        @media (max-width: $screenXXS)
            padding-bottom: 21px

        img 
            display: block
            margin: 0 auto
            max-width: 100%
            height: auto

    &__info 
        padding-top: 30px
        padding-bottom: 18px
        width: 100%
        text-align: center
        border-bottom: 1px solid rgba(0, 0, 0, .35)

        @media (max-width: $screenM)
            padding-top: 20px
            padding-bottom: 20px

        @media (max-width: $screenXS)
            padding-top: 40px
            padding-bottom: 0
            border-bottom: none

        @media (max-width: $screenXXS)
            padding-top: 20px

    &__name 
        margin: 0 0 5px 0
        font-weight: 700
        font-size: 2.917rem
        line-height: 3.6rem

        @media (min-width: $screenXXL)
            font-size: 29.17px
            line-height: 36px

        @media (max-width: $screenL)
            font-size: 20px
            line-height: 30px

        @media (max-width: $screenXS)
            margin-bottom: 17px
            font-size: 30.82px
            line-height: 38px

        @media (max-width: $screenXXS)
            margin-bottom: 9px
            font-size: 15px
            line-height: 19px

        a 
            color: $textColor

    &__descr 
        padding-bottom: 12px
        padding-top: 26px
        width: 100%
        border-bottom: 1px solid rgba(0, 0, 0, .35)

        @media (max-width: $screenM)
            padding-top: 20px
            padding-bottom: 0

        @media (max-width: $screenXS)
            padding-top: 40px
            border-bottom: none
            padding-bottom: 0

        @media (max-width: $screenXXS)
            padding-top: 20px

        p 
            margin: 0 0 20px 0
            font-size: 14px
            line-height: 18px

            @media (min-width: $screenXXL)
                font-size: 16.67px
                line-height: 20px

            @media (max-width: $screenXS)
                margin-bottom: 20px
                font-size: 18.97px
                line-height: 23px

            @media (max-width: $screenXXS)
                margin-bottom: 10px
                font-size: 9.5px
                line-height: 11.5px

    &__progress
        padding-top: 8px
        width: 100%

        &._mobile 
            display: none

            @media (max-width: $screenXS)
                display: block

        &._desktop 

            @media (max-width: $screenXS)
                display: none

        &-label 
            margin: 0
            font-size: 2.083rem
            line-height: 3.6rem

            @media (min-width: $screenXXL)
                font-size: 20.83px
                line-height: 36px

            @media (max-width: $screenL)
                font-size: 13px
                line-height: 19px

            @media (max-width: $screenXS)
                font-size: 23.71px
                line-height: 38px

            @media (max-width: $screenXXS)
                font-size: 12px
                line-height: 19px

        &-legend 
            margin: 6px 0 5px 0
            font-weight: 700
            font-size: 2.917rem
            line-height: 3.6rem
            letter-spacing: -0.01rem

            @media (min-width: $screenXXL)
                font-size: 29.17px
                line-height: 36px
                letter-spacing: -0.1px

            @media (max-width: $screenXS)
                margin-top: 6px
                margin-bottom: 3px
                font-size: 30.82px
                line-height: 38px

            @media (max-width: $screenXXS)
                margin-top: 3px
                margin-bottom: 2px
                font-size: 15px
                line-height: 19px

    &__links 
        margin-top: 54px

        @media (max-width: $screenXS)
            margin-top: 50px

        @media (max-width: $screenXXS)
            margin-top: 25px

    &__link 
        @include row-component
        margin-bottom: 23px

        @media (max-width: $screenXS)
            align-items: flex-start

        @media (max-width: $screenXXS)
            margin-bottom: 12px

        &-icon 
            margin-right: 4rem
            min-width: 50px
            stroke: #000

            @media (min-width: $screenXXL)
                margin-right: 40px

            @media (max-width: $screenXL)
                margin-right: 20px

            @media (max-width: $screenXXS)
                margin-right: 10px
                min-width: 25px

        &-text
            padding-top: 4px
            font-weight: 400
            font-size: 2.1rem
            line-height: 3rem
            color: $purple

            @media (min-width: $screenXXL)
                font-size: 21px
                line-height: 30px

            @media (max-width: $screenL)
                font-size: 14px
                line-height: 18px

            @media (max-width: $screenXS)   
                padding-top: 0
                font-size: 21.33px
                line-height: 29.8px

            @media (max-width: $screenXXS)
                font-size: 11px
                line-height: 15px

        i 
            display: block
            width: 4.4rem
            text-align: center
            font-style: normal
            font-weight: 300
            font-size: 4rem
            line-height: 4.4rem
            color: $textColor
            border: 0.2rem solid #000

            @media (min-width: $screenXXL)
                width: 44px
                font-size: 40px
                line-height: 44px
                border-width: 2px

            @media (max-width: $screenXL)
                width: 44px
                font-size: 40px
                line-height: 44px
                border-width: 2px

            @media (max-width: $screenXXS)
                width: 22px
                font-size: 20px
                line-height: 22px
                border-width: 1px

        svg 
            display: block
            max-width: 48px
            height: auto

            @media (max-width: $screenXXS)
                max-width: 24px

        &:hover,
        &:focus 
            .project-card__link-text
                text-decoration: underline

    &__btn  
        margin-top: 25px
        padding: 1rem
        min-width: 43.2rem
        font-size: 3rem
        line-height: 3.4rem

        @media (min-width: $screenXXL)
            padding: 10px
            min-width: 432px
            font-size: 30px
            line-height: 34px

    &__big-btn 
        margin-top: 40px
        padding: 1.5rem
        width: 100%
        font-size: 3rem
        line-height: 3.4rem

        @media (min-width: $screenXXL)
            padding: 15px
            font-size: 30px
            line-height: 34px

        @media (max-width: $screenM)
            padding: 10px
            font-size: 24px
            line-height: 28px

        @media (max-width: $screenXXS)
            padding: 5px
            font-size: 12px
            line-height: 14px