.project

    &__header 

        @media (max-width: $screenXS)
            background-color: #2b2b2b

    .breadcrumb 

        &-item 

            &:before 
                background-image: url("../images/arr-prev-w.png")

        a
            color: #fff