.projects
    padding-top: 40px

    @media (max-width: $screenXS)
        padding-top: 70px

    @media (max-width: $screenXXS)
        padding-top: 35px

    &__title 
        margin: 0 0 38px 0
        font-weight: 700
        text-align: center
        font-size: 29.17px
        line-height: 36px

        @media (max-width: $screenXS)
            margin-bottom: 60px
            font-size: 30.82px
            line-height: 40px

        @media (max-width: $screenXXS)
            margin-bottom: 30px
            font-size: 16px
            line-height: 20px

    &__wrapper 
        display: flex 
        flex-wrap: wrap
        margin-left: -15px
        margin-right: -15px

        .col-4

            @media (max-width: $screenM)
                flex: 0 0 50%
                max-width: 50%

            @media (max-width: $screenXS)
                flex: 0 0 100%
                max-width: 100%

    &__footer 
        display: flex 
        justify-content: center 
        padding-top: 17px
        padding-bottom: 74px

        @media (max-width: $screenXS)
            padding-top: 4px
            padding-bottom: 20px

    &__show-more 
        @include btn-reset 
        @include hover
        font-size: 0
        width: 64px
        height: 32px
        background-image: url("../images/more.png")
        background-repeat: no-repeat 
        background-size: contain 
        background-position: center

        @media (max-width: $screenM)
            width: 32px
            height: 16px

        @media (max-width: $screenXS)
            width: 85px
            height: 42px

        @media (max-width: $screenXXS)
            width: 43px
            height: 21px