.progress
    position: relative
    height: 27px
    background-color: #fff
    outline: 1px solid #c4c4c4
    border: none
    border-radius: 0

    @media (max-width: $screenXS)
        height: 31px

    @media (max-width: $screenXXS)
        height: 16px

    &._small 
        height: 19px

        @media (min-width: $screenM)
            height: 31px

        @media (max-width: $screenXXS)
            height: 16px

    &-bar 
        background-color: $purple