.project-block
    border-top: 1px solid rgba(0,0,0,.35)
    padding-bottom: 8px

    @media (max-width: $screenXS)
        border-width: 2px

    @media (max-width: $screenXXS)
        border-width: 1px

    &__row 
        align-items: center
        padding-top: 6.2rem
        padding-bottom: 9.5rem
        border-bottom: 1px solid rgba(0,0,0,.35)

        @media (min-width: $screenXXL)
            padding-top: 62px
            padding-bottom: 95px

        @media (max-width: $screenXS)
            flex-direction: column
            padding-top: 45px
            padding-bottom: 39px
            border-width: 2px

        @media (max-width: $screenXXS)
            padding-top: 22px
            padding-bottom: 20px
            border-width: 1px

    .col-6 
        display: flex 
        flex-direction: column
        height: 100%

        @media (max-width: $screenXS)
            flex: 0 0 100%
            max-width: 100%

            &._illustrations
                order: -1

    &__headline 
        margin: 0 0 3rem 0
        font-weight: 700
        font-size: 6rem
        line-height: 6rem

        @media (min-width: $screenXXL)
            margin-bottom: 24px
            font-size: 60px
            line-height: 60px

        @media (max-width: $screenXS)
            margin-bottom: 38px
            font-size: 42.67px
            line-height: 44px

        @media (max-width: $screenXXS)
            margin-bottom: 19px
            font-size: 21px
            line-height: 22px

    &__illustrations 
        margin-top: auto

        @media (min-width: $screenXXL)
            margin-top: 88px

        @media (max-width: $screenXS)
            margin-bottom: 40px

        @media (max-width: $screenXXS)
            margin-bottom: 20px

    &__text     
        margin: 0 0 3rem 0
        padding-right: 5rem
        font-size: 2.1rem
        line-height: 3rem

        &:last-child 
            margin-bottom: 0

        @media (min-width: $screenXXL)
            margin-bottom: 30px
            padding-right: 50px
            font-size: 21px
            line-height: 30px

        @media (max-width: $screenXS)
            margin-bottom: 17px
            font-size: 18.96px
            line-height: 24px

        @media (max-width: $screenXXS)
            margin-bottom: 9px
            font-size: 9.5px
            line-height: 12px

    &__progress 
        margin-left: auto
        margin-right: auto
        margin-bottom: 55px
        width: 53%

        @media (max-width: $screenXS)
            width: 100%
            margin-bottom: 43px

        @media (max-width: $screenXXS)
            margin-bottom: 22px

        &-label 
            margin: 0
            font-size: 2.1rem
            line-height: 3.7rem

            @media (min-width: $screenXXL)
                font-size: 21px
                line-height: 37px

            @media (max-width: $screenXS)
                font-size: 23.7px
                line-height: 38px

            @media (max-width: $screenXXS)
                font-size: 12px
                line-height: 19px

        &-legend 
            margin-top: 5px
            margin-bottom: 0
            font-weight: 700
            font-size: 2.917rem
            line-height: 3.8rem

            @media (min-width: $screenXXL)
                font-size: 29.17px
                line-height: 38px

            @media (max-width: $screenXS)
                font-size: 30.81px
                line-height: 38px

            @media (max-width: $screenXXS)
                font-size: 15px
                line-height: 19px

    &__footer 
        border-bottom: none

        @media (max-width: $screenXS)
            padding-top: 23px
            padding-bottom: 64px

        @media (max-width: $screenXXS)
            padding-top: 12px
            padding-bottom: 32px

        .col-6
            display: flex 
            flex-direction: column
            align-items: center

    &__button 
        margin-left: auto
        margin-right: auto
        width: 100%
        max-width: 70.8rem
        
        @media (min-width: $screenXXL)
            max-width: 708px

        @media (max-width: $screenXS)
            max-width: 100%