.search-form
    margin: auto 0
    width: 100%

    &.expanded

        @media (max-width: $screenM)

            .form__field
                padding-left: 12px
                padding-right: 12px
                width: 33.333333vw
                max-width: 33.333333vw
                opacity: 1
                z-index: 2

                @media (max-width: $screenXS)
                    width: 100vw
                    max-width: calc(100vw - 115px)

                @media (max-width: $screenXXS)
                    max-width: calc(100vw - 55px)

    &__btn 
        display: none
        @include btn-reset 
        width: 22px
        height: 22px

        @media (max-width: $screenXS)
            width: 24px
            height: 40px

        @media (max-width: $screenXXS)
            width: 20px
            height: 20px

        img 
            display: block
            width: 100%
            height: auto

        @media (max-width: $screenM)
            display: inline-block
            vertical-align: top

        @media (max-width: $screenXS)
            vertical-align: middle

    @media (max-width: $screenL)
        position: relative
        top: 4px

    @media (max-width: $screenM)
        top: 5px

        .form__field 
            @include centerH
            top: calc(100% + 10px)
            box-sizing: border-box
            padding-left: 0
            padding-right: 0
            max-width: 0
            opacity: 0
            transition: max-width 0.3s ease, opacity 0.3s ease 

            @media (max-width: $screenXS)
                top: 0
                left: 100%
                transform: none
                background-color: #2b2b2b
                z-index: 2

    @media (max-width: $screenXS)
        top: 0

        .form__field 
            top: 0
            color: #fff
            border-color: #fff

            &::-webkit-input-placeholder
                color: rgba(255, 255, 255, .5)
            &:-moz-placeholder
                color: rgba(255, 255, 255, .5)
            &::-moz-placeholder
                color: rgba(255, 255, 255, .5)
            &:-ms-input-placeholder
                color: rgba(255, 255, 255, .5)