.section 

    &__header 
        padding-top: 60px

        @media (max-width: $screenXS)
            padding-top: 28px

            .col-4 
                flex: 0 0 100%
                max-width: 100%
                padding: 0

        @media (max-width: $screenXXS)
            padding-top: 14px