.social-list
    @include list-reset

    @media (max-width: $screenXXS)
        line-height: 11px

    li 
        margin-bottom: 28px

        @media (max-width: $screenL)
            margin-bottom: 20px

        @media (max-width: $screenM)
            margin-bottom: 10px

        @media (max-width: $screenXXS)
            margin-bottom: 5px

    a
        @include hover
        font-size: 2.083rem
        line-height: 2.2rem
        color: #fff
        border-bottom: 1px solid #fff

        @media (min-width: $screenXXL)
            font-size: 20.83px
            line-height: 22px

        @media (max-width: $screenM)
            font-size: 14px
            line-height: 18px

        @media (max-width: $screenXS)
            font-size: 18.97px
            line-height: 22px

        @media (max-width: $screenXXS)
            font-size: 9.5px
            line-height: 11px

        &:hover,
        &:focus 
            color: #fff
            text-decoration: none