.sorting
    margin-bottom: 33px

    @media (max-width: $screenXS)
        margin-bottom: 30px

    @media (max-width: $screenXXS)
        margin-bottom: 15px

    .col-4

        @media (max-width: $screenL)
            flex: 0 0 50%
            max-width: 50%

        @media (max-width: $screenM)
            flex: 0 0 100%
            max-width: 100%

.sorting-form
    padding: 0 12px

    @media (max-width: $screenXS)
        padding: 0

    &__wrapper
        display: flex

    ._categories 
        margin-right: 11px
        width: calc(37.57% - 6px)

        @media (max-width: $screenM)
            margin-right: 30px
            width: 50%

        @media (max-width: $screenXS)
            margin-right: 11px
            width: calc(37.57% - 6px)

    ._directions 
        width: calc(67.47% - 5px)

        @media (max-width: $screenM)
            width: 50%

        @media (max-width: $screenXS)
            width: calc(67.47% - 5px)

    .form__select 

        @media (max-width: $screenXS)
            font-size: 22.52px

        @media (max-width: $screenXXS)
            font-size: 11.5px