.step

    &._first 
        position: relative
        margin-top: 40px

        @media (max-width: $screenM)
            margin-top: 15px

        @media (max-width: $screenXXS)
            margin-top: 6px

        &:after 
            content: ""
            @include centerH
            top: 0
            width: 425px
            border-bottom: 1px solid rgba(0,0,0,.35)

            @media (max-width: $screenM)
                left: 47px
                right: 47px
                top: 0
                transform: none 
                width: auto
                border-width: 2px

                @media (max-width: $screenXXS)
                    left: 24px
                    right: 24px
                    border-width: 1px

        .step__header 

            @media (max-width: $screenM)
                padding-top: 15px

            @media (max-width: $screenXXS)
                padding-top: 8px

        .step__version 

            @media (max-width: $screenM)
                margin-left: 0

        .form__field-label

            @media (max-width: $screenM)
                text-align: left

    &:last-child

        .step__footer 

            @media (max-width: $screenM)
                margin-top: 0
                padding-top: 0

    &._dark 
        color: #fff
        background-color: #383838

        .form__btn,
        .form__upload-btn 
            color: #383838

        &:last-child

            @media (max-width: $screenM)
                padding-bottom: 40px

            @media (max-width: $screenXXS)
                padding-bottom: 20px

    &__header 
        position: relative
        margin-bottom: 60px
        padding: 60px 0

        .col-3,
        .col-6

            @media (max-width: $screenM)
                flex: 0 0 100%
                max-width: 100%

        .col-3 

            @media (max-width: $screenM)
                position: static

        &:after 
            content: ""
            @include centerH
            bottom: 0
            width: 425px
            border-bottom: 1px solid rgba(0,0,0,.35)

            ._dark &
                border-color: rgba(213,213,213,.35)

        @media (max-width: $screenM)
            flex-direction: column
            align-items: center 
            justify-content: flex-start
            margin-bottom: 35px
            padding: 35px 0
            padding-top: 60px
            text-align: center

            &:after
                left: 26px
                right: 26px
                top: 0
                transform: none 
                width: auto
                border-width: 2px

        @media (max-width: $screenXXS)
            margin-bottom: 18px
            padding-top: 30px

            &:after 
                left: 13px 
                right: 13px

    &__title 
        margin: 0
        text-align: center
        font-weight: 700
        font-size: 60px
        line-height: 60px

        @media (max-width: $screenL)
            font-size: 40px
            line-height: 44px

        @media (max-width: $screenXXS)
            font-size: 20px
            line-height: 22px

    &__number 
        margin: 0
        font-weight: 400
        font-size: 30px
        line-height: 60px

        @media (max-width: $screenL)    
            margin-bottom: 10px
            font-size: 23.7px
            line-height: 40px

        @media (max-width: $screenXXS)
            margin-bottom: 5px
            font-size: 12px
            line-height: 20px

    &__body 

        @media (max-width: $screenM)
            flex-direction: column 
            justify-content: flex-start

        .col-6
            position: relative

            @media (max-width: $screenM)
                flex: 0 0 100%
                max-width: 100%
                margin-bottom: 33px

            @media (max-width: $screenXXS)
                margin-bottom: 17px

            &:first-child 
                padding-right: 33px
                border-right: 1px solid rgba(0,0,0,.35)

                @media (max-width: $screenM)
                    padding-left: 15px
                    padding-right: 19px
                    padding-bottom: 47px
                    border-right: none

                    &:after 
                        content: ""
                        position: absolute
                        left: 41px
                        right: 43px
                        bottom: 0
                        border-bottom: 2px solid rgba(0,0,0,.35)

                        ._dark &
                            border-bottom: 1px solid rgba(213,213,213,.35)

                @media (max-width: $screenXXS)
                    padding-left: 8px
                    padding-right: 10px
                    padding-bottom: 24px

                    &:after 
                        left: 20px
                        right: 21px
                        border-width: 1px

                ._dark &
                    border-color: rgba(213,213,213,.35)

            &:last-child 
                padding-left: 33px

                @media (max-width: $screenM)
                    padding-left: 15px
                    padding-right: 19px

                @media (max-width: $screenXXS)
                    padding-left: 8px
                    padding-right: 10px

    &__version 
        margin: 0
        margin-right: auto
        font-weight: 400
        font-size: 36px
        line-height: 36px

        @media (max-width: $screenL)
            font-size: 23.7px
            line-height: 24px
            white-space: nowrap

        @media (max-width: $screenM)
            margin-left: auto

        @media (max-width: $screenXXS)
            font-size: 12px
            line-height: 14px

    &__footer
        position: relative
        display: flex 
        flex-direction: column 
        align-items: center
        margin-top: 55px
        padding-top: 35px
        padding-bottom: 75px
        text-align: center

        @media (max-width: $screenM)
            margin-top: 0
            padding-top: 32px
            padding-bottom: 30px

        @media (max-width: $screenXXS)
            padding-top: 16px
            padding-bottom: 15px

        ._first &

            &:after 
                content: ""
                @include centerH
                top: 0
                width: 425px
                border-bottom: 1px solid rgba(0,0,0,.35)

                @media (max-width: $screenM)
                    left: 26px
                    right: 29px
                    transform: none 
                    width: auto 
                    border-width: 2px

                @media (max-width: $screenXXS)
                    left: 13px
                    right: 15px
                    border-width: 1px

    &__label 
        margin: 0 0 40px 0
        font-weight: 400
        font-size: 21px
        line-height: 36px

        @media (max-width: $screenM)
            margin-bottom: 25px

        @media (max-width: $screenXXS)
            margin-bottom: 13px
            font-size: 11px
            line-height: 18px

    &__tags 
        justify-content: flex-start
        margin: 0 auto 42px auto
        max-width: 970px

        @media (max-width: $screenM)
            max-width: 510px

        @media (max-width: $screenXXS)
            margin-bottom: 21px
            max-width: 255px

    &__scroll-link 
        @include hover 
        margin-top: 45px
        font-size: 0
        width: 64px
        height: 32px

        @media (max-width: $screenM)
            margin-top: 24px
            line-height: 0
            width: 85px
            height: 43px

        @media (max-width: $screenXXS)
            margin-top: 12px
            width: 42px
            height: 21px

        img 
            display: block
            width: 100%
            height: auto

    &__scroll-prev 
        @include hover
        position: relative
        display: flex 
        flex-direction: column
        justify-content: center
        margin-left: auto
        padding-right: 90px
        text-decoration: underline
        font-size: 18px
        line-height: 22px
        color: $purple 

        @media (max-width: $screenL)
            font-size: 12px
            line-height: 15px

        @media (max-width: $screenM)
            position: absolute
            top: 43px
            right: 0
            font-size: 0

        @media (max-width: $screenXXS)
            padding-right: 45px
            top: 30px
            line-height: 0

        &:after 
            content: ""
            @include centerV
            right: 0
            width: 64px
            height: 64px
            background-color: $purple 
            background-image: url("../images/arr-rev-w.png")
            background-repeat: no-repeat 
            background-size: 40px 22px 
            background-position: center

            @media (max-width: $screenM)
                width: 59px
                height: 59px
                background-size: 39px 21px

            @media (max-width: $screenXXS)
                width: 30px
                height: 30px
                background-size: 20px 10px

            ._dark &
                background-image: url("../images/arr-rev.png")

    &__form-wrapper
        margin-top: 75px
        width: 41%
        min-width: 470px

        @media (max-width: $screenM)
            margin-top: 53px
            min-width: 535px

            .form__field-wrapper 
                flex-direction: column

            .form__field-label  
                margin-bottom: 12px
                font-size: 18.970px
                line-height: 24px

            .form__field
                height: 47px
                padding-left: 21px
                font-size: 23.7px
                line-height: 47px

        @media (max-width: $screenXXS)
            margin-top: 26px
            min-width: 267px

            .form__field-label
                margin-bottom: 6px
                font-size: 9.5px
                line-height: 12px

            .form__field
                height: 24px
                padding-left: 10px
                font-size: 12px
                line-height: 24px

