.steps-form

    &__section-header
        @include row-component
        margin-bottom: 45px
        padding-bottom: 45px
        border-bottom: 1px solid rgba(0,0,0,.35)

        @media (max-width: $screenM)
            margin-bottom: 0
            padding-bottom: 30px
            border-bottom: none

        @media (max-width: $screenXXS)
            padding-bottom: 15px

        ._dark &
            border-color: rgba(213,213,213,.35)

        .form__checkbox-label 
            margin-bottom: 0

    .form__field 
        width: 62.228%

        @media (max-width: $screenM)
            width: 100%

    .form__field-wrapper._column 

        .form__field-label 
            margin-bottom: 17px

            @media (max-width: $screenXXS)
                margin-bottom: 8px

    .form__upload-label 

        @media (max-width: $screenM)
            width: auto
            margin-bottom: 0

    .form__checkbox-label

        @media (max-width: $screenM)
            max-width: 260px
            line-height: 22px

        @media (max-width: $screenXXS)
            max-width: 130px
            line-height: 11px

    .form__upload-link

        @media (max-width: $screenM)
            flex-wrap: nowrap

    .form__upload-block

        @media (max-width: $screenM)
            margin-top: 0
            padding-top: 7px

        @media (max-width: $screenXXS)
            padding-top: 4px

    .form__message 

        @media (max-width: $screenM)
            min-height: 177px
            border-width: 2px

        @media (max-width: $screenXXS)
            min-height: 84px
            border-width: 1px

    .form__btn 

        @media (max-width: $screenM)
            font-size: 30.81px
            line-height: 47px
            max-width: 545px
            margin-left: auto
            margin-right: auto

        @media (max-width: $screenXXS)
            font-size: 15px
            line-height: 24px
            max-width: 272px

    .form__field-label

        @media (max-width: $screenM)
            text-align: center

    &__btn 
        margin-top: 65px
        width: 100%

        @media (max-width: $screenM)
            margin-top: 34px
            padding-top: 6px
            padding-bottom: 6px
            font-size: 30.81px
            line-height: 36px
            white-space: normal

        @media (max-width: $screenXXS)
            margin-top: 17px
            padding-top: 3px
            padding-bottom: 3px
            font-size: 15px
            line-height: 18px
