.tab-controls
    @include list-reset
    display: flex
    padding-top: 40px

    @media (max-width: $screenXXS)
        padding-top: 20px

.tab-control
    position: relative
    flex-grow: 1
    display: flex 
    justify-content: center
    padding-bottom: 38px
    cursor: pointer

    @media (max-width: $screenXXS)
        padding-bottom: 19px

    &__text 
        margin: 0
        text-transform: uppercase
        text-align: center
        font-weight: 400
        font-size: 18.96px
        line-height: 34px
        color: #bfbfbf
        transition: color 0.3s ease

        @media (max-width: $screenXXS)
            font-size: 9.5px
            line-height: 17px

        .active &

            color: #2b2b2b

    &:after 
        content: ""
        position: absolute
        left: 0
        right: 0
        bottom: 0
        height: 6px
        background-color: #bfbfbf
        transition: border-color 0.3s ease

        @media (max-width: $screenXXS)
            height: 3px

    &.active 

        &:after 
            background-color: $purple

.tabs 
    @include list-reset
    position: relative

.tab
    position: absolute
    opacity: 0
    z-index: -100
    padding-top: 40px
    width: 50%
    height: 0
    overflow: hidden
    transition: opacity 0.3s ease

    @media (max-width: $screenXXS)
        padding-top: 20px

    &.active 
        position: relative
        width: 100%
        height: auto
        opacity: 1
        z-index: initial