.tags 
    display: flex 
    flex-wrap: wrap 
    justify-content: center

    &._left 
        justify-content: flex-start

        .tag 
            padding-left: 0

.tag 
    margin: 0 3px 5px 3px
    padding: 6px 8px
    font-weight: 500
    font-size: 16.67px
    line-height: 17px
    color: #fff 
    background-color: #2b2b2b
    transition: background-color 0.3s ease, color 0.3s ease

    @media (max-width: $screenXS)
        padding: 7px 8px
        font-size: 17.8px
        line-height: 18px

    @media (max-width: $screenXXS)
        padding: 4px
        font-size: 9px
        line-height: 9px

    &:hover 
        text-decoration: none
        color: rgba(255,255,255,.5)

    span
        border-bottom: 1px solid #fff

input:checked + .tag 
    background-color: $purple