.team
    padding-top: 5px

    @media (max-width: $screenXS)
        padding-top: 9px

    @media (max-width: $screenXXS)
        padding-top: 5px

    &-list 
        @include list-reset

        &__item 
            margin-bottom: 3.6rem
            border-bottom: 1px solid #d5d5d5

            @media (min-width: $screenXXL)
                margin-bottom: 36px

            @media (max-width: $screenXL)
                margin-bottom: 38px

            @media (max-width: $screenXS)
                margin-bottom: 50px
                border-width: 2px

            @media (max-width: $screenXXS)
                margin-bottom: 25px
                border-width: 1px

            &:last-child 
                margin-bottom: 0
                border-bottom: none

.team-card
    display: flex
    padding-bottom: 3.1rem

    @media (min-width: $screenXXL)
        padding-bottom: 31px

    @media (max-width: $screenXL)
        padding-bottom: 30px    

    @media (max-width: $screenXS)
        padding-bottom: 40px

    @media (max-width: $screenXXS)
        padding-bottom: 20px

    &__img
        flex: none
        margin-right: 5.5rem
        width: 17rem
        height: 17rem
        overflow: hidden 

        @media (min-width: $screenXXL)
            margin-right: 55px
            width: 170px
            height: 170px

        @media (max-width: $screenM)
            margin-right: 45px
            width: 122px
            height: 122px

        @media (max-width: $screenXXS)
            margin-right: 22px
            width: 61px
            height: 61px

        img 
            width: 100%
            height: auto

    &__info 
        margin-top: -0.5rem

        @media (min-width: $screenXXL)
            margin-top: -5px

        @media (max-width: $screenXXS)
            margin-top: -3px

    &__name 
        margin: 0
        font-weight: 400
        font-size: 2.5rem
        line-height: 3rem

        @media (min-width: $screenXXL)
            font-size: 25px
            line-height: 30px

        @media (max-width: $screenM)
            font-size: 28.44px
            line-height: 21.48px

        @media (max-width: $screenXS)
            margin-bottom: 10px

        @media (max-width: $screenXXS)
            margin-bottom: 5px
            font-size: 14px
            line-height: 14px

    &__position 
        margin: 0 0 23px 0
        font-weight: 400
        font-size: 1.8rem
        line-height: 2.4rem

        @media (min-width: $screenXXL)
            font-size: 18px
            line-height: 24px

        @media (max-width: $screenM)
            font-size: 18.96px
            line-height: 28.44px

        @media (max-width: $screenXS)
            margin-bottom: 16px

        @media (max-width: $screenXXS)
            margin-bottom: 8px
            font-size: 9.5px
            line-height: 14px

    &__text
        margin: 0
        padding-right: 3rem
        font-size: 1.8rem
        line-height: 2.4rem

        @media (min-width: $screenXXL)
            padding-right: 30px
            font-size: 18px
            line-height: 24px

        @media (max-width: $screenM)
            padding-right: 20px
            font-size: 18.96px
            line-height: 26.07px

        @media (max-width: $screenXXS)
            padding-right: 10px
            font-size: 9.5px
            line-height: 13px