.user-block
    @include row-component
    margin-top: -12px

    @media (max-width: $screenXS)
        max-height: 40px
        margin-bottom: -11px

    @media (max-width: $screenXXS)
        max-height: 20px
        margin-top: -6px
        margin-bottom: -6px

    &__img
        display: block
        margin-right: 4px
        width: 5.4rem
        height: 5.4rem
        background-color: $purple 
        overflow: hidden

        @media (min-width: $screenXXL)
            width: 54px
            height: 54px

        @media (max-width: $screenXS)
            order: 3
            margin-left: 56px
            margin-right: 0
            margin-top: -11px
            margin-bottom: -11px
            width: 62px
            height: 62px

        @media (max-width: $screenXXS)
            margin-left: 28px
            margin-top: -6px
            margin-bottom: -6px
            width: 32px
            height: 32px

        img 
            display: block
            width: 100%
            height: auto

    &__name 
        display: block
        box-sizing: border-box
        margin-right: 4px
        padding: 0.5rem 2rem
        min-width: 25.5rem
        min-height: 3.5rem
        font-size: 2.1rem
        line-height: 2.3rem
        color: $textColor
        border: 0.1rem solid #c5c5c5

        @media (min-width: $screenXXL)
            margin-right: 6px
            padding: 5px 20px
            min-width: 255px
            font-size: 21px
            line-height: 23px
            border-width: 1px

        @media (max-width: $screenXS)
            flex-grow: 1
            padding: 0 35px
            font-size: 23.7px
            line-height: 38px
            color: #fff

        @media (max-width: $screenXXS)
            padding: 0 17px 
            font-size: 11px
            line-height: 19px

    &__btn 
        display: block
        width: 3.5rem
        height: 3.5rem
        text-align: center
        font-weight: 400
        font-size: 2.0rem
        line-height: 3.5rem
        color: #fff
        background-color: $purple

        @media (min-width: $screenXXL)
            width: 35px
            height: 35px
            font-size: 20px
            line-height: 35px

        @media (max-width: $screenXS)
            width: 40px
            height: 40px
            font-size: 23.7px
            line-height: 40px

        @media (max-width: $screenXXS)
            width: 20px
            height: 20px
            font-size: 11px
            line-height: 20px