.video-block
    position: relative
    padding-top: 60.666666%

    video 
        @include center
        width: 100%
        height: auto
        max-width: 100%
        max-height: 100%

    &__button
        @include btn-reset
        @include hover
        @include center
        width: 100px
        height: 100px
        border: 2px solid #fff

        @media (max-width: $screenXL)
            width: 50px
            height: 50px

        @media (max-width: $screenXS)
            width: 76px
            height: 76px

        @media (max-width: $screenXXS)
            width: 38px
            height: 38px
            border-width: 1px

        img 
            @include center 
            display: block
            margin-left: 5px
            width: 40px
            height: 55px

            @media (max-width: $screenXL)
                margin-left: 3px
                width: 20px
                height: 28px

            @media (max-width: $screenXS)
                width: 30px
                height: 42px

            @media (max-width: $screenXXS)
                margin-left: 1px
                width: 15px
                height: 21px