.welcome-block
    display: flex 
    flex-direction: column 
    justify-content: center
    text-align: center

    &__title 
        margin: 0 0 32px 0
        font-weight: 500
        font-size: 35px
        line-height: 43px

        @media (max-width: $screenXL)
            font-size: 30px
            line-height: 38px

        @media (max-width: $screenXS)
            font-size: 42.68px
            line-height: 47.42px
    
        @media (max-width: $screenXXS)
            margin-bottom: 20px
            font-size: 21px
            line-height: 24px

    &__lead 
        margin: 0 0 38px 0
        font-size: 25px
        line-height: 29px

        @media (max-width: $screenXL) 
            font-size: 21px
            line-height: 28px

        @media (max-width: $screenXS)
            font-size: 28.450px
            line-height: 35px

        @media (max-width: $screenXXS)
            margin-bottom: 16px
            font-size: 14px
            line-height: 18px

        a 
            @include hover 
            color: $purple
            text-decoration: underline

    &__text 
        margin: 0 0 20px 0
        font-size: 18px
        line-height: 24px

        @media (max-width: $screenXL)
            font-size: 16px
            line-height: 20px

        @media (max-width: $screenXS)
            font-size: 18.97px
            line-height: 23.71px

        @media (max-width: $screenXXS)
            font-size: 10px
            line-height: 13px

    &__footer 
        margin-top: 20px
        display: flex
        flex-direction: column
        align-items: center


    &__btn 
        margin-bottom: 18px
        width: 100%
        max-width: 450px

        &:last-child 
            margin-bottom: 0