@import normalize
@import fonts.scss
@import grid.sass


// ----------------------------------------------------------------------
    // General styles
// ----------------------------------------------------------------------

html
    width: 100%
    font-size: 0.537061vw

html *
    max-height: 1000000px

body
    margin: 0
    width: 100%
    //min-width: 1600px
    font-family: $font
    font-weight: 500
    font-size: 16.67px
    line-height: 21px
    color: $textColor
    background-color: #fff

    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

    &.overflow 
        height: 100vh
        overflow: hidden

    &.scrollspy
        position: relative

.global-wrapper
    position: relative
    display: flex
    flex-direction: column
    margin: 0 auto
    min-height: 100vh
    overflow-x: hidden

    .main-content 
        flex-grow: 1

.layout-positioner
    margin: 0 auto
    max-width: 1670px

    @media (max-width: $screenXS)
        padding: 0 45px

    @media (max-width: $screenXXS)
        padding: 0 22px

.hidden
    display: none !important

.invisible
    position: absolute
    z-index: -100
    visibility: hidden

.svg-wrapper 
    position: absolute
    opacity: 0
    z-index: -100

.visually-hidden
    position: absolute !important
    clip: rect(1px 1px 1px 1px)
    clip: rect(1px, 1px, 1px, 1px)
    padding:0 !important
    border:0 !important
    height: 1px !important 
    width: 1px !important 
    overflow: hidden

.scrollable 

    .mCSB_scrollTools
        width: 4px
        margin-right: 10px

    .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar
        width: 4px
        background-color: rgba(0, 0, 0, 0.2)
        border-radius: 2px

    .mCSB_scrollTools .mCSB_draggerRail
        background-color: $transparent

a
    &:hover,
    &:focus 
        text-decoration: none
