
@font-face {
  font-family: 'Stolzl';
  src: url('../fonts/11450.eot');
  src: url('../fonts/11450.eot') format('embedded-opentype'),
         url('../fonts/11450.woff2') format('woff2'),
         url('../fonts/11450.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Stolzl';
  src: url('../fonts/11449.eot');
  src: url('../fonts/11449.eot') format('embedded-opentype'),
         url('../fonts/11449.woff2') format('woff2'),
         url('../fonts/11449.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Stolzl';
  src: url('../fonts/11452.eot');
  src: url('../fonts/11452.eot') format('embedded-opentype'),
         url('../fonts/11452.woff2') format('woff2'),
         url('../fonts/11452.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Stolzl';
  src: url('../fonts/11446.eot');
  src: url('../fonts/11446.eot') format('embedded-opentype'),
         url('../fonts/11446.woff2') format('woff2'),
         url('../fonts/11446.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: block;
}
