.col-inner
    display: flex 
    flex-direction: column
    padding: 0 3px
    height: 100%

    div:first-child > &
        padding-left: 0

    div:last-child > &
        padding-right: 0

    &._row 
        flex-direction: row

        &._right
            justify-content: flex-end

    &._right
        align-items: flex-end

        @media (max-width: $screenXS)
            align-items: center
            justify-content: flex-end

.main-content

    @media (max-width: $screenXS)
        margin-top: 88px

    @media (max-width: $screenXXS)
        margin-top: 44px

._extrawide
    margin-left: -15px
    margin-right: -15px

.example-btn
    margin: 40px

    @media (max-width: $screenXXS)
        margin: 20px

[class*=col-]._flex-end
    display: flex 
    justify-content: flex-end
