<section class="section about-company">
    <div class="container-fluid layout-positioner">
        <div class="row section__header no-gutter">
            <div class="col-4">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Назад</a></li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <div class="about-company__tabs js-tabs">
        <div class="container-fluid layout-positioner">
            <div class="about-company__tab-controls">
                <ul class="tab-controls row no-gutters">
                    <li class="tab-control js-tab-control active col-6">
                        <p class="tab-control__text">О площадке</p>
                    </li>
                    <li class="tab-control js-tab-control col-6">
                        <p class="tab-control__text">Команда</p>
                    </li>
                </ul>
            </div>
            <div class="about-company__tabs-wrapper">
                <ul class="tabs row no-gutters">
                    <li class="tab js-tab col-6 active">
                        <div class="about-company__section">
                            <div class="about-company__section-item">
                                <h3 class="about-company__section-title">Описание площадки, замещающий текст: </h3>
                                <p class="about-company__descr">Отдельная «посадочная» страница (лендинг) с возможностью набора заявок от проектов Выделенный экспертный кабинет и прямая ссылка для внутренних экспертов от компании. Доступ ко всем проектам платформы и веб-процессингу сделок.</p>
                            </div>
                            <div class="about-company__section-item">
                                <h3 class="about-company__section-headline">Общий сервис:</h3>
                                <p class="about-company__descr">Возможность привлекать к экспертизе внешних экспертов - участников платформы и инвесторов клуба Очная презентация интересующих проектов Подбор проектов под запрос, due diligence и скоринг проектов. Формирование и струтктуризация синдицированных сделко Аналитика и формирование отчетов.</p>
                            </div>
                            <div class="about-company__section-item">
                                <h3 class="about-company__section-headline">Клубный сервис:</h3>
                                <p class="about-company__descr">Более 40 закрытых инвест-мероприятий в год Доступ к международной инфраструктуре и бизнес-сообществу — более 10 международных бизнес-поездок и конференций в году (в частности, в сотрудничестве с Французским и Израильским правительствами) Организация образовательных программ</p>
                            </div>
                        </div>
                        <div class="about-company__section">
                            <div class="downloads">
                                <div class="download-link">
                                    <span class="download-link__icon">
                                        <svg width="44" height="63">
                                            <use xlink:href="#download"></use>
                                        </svg>
                                    </span>
                                    <a href="#" class="download-link__text">Скачать презентацию площадки</a>
                                </div>
                                <div class="download-link">
                                    <span class="download-link__icon">
                                        <img src="assets/images/envelop-black.png" width="54" height="37" alt="">
                                    </span>
                                    <span class="download-link__text">По вопросам сотрудничества: <a href="#">cooperation@vb.finance</a></span>
                                </div>
                                <div class="download-link _noicon">
                                    <span class="download-link__text">Пресс-центр:   <a href="#">press@vb.finance </a></span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="tab js-tab col-6">
                        <div class="team">
                            <ul class="team-list">
                                <li class="team-list__item">
                                    <div class="team-card">
                                        <div class="team-card__img">
                                            <img src="assets/images/photo01.jpg" width="170" height="170" alt="">
                                        </div>
                                        <div class="team-card__info">
                                            <h2 class="team-card__name">Елена Привалова</h2>
                                            <p class="team-card__position">Менеджер по продажам</p>
                                            <p class="team-card__text">В венчурной отрасли более 5 лет, начинала карьеру в Бизнес-инкубаторе НИУ ВШЭ, отвечала за партнерские программы развития стартапов, cоздала центр социального предпринимательства, привлекала финансирование и занималась бизнес-развитием стартапов. </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="team-list__item">
                                    <div class="team-card">
                                        <div class="team-card__img">
                                            <img src="assets/images/photo01.jpg" width="170" height="170" alt="">
                                        </div>
                                        <div class="team-card__info">
                                            <h2 class="team-card__name">Елена Привалова</h2>
                                            <p class="team-card__position">Менеджер по продажам</p>
                                            <p class="team-card__text">В венчурной отрасли более 5 лет, начинала карьеру в Бизнес-инкубаторе НИУ ВШЭ, отвечала за партнерские программы развития стартапов, cоздала центр социального предпринимательства, привлекала финансирование и занималась бизнес-развитием стартапов. </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="team-list__item">
                                    <div class="team-card">
                                        <div class="team-card__img">
                                            <img src="assets/images/photo01.jpg" width="170" height="170" alt="">
                                        </div>
                                        <div class="team-card__info">
                                            <h2 class="team-card__name">Елена Привалова</h2>
                                            <p class="team-card__position">Менеджер по продажам</p>
                                            <p class="team-card__text">В венчурной отрасли более 5 лет, начинала карьеру в Бизнес-инкубаторе НИУ ВШЭ, отвечала за партнерские программы развития стартапов, cоздала центр социального предпринимательства, привлекала финансирование и занималась бизнес-развитием стартапов. </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="team-list__item">
                                    <div class="team-card">
                                        <div class="team-card__img">
                                            <img src="assets/images/photo01.jpg" width="170" height="170" alt="">
                                        </div>
                                        <div class="team-card__info">
                                            <h2 class="team-card__name">Елена Привалова</h2>
                                            <p class="team-card__position">Менеджер по продажам</p>
                                            <p class="team-card__text">В венчурной отрасли более 5 лет, начинала карьеру в Бизнес-инкубаторе НИУ ВШЭ, отвечала за партнерские программы развития стартапов, cоздала центр социального предпринимательства, привлекала финансирование и занималась бизнес-развитием стартапов. </p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>












