<section class="section account _desktop">
    <div class="container-fluid layout-positioner">
        <div class="row section__header no-gutter">
            <div class="col-4">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Назад</a></li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row account-block no-gutter">
            <div class="col account-block__info">
                <div class="personal-card">
                    <div class="personal-card__header">
                        <div class="personal-card__img">
                            <img src="assets/images/user.jpg" width="100" height="100" alt="">
                        </div>
                        <h2 class="personal-card__name">Елена <br>Привалова</h2>
                        <p class="personal-card__position">Генеральный <br>директор Роснано</p>
                    </div>
                    <div class="personal-card__body">
                        <div class="personal-card__info-item">
                            <p class="personal-card__label">Контакты:</p>
                            <a href="mailto:ceo@hotelchat.me" class="personal-card__contacts">ceo@hotelchat.me</a>
                            <a href="tel:89853141434" class="personal-card__contacts">+7 (985) 314-14-34</a>
                        </div>
                        <div class="personal-card__info-item">
                            <p class="personal-card__label">Интересы:</p>
                            <div class="personal-card__text">
                                <span>promtech</span>, 
                                <span>fintech</span>
                            </div>
                        </div>
                    </div>
                    <div class="personal-card__footer">
                        <a href="edit-account.html" class="btn personal-card__btn"><span>Редактировать</span></a>
                        <a href="edit-account.html" class="btn personal-card__btn _left"><span>Выход</span><span class="logout-icon"></span></a>
                    </div>
                </div>
            </div>
            <div class="col account-block__messages">
                <div class="messages-block account-block__section">
                    <h3 class="account-block__section-title messages-block__title">Входящие сообщения</h3>
                    <div class="messages-block__wrapper">
                        <ul class="message-previews">
                            <li class="message-previews__item">
                                <a href="#" class="message-preview">
                                    <time class="message-preview__date">21.09.18:</time>
                                    <span class="message-preview__subject">Онлайн питч вашего проекта</span>
                                </a>
                            </li>
                            <li class="message-previews__item">
                                <a href="#" class="message-preview">
                                    <time class="message-preview__date">21.09.18:</time>
                                    <span class="message-preview__subject">Онлайн питч вашего проекта</span>
                                </a>
                            </li>
                            <li class="message-previews__item">
                                <a href="#" class="message-preview">
                                    <time class="message-preview__date">21.09.18:</time>
                                    <span class="message-preview__subject">Онлайн питч вашего проекта</span>
                                </a>
                            </li>
                            <li class="message-previews__item">
                                <a href="#" class="message-preview">
                                    <time class="message-preview__date">21.09.18:</time>
                                    <span class="message-preview__subject">Онлайн питч вашего проекта</span>
                                </a>
                            </li>
                            <li class="message-previews__item">
                                <a href="#" class="message-preview">
                                    <time class="message-preview__date">21.09.18:</time>
                                    <span class="message-preview__subject">Онлайн питч вашего проекта</span>
                                </a>
                            </li>
                            <li class="message-previews__item">
                                <a href="#" class="message-preview">
                                    <time class="message-preview__date">21.09.18:</time>
                                    <span class="message-preview__subject">Онлайн питч вашего проекта</span>
                                </a>
                            </li>
                            <li class="message-previews__item">
                                <a href="#" class="message-preview">
                                    <time class="message-preview__date">21.09.18:</time>
                                    <span class="message-preview__subject">Онлайн питч вашего проекта</span>
                                </a>
                            </li>
                            <li class="message-previews__item">
                                <a href="#" class="message-preview">
                                    <time class="message-preview__date">21.09.18:</time>
                                    <span class="message-preview__subject">Онлайн питч вашего проекта</span>
                                </a>
                            </li>
                            <li class="message-previews__item">
                                <a href="#" class="message-preview">
                                    <time class="message-preview__date">21.09.18:</time>
                                    <span class="message-preview__subject">Онлайн питч вашего проекта</span>
                                </a>
                            </li>
                            <li class="message-previews__item">
                                <a href="#" class="message-preview">
                                    <time class="message-preview__date">21.09.18:</time>
                                    <span class="message-preview__subject">Онлайн питч вашего проекта</span>
                                </a>
                            </li>
                            <li class="message-previews__item">
                                <a href="#" class="message-preview">
                                    <time class="message-preview__date">21.09.18:</time>
                                    <span class="message-preview__subject">Онлайн питч вашего проекта</span>
                                </a>
                            </li>
                            <li class="message-previews__item">
                                <a href="#" class="message-preview">
                                    <time class="message-preview__date">21.09.18:</time>
                                    <span class="message-preview__subject">Онлайн питч вашего проекта</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <a href="#" class="messages-block__link">
                        <span>Показать ещё</span>
                        <span class="icon"></span>
                    </a>
                </div>
            </div>
            <div class="col-6 account-block__activities">
                <div class="account-block__activities-section account-block__section">
                    <h3 class="account-block__section-title account-block__activities-headline">Мои инвестиции</h3>
                    <div class="row">
                        <div class="col-4">
                            <div class="invest-card">
                                <div class="invest-card__img">
                                    <img src="assets/images/logo-aperso.png" width="145" height="40" alt="">
                                </div>
                                <div class="invest-card__progress">
                                    <p class="invest-card__progress-label">Собрано</p>
                                    <div class="progress _small">
                                        <div class="progress-bar" role="progressbar" style="width: 42.5%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <p class="invest-card__progress-legend"><span class="current">5 000 000$</span> из <span class="total">10 000 000$</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="invest-card">
                                <div class="invest-card__img">
                                    <img src="assets/images/logo-aperso.png" width="145" height="40" alt="">
                                </div>
                                <div class="invest-card__progress">
                                    <p class="invest-card__progress-label">Собрано</p>
                                    <div class="progress _small">
                                        <div class="progress-bar" role="progressbar" style="width: 42.5%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <p class="invest-card__progress-legend"><span class="current">5 000 000$</span> из <span class="total">10 000 000$</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="invest-card">
                                <div class="invest-card__img">
                                    <img src="assets/images/logo-aperso.png" width="145" height="40" alt="">
                                </div>
                                <div class="invest-card__progress">
                                    <p class="invest-card__progress-label">Собрано</p>
                                    <div class="progress _small">
                                        <div class="progress-bar" role="progressbar" style="width: 42.5%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <p class="invest-card__progress-legend"><span class="current">5 000 000$</span> из <span class="total">10 000 000$</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="invest-card">
                                <div class="invest-card__img">
                                    <img src="assets/images/logo-aperso.png" width="145" height="40" alt="">
                                </div>
                                <div class="invest-card__progress">
                                    <p class="invest-card__progress-label">Собрано</p>
                                    <div class="progress _small">
                                        <div class="progress-bar" role="progressbar" style="width: 42.5%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <p class="invest-card__progress-legend"><span class="current">5 000 000$</span> из <span class="total">10 000 000$</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="account-block__activities-section account-block__section">
                    <h3 class="account-block__section-title account-block__activities-headline">Мои проекты</h3>
                    <div class="row">
                        <div class="col-6">
                            <div class="invest-card">
                                <div class="invest-card__header">
                                    <div class="invest-card__img">
                                        <img src="assets/images/logo-aperso.png" width="145" height="40" alt="">
                                    </div>
                                    <div class="invest-card__status">
                                        <span class="icon">
                                            <img src="assets/images/check.png" width="6" height="5" alt="">
                                        </span>
                                        <span>Одобрено</span>
                                    </div>
                                </div>
                                <div class="invest-card__progress">
                                    <p class="invest-card__progress-label">Собрано</p>
                                    <div class="progress _small">
                                        <div class="progress-bar" role="progressbar" style="width: 25.75%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <p class="invest-card__progress-legend"><span class="current">5 000 000$</span> из <span class="total">10 000 000$</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="invest-card">
                                <div class="invest-card__header">
                                    <div class="invest-card__img">
                                        <img src="assets/images/logo-aperso.png" width="145" height="40" alt="">
                                    </div>
                                    <div class="invest-card__status">
                                        <span class="icon">
                                            <img src="assets/images/check.png" width="6" height="5" alt="">
                                        </span>
                                        <span>Одобрено</span>
                                    </div>
                                </div>
                                <div class="invest-card__progress">
                                    <p class="invest-card__progress-label">Собрано</p>
                                    <div class="progress _small">
                                        <div class="progress-bar" role="progressbar" style="width: 25.75%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <p class="invest-card__progress-legend"><span class="current">5 000 000$</span> из <span class="total">10 000 000$</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section account _mobile">
    <div class="personal-card">
        <div class="container-fluid layout-positioner">
            <div class="personal-card__header">
                <div class="personal-card__img">
                    <img src="assets/images/user.jpg" width="100" height="100" alt="">
                </div>
                <h2 class="personal-card__name">Елена <br>Привалова</h2>
                <p class="personal-card__position">Генеральный <br>директор Роснано</p>
            </div>
            <div class="personal-card__footer">
                <a href="edit-account.html" class="btn personal-card__btn"><span>Редактировать</span></a>
                <a href="edit-account.html" class="btn personal-card__btn _left"><span>Выход</span><span class="logout-icon"></span></a>
            </div>
        </div>
    </div>
    <div class="container-fluid layout-positioner">
        <div class="account-tabs js-tabs">
            <div class="account-tabs__tab-controls">
                <ul class="tab-controls">
                    <li class="tab-control js-tab-control active">
                        <div class="message-control">
                            <div class="message-control__icon">
                                <img src="assets/images/envelope.png" width="48" height="34" alt="">
                            </div>
                            <div class="message-control__indicator">18</div>
                        </div>
                    </li>
                    <li class="tab-control js-tab-control">
                        <p class="tab-control__text">Мои инвестиции</p>
                    </li>
                    <li class="tab-control js-tab-control">
                        <p class="tab-control__text">Мои проекты</p>
                    </li>
                </ul>
            </div>
            <div class="account-tabs__tabs">
                <ul class="tabs">
                    <li class="tab js-tab active">
                        <div class="messages-block account-block__section">
                            <div class="messages-block__wrapper">
                                <ul class="message-previews">
                                    <li class="message-previews__item">
                                        <a href="#" class="message-preview">
                                            <time class="message-preview__date">21.09.18:</time>
                                            <span class="message-preview__subject">Онлайн питч вашего проекта</span>
                                        </a>
                                    </li>
                                    <li class="message-previews__item">
                                        <a href="#" class="message-preview">
                                            <time class="message-preview__date">21.09.18:</time>
                                            <span class="message-preview__subject">Онлайн питч вашего проекта</span>
                                        </a>
                                    </li>
                                    <li class="message-previews__item">
                                        <a href="#" class="message-preview">
                                            <time class="message-preview__date">21.09.18:</time>
                                            <span class="message-preview__subject">Онлайн питч вашего проекта</span>
                                        </a>
                                    </li>
                                    <li class="message-previews__item">
                                        <a href="#" class="message-preview">
                                            <time class="message-preview__date">21.09.18:</time>
                                            <span class="message-preview__subject">Онлайн питч вашего проекта</span>
                                        </a>
                                    </li>
                                    <li class="message-previews__item">
                                        <a href="#" class="message-preview">
                                            <time class="message-preview__date">21.09.18:</time>
                                            <span class="message-preview__subject">Онлайн питч вашего проекта</span>
                                        </a>
                                    </li>
                                    <li class="message-previews__item">
                                        <a href="#" class="message-preview">
                                            <time class="message-preview__date">21.09.18:</time>
                                            <span class="message-preview__subject">Онлайн питч вашего проекта</span>
                                        </a>
                                    </li>
                                    <li class="message-previews__item">
                                        <a href="#" class="message-preview">
                                            <time class="message-preview__date">21.09.18:</time>
                                            <span class="message-preview__subject">Онлайн питч вашего проекта</span>
                                        </a>
                                    </li>
                                    <li class="message-previews__item">
                                        <a href="#" class="message-preview">
                                            <time class="message-preview__date">21.09.18:</time>
                                            <span class="message-preview__subject">Онлайн питч вашего проекта</span>
                                        </a>
                                    </li>
                                    <li class="message-previews__item">
                                        <a href="#" class="message-preview">
                                            <time class="message-preview__date">21.09.18:</time>
                                            <span class="message-preview__subject">Онлайн питч вашего проекта</span>
                                        </a>
                                    </li>
                                    <li class="message-previews__item">
                                        <a href="#" class="message-preview">
                                            <time class="message-preview__date">21.09.18:</time>
                                            <span class="message-preview__subject">Онлайн питч вашего проекта</span>
                                        </a>
                                    </li>
                                    <li class="message-previews__item">
                                        <a href="#" class="message-preview">
                                            <time class="message-preview__date">21.09.18:</time>
                                            <span class="message-preview__subject">Онлайн питч вашего проекта</span>
                                        </a>
                                    </li>
                                    <li class="message-previews__item">
                                        <a href="#" class="message-preview">
                                            <time class="message-preview__date">21.09.18:</time>
                                            <span class="message-preview__subject">Онлайн питч вашего проекта</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <a href="#" class="messages-block__link">
                                <span>Показать ещё</span>
                                <span class="icon"></span>
                            </a>
                        </div>
                    </li>
                    <li class="tab js-tab">
                        <div class="activities-block">
                            <div class="row">
                                <div class="col-12">
                                    <div class="invest-card">
                                        <div class="invest-card__img">
                                            <img src="assets/images/logo-aperso.png" width="145" height="40" alt="">
                                        </div>
                                        <div class="invest-card__progress">
                                            <p class="invest-card__progress-label">Собрано</p>
                                            <div class="progress _small">
                                                <div class="progress-bar" role="progressbar" style="width: 42.5%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            <p class="invest-card__progress-legend"><span class="current">5 000 000$</span> из <span class="total">10 000 000$</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="invest-card">
                                        <div class="invest-card__img">
                                            <img src="assets/images/logo-aperso.png" width="145" height="40" alt="">
                                        </div>
                                        <div class="invest-card__progress">
                                            <p class="invest-card__progress-label">Собрано</p>
                                            <div class="progress _small">
                                                <div class="progress-bar" role="progressbar" style="width: 42.5%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            <p class="invest-card__progress-legend"><span class="current">5 000 000$</span> из <span class="total">10 000 000$</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="invest-card">
                                        <div class="invest-card__img">
                                            <img src="assets/images/logo-aperso.png" width="145" height="40" alt="">
                                        </div>
                                        <div class="invest-card__progress">
                                            <p class="invest-card__progress-label">Собрано</p>
                                            <div class="progress _small">
                                                <div class="progress-bar" role="progressbar" style="width: 42.5%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            <p class="invest-card__progress-legend"><span class="current">5 000 000$</span> из <span class="total">10 000 000$</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="invest-card">
                                        <div class="invest-card__img">
                                            <img src="assets/images/logo-aperso.png" width="145" height="40" alt="">
                                        </div>
                                        <div class="invest-card__progress">
                                            <p class="invest-card__progress-label">Собрано</p>
                                            <div class="progress _small">
                                                <div class="progress-bar" role="progressbar" style="width: 42.5%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            <p class="invest-card__progress-legend"><span class="current">5 000 000$</span> из <span class="total">10 000 000$</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="tab js-tab">
                        <div class="activities-block">
                            <div class="row">
                                <div class="col-12">
                                    <div class="invest-card">
                                        <div class="invest-card__header">
                                            <div class="invest-card__img">
                                                <img src="assets/images/logo-aperso.png" width="145" height="40" alt="">
                                            </div>
                                            <div class="invest-card__status">
                                                <span class="icon">
                                                    <img src="assets/images/check.png" width="6" height="5" alt="">
                                                </span>
                                                <span>Одобрено</span>
                                            </div>
                                        </div>
                                        <div class="invest-card__progress">
                                            <p class="invest-card__progress-label">Собрано</p>
                                            <div class="progress _small">
                                                <div class="progress-bar" role="progressbar" style="width: 25.75%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            <p class="invest-card__progress-legend"><span class="current">5 000 000$</span> из <span class="total">10 000 000$</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="invest-card">
                                        <div class="invest-card__header">
                                            <div class="invest-card__img">
                                                <img src="assets/images/logo-aperso.png" width="145" height="40" alt="">
                                            </div>
                                            <div class="invest-card__status">
                                                <span class="icon">
                                                    <img src="assets/images/check.png" width="6" height="5" alt="">
                                                </span>
                                                <span>Одобрено</span>
                                            </div>
                                        </div>
                                        <div class="invest-card__progress">
                                            <p class="invest-card__progress-label">Собрано</p>
                                            <div class="progress _small">
                                                <div class="progress-bar" role="progressbar" style="width: 25.75%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            <p class="invest-card__progress-legend"><span class="current">5 000 000$</span> из <span class="total">10 000 000$</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>





















