<section class="section apply">
    <div class="container-fluid layout-positioner">
        <div class="row section__header no-gutter">
            <div class="col-4">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Назад</a></li>
                    </ol>
                </nav>
            </div>
            <div class="col-4 _title">
                <h1 class="apply__title">Подать проект</h1>
            </div>
        </div>
    </div>
    <section class="steps">
        <form action="#" method="post" class="form steps-form">
            <div class="step _first" id="step1">
                <div class="container-fluid layout-positioner">
                    <div class="step__header row no-gutters">
                        <div class="col-3">
                            <p class="step__number">Шаг 1 из 6  </p>
                        </div>
                        <div class="col-6">
                            <h2 class="step__title">Общая информация </h2>
                        </div>
                    </div>
                    <div class="step__body row">
                        <div class="col-6">
                            <div class="steps-form__section">
                                <div class="steps-form__section-header">
                                    <p class="step__version">Русская версия</p>
                                    <!--<input type="checkbox" id="russian" class="form__checkbox" checked>-->
                                    <!--<label for="russian" class="form__checkbox-label">Не заполнять русскую версию</label>-->
                                </div>
                                <div class="form__field-wrapper">
                                    <label for="project-name" class="form__field-label _desktop">Название проекта</label>
                                    <input type="text" class="form__field" id="project-name">
                                </div>
                                <div class="form__field-wrapper">
                                    <label for="project-site" class="form__field-label _desktop">Сайт проекта</label>
                                    <input type="text" class="form__field" id="project-site">
                                </div>
                                <div class="form__field-wrapper">
                                    <label for="project-slogan" class="form__field-label _desktop">Слоган проекта</label>
                                    <input type="text" class="form__field" id="project-slogan">
                                </div>
                                <div class="form__field-wrapper">
                                    <label for="project-country" class="form__field-label _desktop">Страна нахождения</label>
                                    <input type="text" class="form__field" id="project-country">
                                </div>
                                <div class="form__field-wrapper">
                                    <label for="project-city" class="form__field-label _desktop">Город нахождения</label>
                                    <input type="text" class="form__field" id="project-city">
                                </div>
                                <div class="form__upload-block _no-border">
                                    <div class="form__upload-block-inner">
                                        <input type="file" id="presentation" class="form__upload">
                                        <label for="presentation" class="form__upload-link">
                                            <span class="form__upload-label">Загрузить инвестиционную презентацию</span>
                                            <span class="form__upload-button">
                                                <span class="icon">
                                                    <svg width="27" height="40">
                                                        <use xlink:href="#download"></use>
                                                    </svg>
                                                </span>
                                                <span class="btn form__upload-btn">Выбрать файл</span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form__field-wrapper _column">
                                    <label for="project-description" class="form__field-label">Общее описание проекта</label>
                                    <textarea name="project-description" id="project-description" class="form__message"></textarea>
                                </div>
                                <div class="form__field-wrapper _column">
                                    <label for="project-capacity" class="form__field-label">Рыночные возможности</label>
                                    <textarea name="project-capacity" id="project-capacity" class="form__message"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="steps-form__section">
                                <div class="steps-form__section-header">
                                    <p class="step__version">English version </p>
                                    <!--<input type="checkbox" id="english" class="form__checkbox">-->
                                    <!--<label for="english" class="form__checkbox-label">Не заполнять английскую версию</label>-->
                                </div>
                                <div class="form__field-wrapper">
                                    <label for="project-name-en" class="form__field-label _desktop">Project name</label>
                                    <input type="text" class="form__field" id="project-name-en">
                                </div>
                                <div class="form__field-wrapper">
                                    <label for="project-site-en" class="form__field-label _desktop">Project site</label>
                                    <input type="text" class="form__field" id="project-site-en">
                                </div>
                                <div class="form__field-wrapper">
                                    <label for="project-slogan-en" class="form__field-label _desktop">Project slogan</label>
                                    <input type="text" class="form__field" id="project-slogan-en">
                                </div>
                                <div class="form__field-wrapper">
                                    <label for="project-country-en" class="form__field-label _desktop">Location</label>
                                    <input type="text" class="form__field" id="project-country-en">
                                </div>
                                <div class="form__field-wrapper">
                                    <label for="project-city-en" class="form__field-label _desktop">City</label>
                                    <input type="text" class="form__field" id="project-city-en">
                                </div>
                                <div class="form__upload-block _no-border">
                                    <div class="form__upload-block-inner">
                                        <input type="file" id="presentation-en" class="form__upload">
                                        <label for="presentation-en" class="form__upload-link">
                                            <span class="form__upload-label">Загрузить инвестиционную презентацию</span>
                                            <span class="form__upload-button">
                                                <span class="icon">
                                                    <svg width="27" height="40">
                                                        <use xlink:href="#download"></use>
                                                    </svg>
                                                </span>
                                                <span class="btn form__upload-btn">Выбрать файл</span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form__field-wrapper _column">
                                    <label for="project-description-en" class="form__field-label">Project description</label>
                                    <textarea name="project-description" id="project-description-en" class="form__message"></textarea>
                                </div>
                                <div class="form__field-wrapper _column">
                                    <label for="project-capacity-en" class="form__field-label">Market opportunities</label>
                                    <textarea name="project-capacity-en" id="project-capacity" class="form__message"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="step__footer">
                        <p class="step__label">Выберите сферу проекта (можно несколько)</p>
                        <div class="tags step__tags _flexstart">
                            <input type="checkbox" class="form__checkbox" id="tag1">
                            <label for="tag1" class="tag"><span>Fintech</span></label>
                            <input type="checkbox" class="form__checkbox" id="tag2">
                            <label for="tag2" class="tag"><span>Software</span></label>
                            <input type="checkbox" class="form__checkbox" id="tag3">
                            <label for="tag3" class="tag"><span>Fintech</span></label>
                            <input type="checkbox" class="form__checkbox" id="tag4">
                            <label for="tag4" class="tag"><span>Software</span></label>
                            <input type="checkbox" class="form__checkbox" id="tag5">
                            <label for="tag5" class="tag"><span>Fintech</span></label>
                            <input type="checkbox" class="form__checkbox" id="tag6">
                            <label for="tag6" class="tag"><span>Software</span></label>
                            <input type="checkbox" class="form__checkbox" id="tag7">
                            <label for="tag7" class="tag"><span>Fintech</span></label>
                            <input type="checkbox" class="form__checkbox" id="tag8">
                            <label for="tag8" class="tag"><span>Software</span></label>
                            <input type="checkbox" class="form__checkbox" id="tag9">
                            <label for="tag9" class="tag"><span>Fintech</span></label>
                            <input type="checkbox" class="form__checkbox" id="tag10">
                            <label for="tag10" class="tag"><span>Software</span></label>
                            <input type="checkbox" class="form__checkbox" id="tag11">
                            <label for="tag11" class="tag"><span>Fintech</span></label>
                            <input type="checkbox" class="form__checkbox" id="tag12">
                            <label for="tag12" class="tag"><span>Software</span></label>
                            <input type="checkbox" class="form__checkbox" id="tag13">
                            <label for="tag13" class="tag"><span>Fintech</span></label>
                            <input type="checkbox" class="form__checkbox" id="tag14">
                            <label for="tag14" class="tag"><span>Software</span></label>
                            <input type="checkbox" class="form__checkbox" id="tag15">
                            <label for="tag15" class="tag"><span>Fintech</span></label>
                            <input type="checkbox" class="form__checkbox" id="tag16">
                            <label for="tag16" class="tag"><span>Software</span></label>
                            <input type="checkbox" class="form__checkbox" id="tag17">
                            <label for="tag17" class="tag"><span>Fintech</span></label>
                            <input type="checkbox" class="form__checkbox" id="tag18">
                            <label for="tag18" class="tag"><span>Software</span></label>
                            <input type="checkbox" class="form__checkbox" id="tag19">
                            <label for="tag19" class="tag"><span>Fintech</span></label>
                            <input type="checkbox" class="form__checkbox" id="tag20">
                            <label for="tag20" class="tag"><span>Software</span></label>
                        </div>
                        <button class="btn form__btn">Сохранить и продолжить</button>
                        <a href="#step2" class="step__scroll-link">
                            <span>Далее</span>
                            <img src="assets/images/more.png" width="64" height="32" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="step _dark" id="step2">
                <div class="container-fluid layout-positioner">
                    <div class="step__header row no-gutters">
                        <div class="col-3">
                            <p class="step__number">Шаг 2 из 6  </p>
                        </div>
                        <div class="col-6">
                            <h2 class="step__title">Продукт </h2>
                        </div>
                        <div class="col-3 _flex-end">
                            <a href="#step1" class="step__scroll-prev">Вернуться <br>к предыдущему шагу</a>
                        </div>
                    </div>
                    <div class="step__body row">
                        <div class="col-6">
                            <div class="steps-form__section">
                                <div class="steps-form__section-header">
                                    <p class="step__version">Русская версия</p>
                                </div>
                                <div class="form__field-wrapper _column">
                                    <label for="project-description" class="form__field-label">Опишите главный подукт вашей компании, что он из себя представляет, в&nbsp;чем его особенность, чем он отличается от продуктов конкурентов, кто и когда будет потреблять такой продукт</label>
                                    <textarea name="main-product" id="main-product" class="form__message"></textarea>
                                </div>
                                <div class="form__upload-block _no-border">
                                    <div class="form__upload-block-inner">
                                        <input type="file" id="presentation" class="form__upload">
                                        <label for="presentation" class="form__upload-link">
                                            <span class="form__upload-label">Загрузите до 3-х сопроводительных<br>изображений</span>
                                            <span class="form__upload-button">
                                                <span class="icon">
                                                    <svg width="27" height="40">
                                                        <use xlink:href="#download"></use>
                                                    </svg>
                                                </span>
                                                <span class="btn form__upload-btn">Выбрать файл</span>
                                            </span>
                                        </label>
                                    </div>
                                    <div class="form__upload-previews">
                                        <div class="form__upload-preview">
                                            <button class="form__upload-preview-btn" type="button">Удалить</button>
                                            <img src="assets/images/illustr01.jpg" width="66" height="66" alt="">
                                        </div>
                                        <div class="form__upload-preview">
                                            <button class="form__upload-preview-btn" type="button">Удалить</button>
                                            <img src="assets/images/illustr02.jpg" width="66" height="66" alt="">
                                        </div>
                                        <div class="form__upload-preview">
                                            <button class="form__upload-preview-btn" type="button">Удалить</button>
                                            <img src="assets/images/illustr03.jpg" width="66" height="66" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="steps-form__section">
                                <div class="steps-form__section-header">
                                    <p class="step__version">English version </p>
                                </div>
                                <div class="form__field-wrapper _column">
                                    <label for="project-description" class="form__field-label">Describe the main product of your company, what it is, why it special, why it is differen rivals, when, who &amp; why will use this product<br>&nbsp;</label>
                                    <textarea name="main-product" id="main-product" class="form__message"></textarea>
                                </div>
                                <div class="form__upload-block _no-border">
                                    <div class="form__upload-block-inner">
                                        <input type="file" id="presentation" class="form__upload">
                                        <label for="presentation" class="form__upload-link">
                                            <span class="form__upload-label">Upload up to 3 images</span>
                                            <span class="form__upload-button">
                                                <span class="icon">
                                                    <svg width="27" height="40">
                                                        <use xlink:href="#download"></use>
                                                    </svg>
                                                </span>
                                                <span class="btn form__upload-btn">Choose a file</span>
                                            </span>
                                        </label>
                                    </div>
                                    <div class="form__upload-previews">
                                        <div class="form__upload-preview">
                                            <button class="form__upload-preview-btn" type="button">Удалить</button>
                                            <img src="assets/images/illustr01.jpg" width="66" height="66" alt="">
                                        </div>
                                        <div class="form__upload-preview">
                                            <button class="form__upload-preview-btn" type="button">Удалить</button>
                                            <img src="assets/images/illustr02.jpg" width="66" height="66" alt="">
                                        </div>
                                        <div class="form__upload-preview">
                                            <button class="form__upload-preview-btn" type="button">Удалить</button>
                                            <img src="assets/images/illustr03.jpg" width="66" height="66" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="step__footer">
                        <button class="btn form__btn">Сохранить и продолжить</button>
                        <a href="#step3" class="step__scroll-link">
                            <span>Далее</span>
                            <img src="assets/images/more-w.png" width="64" height="32" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="step " id="step3">
                <div class="container-fluid layout-positioner">
                    <div class="step__header row no-gutters">
                        <div class="col-3">
                            <p class="step__number">Шаг 3 из 6  </p>
                        </div>
                        <div class="col-6">
                            <h2 class="step__title">Продукт </h2>
                        </div>
                        <div class="col-3 _flex-end">
                            <a href="#step2" class="step__scroll-prev">Вернуться <br>к предыдущему шагу</a>
                        </div>
                    </div>
                    <div class="step__body row">
                        <div class="col-6">
                            <div class="steps-form__section">
                                <div class="steps-form__section-header">
                                    <p class="step__version">Русская версия</p>
                                </div>
                                <div class="form__field-wrapper _column">
                                    <label for="project-description" class="form__field-label">Опишите главный подукт вашей компании, что он из себя представляет, в&nbsp;чем его особенность, чем он отличается от продуктов конкурентов, кто и когда будет потреблять такой продукт</label>
                                    <textarea name="main-product" id="main-product" class="form__message"></textarea>
                                </div>
                                <div class="form__upload-block _no-border">
                                    <div class="form__upload-block-inner">
                                        <input type="file" id="presentation" class="form__upload">
                                        <label for="presentation" class="form__upload-link">
                                            <span class="form__upload-label">Загрузите до 3-х сопроводительных<br>изображений</span>
                                            <span class="form__upload-button">
                                                <span class="icon">
                                                    <svg width="27" height="40">
                                                        <use xlink:href="#download"></use>
                                                    </svg>
                                                </span>
                                                <span class="btn form__upload-btn">Выбрать файл</span>
                                            </span>
                                        </label>
                                    </div>
                                    <div class="form__upload-previews">
                                        <div class="form__upload-preview">
                                            <button class="form__upload-preview-btn" type="button">Удалить</button>
                                            <img src="assets/images/illustr01.jpg" width="66" height="66" alt="">
                                        </div>
                                        <div class="form__upload-preview">
                                            <button class="form__upload-preview-btn" type="button">Удалить</button>
                                            <img src="assets/images/illustr02.jpg" width="66" height="66" alt="">
                                        </div>
                                        <div class="form__upload-preview">
                                            <button class="form__upload-preview-btn" type="button">Удалить</button>
                                            <img src="assets/images/illustr03.jpg" width="66" height="66" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="steps-form__section">
                                <div class="steps-form__section-header">
                                    <p class="step__version">English version </p>
                                </div>
                                <div class="form__field-wrapper _column">
                                    <label for="project-description" class="form__field-label">Describe the main product of your company, what it is, why it special, why it is differen rivals, when, who &amp; why will use this product<br>&nbsp;</label>
                                    <textarea name="main-product" id="main-product" class="form__message"></textarea>
                                </div>
                                <div class="form__upload-block _no-border">
                                    <div class="form__upload-block-inner">
                                        <input type="file" id="presentation" class="form__upload">
                                        <label for="presentation" class="form__upload-link">
                                            <span class="form__upload-label">Upload up to 3 images</span>
                                            <span class="form__upload-button">
                                                <span class="icon">
                                                    <svg width="27" height="40">
                                                        <use xlink:href="#download"></use>
                                                    </svg>
                                                </span>
                                                <span class="btn form__upload-btn">Choose a file</span>
                                            </span>
                                        </label>
                                    </div>
                                    <div class="form__upload-previews">
                                        <div class="form__upload-preview">
                                            <button class="form__upload-preview-btn" type="button">Удалить</button>
                                            <img src="assets/images/illustr01.jpg" width="66" height="66" alt="">
                                        </div>
                                        <div class="form__upload-preview">
                                            <button class="form__upload-preview-btn" type="button">Удалить</button>
                                            <img src="assets/images/illustr02.jpg" width="66" height="66" alt="">
                                        </div>
                                        <div class="form__upload-preview">
                                            <button class="form__upload-preview-btn" type="button">Удалить</button>
                                            <img src="assets/images/illustr03.jpg" width="66" height="66" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="step__footer">
                        <button class="btn form__btn">Сохранить и продолжить</button>
                        <a href="#step4" class="step__scroll-link">
                            <span>Далее</span>
                            <img src="assets/images/more.png" width="64" height="32" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="step _dark" id="step4">
                <div class="container-fluid layout-positioner">
                    <div class="step__header row no-gutters">
                        <div class="col-3">
                            <p class="step__number">Шаг 4 из 6  </p>
                        </div>
                        <div class="col-6">
                            <h2 class="step__title">Метрики </h2>
                        </div>
                        <div class="col-3 _flex-end">
                            <a href="#step3" class="step__scroll-prev">Вернуться <br>к предыдущему шагу</a>
                        </div>
                    </div>
                    <div class="step__body row">
                        <div class="col-6">
                            <div class="steps-form__section">
                                <div class="steps-form__section-header">
                                    <p class="step__version">Русская версия</p>
                                </div>
                                <div class="form__field-wrapper _column">
                                    <label for="project-description" class="form__field-label">Опишите главный подукт вашей компании, что он из себя представляет, в&nbsp;чем его особенность, чем он отличается от продуктов конкурентов, кто и когда будет потреблять такой продукт</label>
                                    <textarea name="main-product" id="main-product" class="form__message"></textarea>
                                </div>
                                <div class="form__upload-block _no-border">
                                    <div class="form__upload-block-inner">
                                        <input type="file" id="presentation" class="form__upload">
                                        <label for="presentation" class="form__upload-link">
                                            <span class="form__upload-label">Загрузите до 3-х сопроводительных<br>изображений</span>
                                            <span class="form__upload-button">
                                                <span class="icon">
                                                    <svg width="27" height="40">
                                                        <use xlink:href="#download"></use>
                                                    </svg>
                                                </span>
                                                <span class="btn form__upload-btn">Выбрать файл</span>
                                            </span>
                                        </label>
                                    </div>
                                    <div class="form__upload-previews">
                                        <div class="form__upload-preview">
                                            <button class="form__upload-preview-btn" type="button">Удалить</button>
                                            <img src="assets/images/illustr01.jpg" width="66" height="66" alt="">
                                        </div>
                                        <div class="form__upload-preview">
                                            <button class="form__upload-preview-btn" type="button">Удалить</button>
                                            <img src="assets/images/illustr02.jpg" width="66" height="66" alt="">
                                        </div>
                                        <div class="form__upload-preview">
                                            <button class="form__upload-preview-btn" type="button">Удалить</button>
                                            <img src="assets/images/illustr03.jpg" width="66" height="66" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="steps-form__section">
                                <div class="steps-form__section-header">
                                    <p class="step__version">English version </p>
                                </div>
                                <div class="form__field-wrapper _column">
                                    <label for="project-description" class="form__field-label">Describe the main product of your company, what it is, why it special, why it is differen rivals, when, who &amp; why will use this product<br>&nbsp;</label>
                                    <textarea name="main-product" id="main-product" class="form__message"></textarea>
                                </div>
                                <div class="form__upload-block _no-border">
                                    <div class="form__upload-block-inner">
                                        <input type="file" id="presentation" class="form__upload">
                                        <label for="presentation" class="form__upload-link">
                                            <span class="form__upload-label">Upload up to 3 images</span>
                                            <span class="form__upload-button">
                                                <span class="icon">
                                                    <svg width="27" height="40">
                                                        <use xlink:href="#download"></use>
                                                    </svg>
                                                </span>
                                                <span class="btn form__upload-btn">Choose a file</span>
                                            </span>
                                        </label>
                                    </div>
                                    <div class="form__upload-previews">
                                        <div class="form__upload-preview">
                                            <button class="form__upload-preview-btn" type="button">Удалить</button>
                                            <img src="assets/images/illustr01.jpg" width="66" height="66" alt="">
                                        </div>
                                        <div class="form__upload-preview">
                                            <button class="form__upload-preview-btn" type="button">Удалить</button>
                                            <img src="assets/images/illustr02.jpg" width="66" height="66" alt="">
                                        </div>
                                        <div class="form__upload-preview">
                                            <button class="form__upload-preview-btn" type="button">Удалить</button>
                                            <img src="assets/images/illustr03.jpg" width="66" height="66" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="step__footer">
                        <button class="btn form__btn">Сохранить и продолжить</button>
                        <a href="#step5" class="step__scroll-link">
                            <span>Далее</span>
                            <img src="assets/images/more-w.png" width="64" height="32" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="step " id="step5">
                <div class="container-fluid layout-positioner">
                    <div class="step__header row no-gutters">
                        <div class="col-3">
                            <p class="step__number">Шаг 5 из 6  </p>
                        </div>
                        <div class="col-6">
                            <h2 class="step__title">Финансирование </h2>
                        </div>
                        <div class="col-3 _flex-end">
                            <a href="#step4" class="step__scroll-prev">Вернуться <br>к предыдущему шагу</a>
                        </div>
                    </div>
                    <div class="step__body row">
                        <div class="col-6">
                            <div class="steps-form__section">
                                <div class="steps-form__section-header">
                                    <p class="step__version">Русская версия</p>
                                </div>
                                <div class="form__field-wrapper _column">
                                    <label for="project-description" class="form__field-label">Опишите главный подукт вашей компании, что он из себя представляет, в&nbsp;чем его особенность, чем он отличается от продуктов конкурентов, кто и когда будет потреблять такой продукт</label>
                                    <textarea name="main-product" id="main-product" class="form__message"></textarea>
                                </div>
                                <div class="form__upload-block _no-border">
                                    <div class="form__upload-block-inner">
                                        <input type="file" id="presentation" class="form__upload">
                                        <label for="presentation" class="form__upload-link">
                                            <span class="form__upload-label">Загрузите до 3-х сопроводительных<br>изображений</span>
                                            <span class="form__upload-button">
                                                <span class="icon">
                                                    <svg width="27" height="40">
                                                        <use xlink:href="#download"></use>
                                                    </svg>
                                                </span>
                                                <span class="btn form__upload-btn">Выбрать файл</span>
                                            </span>
                                        </label>
                                    </div>
                                    <div class="form__upload-previews">
                                        <div class="form__upload-preview">
                                            <button class="form__upload-preview-btn" type="button">Удалить</button>
                                            <img src="assets/images/illustr01.jpg" width="66" height="66" alt="">
                                        </div>
                                        <div class="form__upload-preview">
                                            <button class="form__upload-preview-btn" type="button">Удалить</button>
                                            <img src="assets/images/illustr02.jpg" width="66" height="66" alt="">
                                        </div>
                                        <div class="form__upload-preview">
                                            <button class="form__upload-preview-btn" type="button">Удалить</button>
                                            <img src="assets/images/illustr03.jpg" width="66" height="66" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="steps-form__section">
                                <div class="steps-form__section-header">
                                    <p class="step__version">English version </p>
                                </div>
                                <div class="form__field-wrapper _column">
                                    <label for="project-description" class="form__field-label">Describe the main product of your company, what it is, why it special, why it is differen rivals, when, who &amp; why will use this product<br>&nbsp;</label>
                                    <textarea name="main-product" id="main-product" class="form__message"></textarea>
                                </div>
                                <div class="form__upload-block _no-border">
                                    <div class="form__upload-block-inner">
                                        <input type="file" id="presentation" class="form__upload">
                                        <label for="presentation" class="form__upload-link">
                                            <span class="form__upload-label">Upload up to 3 images</span>
                                            <span class="form__upload-button">
                                                <span class="icon">
                                                    <svg width="27" height="40">
                                                        <use xlink:href="#download"></use>
                                                    </svg>
                                                </span>
                                                <span class="btn form__upload-btn">Choose a file</span>
                                            </span>
                                        </label>
                                    </div>
                                    <div class="form__upload-previews">
                                        <div class="form__upload-preview">
                                            <button class="form__upload-preview-btn" type="button">Удалить</button>
                                            <img src="assets/images/illustr01.jpg" width="66" height="66" alt="">
                                        </div>
                                        <div class="form__upload-preview">
                                            <button class="form__upload-preview-btn" type="button">Удалить</button>
                                            <img src="assets/images/illustr02.jpg" width="66" height="66" alt="">
                                        </div>
                                        <div class="form__upload-preview">
                                            <button class="form__upload-preview-btn" type="button">Удалить</button>
                                            <img src="assets/images/illustr03.jpg" width="66" height="66" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="step__footer">
                        <button class="btn form__btn">Сохранить и продолжить</button>
                        <a href="#step6" class="step__scroll-link">
                            <span>Далее</span>
                            <img src="assets/images/more.png" width="64" height="32" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="step _dark" id="step4">
                <div class="container-fluid layout-positioner">
                    <div class="step__header row no-gutters">
                        <div class="col-3">
                            <p class="step__number">Шаг 6 из 6  </p>
                        </div>
                        <div class="col-6">
                            <h2 class="step__title">Дорожная карта </h2>
                        </div>
                        <div class="col-3 _flex-end">
                            <a href="#step5" class="step__scroll-prev">Вернуться <br>к предыдущему шагу</a>
                        </div>
                    </div>
                    <div class="step__body row">
                        <div class="col-6">
                            <div class="steps-form__section">
                                <div class="steps-form__section-header">
                                    <p class="step__version">Русская версия</p>
                                </div>
                                <div class="form__field-wrapper _column">
                                    <label for="project-description" class="form__field-label">Опишите главный подукт вашей компании, что он из себя представляет, в&nbsp;чем его особенность, чем он отличается от продуктов конкурентов, кто и когда будет потреблять такой продукт</label>
                                    <textarea name="main-product" id="main-product" class="form__message"></textarea>
                                </div>
                                <div class="form__upload-block _no-border">
                                    <div class="form__upload-block-inner">
                                        <input type="file" id="presentation" class="form__upload">
                                        <label for="presentation" class="form__upload-link">
                                            <span class="form__upload-label">Загрузите до 3-х сопроводительных<br>изображений</span>
                                            <span class="form__upload-button">
                                                <span class="icon">
                                                    <svg width="27" height="40">
                                                        <use xlink:href="#download"></use>
                                                    </svg>
                                                </span>
                                                <span class="btn form__upload-btn">Выбрать файл</span>
                                            </span>
                                        </label>
                                    </div>
                                    <div class="form__upload-previews">
                                        <div class="form__upload-preview">
                                            <button class="form__upload-preview-btn" type="button">Удалить</button>
                                            <img src="assets/images/illustr01.jpg" width="66" height="66" alt="">
                                        </div>
                                        <div class="form__upload-preview">
                                            <button class="form__upload-preview-btn" type="button">Удалить</button>
                                            <img src="assets/images/illustr02.jpg" width="66" height="66" alt="">
                                        </div>
                                        <div class="form__upload-preview">
                                            <button class="form__upload-preview-btn" type="button">Удалить</button>
                                            <img src="assets/images/illustr03.jpg" width="66" height="66" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="steps-form__section">
                                <div class="steps-form__section-header">
                                    <p class="step__version">English version </p>
                                </div>
                                <div class="form__field-wrapper _column">
                                    <label for="project-description" class="form__field-label">Describe the main product of your company, what it is, why it special, why it is differen rivals, when, who &amp; why will use this product<br>&nbsp;</label>
                                    <textarea name="main-product" id="main-product" class="form__message"></textarea>
                                </div>
                                <div class="form__upload-block _no-border">
                                    <div class="form__upload-block-inner">
                                        <input type="file" id="presentation" class="form__upload">
                                        <label for="presentation" class="form__upload-link">
                                            <span class="form__upload-label">Upload up to 3 images</span>
                                            <span class="form__upload-button">
                                                <span class="icon">
                                                    <svg width="27" height="40">
                                                        <use xlink:href="#download"></use>
                                                    </svg>
                                                </span>
                                                <span class="btn form__upload-btn">Choose a file</span>
                                            </span>
                                        </label>
                                    </div>
                                    <div class="form__upload-previews">
                                        <div class="form__upload-preview">
                                            <button class="form__upload-preview-btn" type="button">Удалить</button>
                                            <img src="assets/images/illustr01.jpg" width="66" height="66" alt="">
                                        </div>
                                        <div class="form__upload-preview">
                                            <button class="form__upload-preview-btn" type="button">Удалить</button>
                                            <img src="assets/images/illustr02.jpg" width="66" height="66" alt="">
                                        </div>
                                        <div class="form__upload-preview">
                                            <button class="form__upload-preview-btn" type="button">Удалить</button>
                                            <img src="assets/images/illustr03.jpg" width="66" height="66" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="step__footer">
                        <button class="btn form__btn">Сохранить последний шаг</button>
                        <div class="step__form-wrapper">
                            <div class="form__field-wrapper">
                                <label for="contact-tel" class="form__field-label">Контактный телефон</label>
                                <input type="tel" class="form__field" id="contact-tel">
                            </div>
                            <div class="form__field-wrapper">
                                <label for="contact-email" class="form__field-label">Контактный e-mail</label>
                                <input type="email" class="form__field" id="contact-email">
                            </div>
                            <a href="#" class="btn btn--big btn--transparent steps-form__btn">Отправить проект на рассмотрение</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
</section>