<section class="section edit-account">
    <div class="container-fluid layout-positioner">
        <div class="row section__header no-gutter">
            <div class="col-4">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Назад</a></li>
                    </ol>
                </nav>
            </div>
        </div>
        <form action="#" method="post" class="form account-form  _desktop">
            <div class="row account-form-block no-gutter">
                <div class="col-6 account-form-block__col">
                    <div class="account-form-block__section">
                        <h3 class="account-form-block__section-title">Личная информация</h3>
                        <div class="account-form-block__section-wrapper">
                            <div class="form__field-wrapper">
                                <label for="username" class="form__field-label">Ваше имя</label>
                                <input type="text" id="username" class="form__field">
                            </div>
                            <div class="form__field-wrapper">
                                <label for="usermail" class="form__field-label">Ваш E-mail</label>
                                <input type="email" id="usermail" class="form__field">
                            </div>
                            <div class="form__field-wrapper">
                                <label for="userphone" class="form__field-label">Номер телефона</label>
                                <input type="tel" id="userphone" class="form__field" placeholder="+00 000 0000 00000">
                            </div>
                        </div>
                    </div>
                    <div class="account-form-block__section _short-inputs">
                        <div class="account-form-block__section-wrapper">
                            <div class="account-form-block__inner">
                                <div class="account-form-block__labels">
                                    <label for="amount" class="form__field-label">Средний размер и частота инвестиций, которые вы планируете</label>
                                    <p class="form__note">Эту информацию увидят только сотрудники площадки, мы не передаем ее третьим лицам</p>
                                </div>
                                <div class="account-form-block__fieldset">
                                    <div class="form__field-wrapper">
                                        <input type="text" id="amount" class="form__field" placeholder="50 000$">
                                    </div>
                                    <div class="form__select-wrapper _categories">
                                        <select class="form__select custom-select" id="transactions">
                                            <option selected>Более 5 сделок в год</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form__field-wrapper">
                                <label for="status" class="form__field-label">Вы:</label>
                                <div class="form__select-wrapper _categories">
                                    <select class="form__select custom-select" id="status">
                                        <option selected>Частный инвестор</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form__field-wrapper">
                                <label for="position" class="form__field-label">Вид деятельности или должность</label>
                                <input type="text" id="position" class="form__field" placeholder="Предприниматель">
                            </div>
                            <div class="form__field-wrapper">
                                <label for="company" class="form__field-label">Название компании/фонда <span class="sub">(если применимо)</span></label>
                                <input type="text" id="company" class="form__field" placeholder="Роснано">
                            </div>
                        </div>
                    </div>
                    <div class="account-form-block__section">
                        <h3 class="account-form-block__section-title">Второе контактное лицо в компании <span class="sub">(если применимо)</span></h3>
                        <div class="account-form-block__section-wrapper">
                            <div class="form__field-wrapper">
                                <label for="username2" class="form__field-label">Ваше имя</label>
                                <input type="text" id="username2" class="form__field">
                            </div>
                            <div class="form__field-wrapper">
                                <label for="usermail2" class="form__field-label">Ваш E-mail</label>
                                <input type="email" id="usermail2" class="form__field">
                            </div>
                            <div class="form__field-wrapper">
                                <label for="userphone2" class="form__field-label">Номер телефона</label>
                                <input type="tel" id="userphone2" class="form__field" placeholder="+00 000 0000 00000">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 account-form-block__col">
                    <div class="account-form-block__section">
                        <h3 class="account-form-block__section-title">Выберите сферу интересов <span class="sub">(можно несколько)</span></h3>
                        <div class="account-form-block__section-wrapper _wrap">
                            <input type="checkbox" id="interest1" class="form__checkbox" checked>
                            <label for="interest1" class="form__checkbox-label account-form__checkbox-label">Fintech</label>
                            <input type="checkbox" id="interest2" class="form__checkbox" checked>
                            <label for="interest2" class="form__checkbox-label account-form__checkbox-label">Fintech</label>
                            <input type="checkbox" id="interest3" class="form__checkbox">
                            <label for="interest3" class="form__checkbox-label account-form__checkbox-label">Fintech</label>
                            <input type="checkbox" id="interest4" class="form__checkbox" checked>
                            <label for="interest4" class="form__checkbox-label account-form__checkbox-label">Fintech</label>
                            <input type="checkbox" id="interest5" class="form__checkbox" checked>
                            <label for="interest5" class="form__checkbox-label account-form__checkbox-label">Software</label>
                            <input type="checkbox" id="interest6" class="form__checkbox" checked>
                            <label for="interest6" class="form__checkbox-label account-form__checkbox-label">Software</label>
                            <input type="checkbox" id="interest7" class="form__checkbox">
                            <label for="interest7" class="form__checkbox-label account-form__checkbox-label">Software</label>
                            <input type="checkbox" id="interest8" class="form__checkbox">
                            <label for="interest8" class="form__checkbox-label account-form__checkbox-label">Software</label>
                            <input type="checkbox" id="interest9" class="form__checkbox" checked>
                            <label for="interest9" class="form__checkbox-label account-form__checkbox-label">Fintech</label>
                            <input type="checkbox" id="interest10" class="form__checkbox">
                            <label for="interest10" class="form__checkbox-label account-form__checkbox-label">Fintech</label>
                            <input type="checkbox" id="interest11" class="form__checkbox" checked>
                            <label for="interest11" class="form__checkbox-label account-form__checkbox-label">Fintech</label>
                            <input type="checkbox" id="interest12" class="form__checkbox" checked>
                            <label for="interest12" class="form__checkbox-label account-form__checkbox-label">Fintech</label>
                        </div>
                        <div class="form__upload-block">
                            <input type="file" id="photo" class="form__upload">
                            <label for="photo" class="form__upload-link">
                                <span class="form__upload-label">Загрузите фото:</span>
                                <span class="form__upload-button">
                                    <span class="icon">
                                        <svg width="27" height="40">
                                            <use xlink:href="#download" />
                                        </svg>
                                    </span>
                                    <span class="btn form__upload-btn">Выбрать файл</span>
                                </span>
                            </label>
                            <div class="form__upload-preview">
                                <button class="form__upload-preview-btn" type="button">Удалить</button>
                                <img src="assets/images/user.jpg" width="66" height="66" alt="">
                            </div>
                        </div>
                        <div class="account-form-block__section-wrapper">
                            <div class="form__field-wrapper">
                                <label for="country" class="form__field-label">Страна нахождения</label>
                                <input type="text" id="country" class="form__field">
                            </div>
                            <div class="form__field-wrapper">
                                <label for="city" class="form__field-label">Город нахождения</label>
                                <input type="text" id="city" class="form__field">
                            </div>
                        </div>
                    </div>
                    <div class="account-form-block__section">
                        <div class="account-form-block__section-wrapper">
                            <div class="form__field-wrapper">
                                <label for="info" class="form__message-label form__field-label">Дополнительные сведения о бизнес интересах</label>
                                <textarea name="info" id="info" class="form__message" placeholder="Например, &laquo;Не предлагайте мне блокчейн&raquo;."></textarea>
                            </div>
                        </div>
                        <button class="btn btn--large account-form__submit">Сохранить изменения</button>
                    </div>
                </div>
            </div>
        </form>
        <form action="#" method="post" class="form account-form  _mobile">
            <div class="account-form-block _screen1">
                <h2 class="account-form__title">Редактировать профиль</h2>
                <div class="account-form-block__header">
                    <p>Шаг <span class="current">1</span> из <span class="total">5</span></p>
                </div>
                <div class="account-form-block__content">
                    <h3 class="account-form-block__section-title">Личная информация</h3>
                    <div class="account-form-block__section-wrapper">
                        <div class="form__field-wrapper">
                            <label for="username4" class="form__field-label">Ваше имя</label>
                            <input type="text" id="username4" class="form__field">
                        </div>
                        <div class="form__field-wrapper">
                            <label for="usermail4" class="form__field-label">Ваш E-mail</label>
                            <input type="email" id="usermail4" class="form__field">
                        </div>
                        <div class="form__field-wrapper">
                            <label for="userphone4" class="form__field-label">Номер телефона</label>
                            <input type="tel" id="userphone4" class="form__field" placeholder="+00 000 0000 00000">
                        </div>
                    </div>
                    <h3 class="account-form-block__section-title">Второе контактное лицо в компании <span class="sub">(если применимо)</span></h3>
                    <div class="account-form-block__section-wrapper">
                        <div class="form__field-wrapper">
                            <label for="username24" class="form__field-label">Ваше имя</label>
                            <input type="text" id="username24" class="form__field">
                        </div>
                        <div class="form__field-wrapper">
                            <label for="usermail24" class="form__field-label">Ваш E-mail</label>
                            <input type="email" id="usermail24" class="form__field">
                        </div>
                        <div class="form__field-wrapper">
                            <label for="userphone24" class="form__field-label">Номер телефона</label>
                            <input type="tel" id="userphone24" class="form__field" placeholder="+00 000 0000 00000">
                        </div>
                    </div>
                </div>
                <div class="account-form-block__footer">
                    <button type="button" class="account-form-block__btn btn btn--big js-form-block-btn">Сохранить и продолжить</button>
                    <a href="#" class="account-form-block__next">
                        <img src="assets/images/more.png" width="86" height="43" alt="">
                    </a>
                </div>
            </div>
            <div class="account-form-block _screen2">
                <div class="account-form-block__header">
                    <p>Шаг <span class="current">2</span> из <span class="total">5</span></p>
                    <a href="#" class="account-form-block__prev">
                        <img src="assets/images/arr-w.png" width="40" height="22" alt="">
                    </a>
                </div>
                <div class="account-form-block__content">
                    <div class="account-form-block__section-wrapper">
                        <div class="account-form-block__inner">
                            <div class="account-form-block__labels">
                                <label for="amount4" class="form__field-label">Средний размер и частота инвестиций, которые вы планируете</label>
                                <p class="form__note">Эту информацию увидят только сотрудники площадки, мы не передаем ее третьим лицам</p>
                            </div>
                            <div class="account-form-block__fieldset">
                                <div class="form__field-wrapper">
                                    <input type="text" id="amount4" class="form__field" placeholder="50 000$">
                                </div>
                                <div class="form__select-wrapper _categories">
                                    <select class="form__select custom-select" id="transactions4">
                                        <option selected>Более 5 сделок в год</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form__field-wrapper">
                            <label for="status4" class="form__field-label">Вы:</label>
                            <div class="form__select-wrapper _categories">
                                <select class="form__select custom-select" id="status4">
                                    <option selected>Частный инвестор</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                        </div>
                        <div class="form__field-wrapper">
                            <label for="position4" class="form__field-label">Вид деятельности или должность</label>
                            <input type="text" id="position4" class="form__field" placeholder="Предприниматель">
                        </div>
                        <div class="form__field-wrapper">
                            <label for="company4" class="form__field-label">Название компании/фонда <span class="sub">(если применимо)</span></label>
                            <input type="text" id="company4" class="form__field" placeholder="Роснано">
                        </div>
                    </div>
                </div>
                <div class="account-form-block__footer">
                    <button type="button" class="account-form-block__btn btn btn--big js-form-block-btn">Сохранить и продолжить</button>
                    <a href="#" class="account-form-block__next">
                        <img src="assets/images/more.png" width="86" height="43" alt="">
                    </a>
                </div>
            </div>
            <div class="account-form-block _screen3">
                <div class="account-form-block__header">
                    <p>Шаг <span class="current">3</span> из <span class="total">5</span></p>
                    <a href="#" class="account-form-block__prev">
                        <img src="assets/images/arr-w.png" width="40" height="22" alt="">
                    </a>
                </div>
                <div class="account-form-block__content">
                    <h3 class="account-form-block__section-title">Выберите сферу интересов <span class="sub">(можно несколько)</span></h3>
                    <div class="account-form-block__section-wrapper _wrap">
                        <input type="checkbox" id="interest11" class="form__checkbox" checked>
                        <label for="interest11" class="form__checkbox-label account-form__checkbox-label">Fintech</label>
                        <input type="checkbox" id="interest21" class="form__checkbox" checked>
                        <label for="interest21" class="form__checkbox-label account-form__checkbox-label">Fintech</label>
                        <input type="checkbox" id="interest31" class="form__checkbox">
                        <label for="interest31" class="form__checkbox-label account-form__checkbox-label">Fintech</label>
                        <input type="checkbox" id="interest41" class="form__checkbox" checked>
                        <label for="interest41" class="form__checkbox-label account-form__checkbox-label">Fintech</label>
                        <input type="checkbox" id="interest51" class="form__checkbox" checked>
                        <label for="interest51" class="form__checkbox-label account-form__checkbox-label">Software</label>
                        <input type="checkbox" id="interest61" class="form__checkbox" checked>
                        <label for="interest61" class="form__checkbox-label account-form__checkbox-label">Software</label>
                        <input type="checkbox" id="interest71" class="form__checkbox">
                        <label for="interest71" class="form__checkbox-label account-form__checkbox-label">Software</label>
                        <input type="checkbox" id="interest81" class="form__checkbox">
                        <label for="interest81" class="form__checkbox-label account-form__checkbox-label">Software</label>
                        <input type="checkbox" id="interest91" class="form__checkbox" checked>
                        <label for="interest91" class="form__checkbox-label account-form__checkbox-label">Fintech</label>
                        <input type="checkbox" id="interest101" class="form__checkbox">
                        <label for="interest101" class="form__checkbox-label account-form__checkbox-label">Fintech</label>
                        <input type="checkbox" id="interest111" class="form__checkbox" checked>
                        <label for="interest11" class="form__checkbox-label account-form__checkbox-label">Fintech</label>
                        <input type="checkbox" id="interest121" class="form__checkbox" checked>
                        <label for="interest121" class="form__checkbox-label account-form__checkbox-label">Fintech</label>
                    </div>
                </div>
                <div class="account-form-block__footer">
                    <button type="button" class="account-form-block__btn btn btn--big js-form-block-btn">Сохранить и продолжить</button>
                    <a href="#" class="account-form-block__next">
                        <img src="assets/images/more.png" width="86" height="43" alt="">
                    </a>
                </div>
            </div>
            <div class="account-form-block _screen4">
                <div class="account-form-block__header">
                    <p>Шаг <span class="current">4</span> из <span class="total">5</span></p>
                    <a href="#" class="account-form-block__prev">
                        <img src="assets/images/arr-w.png" width="40" height="22" alt="">
                    </a>
                </div>
                <div class="account-form-block__content">
                    <div class="form__upload-block">
                        <input type="file" id="photo4" class="form__upload">
                        <label for="photo4" class="form__upload-link">
                            <span class="form__upload-label">Загрузите фото:</span>
                            <span class="form__upload-button">
                                <span class="icon">
                                    <svg width="27" height="40">
                                        <use xlink:href="#download" />
                                    </svg>
                                </span>
                                <span class="btn form__upload-btn">Выбрать файл</span>
                            </span>
                        </label>
                        <div class="form__upload-preview">
                            <button class="form__upload-preview-btn" type="button">Удалить</button>
                            <img src="assets/images/user.jpg" width="66" height="66" alt="">
                        </div>
                    </div>
                </div>
                <div class="account-form-block__footer">
                    <button type="button" class="account-form-block__btn btn btn--big js-form-block-btn">Сохранить и продолжить</button>
                    <a href="#" class="account-form-block__next">
                        <img src="assets/images/more.png" width="86" height="43" alt="">
                    </a>
                </div>
            </div>
            <div class="account-form-block _screen5">
                <div class="account-form-block__header">
                    <p>Шаг <span class="current">5</span> из <span class="total">5</span></p>
                    <a href="#" class="account-form-block__prev">
                        <img src="assets/images/arr-w.png" width="40" height="22" alt="">
                    </a>
                </div>
                <div class="account-form-block__content">
                    <div class="account-form-block__section-wrapper">
                        <div class="form__field-wrapper">
                            <label for="country4" class="form__field-label">Страна нахождения</label>
                            <input type="text" id="country4" class="form__field">
                        </div>
                        <div class="form__field-wrapper">
                            <label for="city4" class="form__field-label">Город нахождения</label>
                            <input type="text" id="city4" class="form__field">
                        </div>
                        <div class="form__field-wrapper">
                            <label for="info4" class="form__message-label form__field-label">Дополнительные сведения о бизнес интересах</label>
                            <textarea name="info" id="info4" class="form__message" placeholder="Например, &laquo;Не предлагайте мне блокчейн&raquo;."></textarea>
                        </div>
                    </div>
                </div>
                <div class="account-form-block__footer">
                    <button class="btn btn--large account-form__submit">Сохранить изменения</button>
                </div>
            </div>
        </form>
    </div>
</section>
