<div class="fixed-navigation">
    <div id="scroll-nav" class="list-group fixed-navigation__list">
        <a class="list-group-item list-group-item-action fixed-navigation__list-item" href="#list-item-1">
            <span>Презентация</span>
        </a>
        <a class="list-group-item list-group-item-action fixed-navigation__list-item" href="#list-item-2">
            <span>Описание</span>
        </a>
        <a class="list-group-item list-group-item-action fixed-navigation__list-item" href="#list-item-3">
            <span>Продукт</span>
        </a>
        <a class="list-group-item list-group-item-action fixed-navigation__list-item" href="#list-item-4">
            <span>Бизнес-модель</span>
        </a>
        <a class="list-group-item list-group-item-action fixed-navigation__list-item" href="#list-item-5">
            <span>Метрики</span>
        </a>
        <a class="list-group-item list-group-item-action fixed-navigation__list-item" href="#list-item-6">
            <span>Финансирование</span>
        </a>
        <a class="list-group-item list-group-item-action fixed-navigation__list-item" href="#list-item-7">
            <span>Дорожная карта</span>
        </a>
    </div>
</div>