<section class="intro">
    <div class="container-fluid layout-positioner">
        <div class="row no-gutters justify-content-around">
            <div class="col-4">
                <div class="col-inner">
                    <div class="intro__logo">
                        <svg width="217" height="213">
                            <use xlink:href="#logo" />
                        </svg>
                    </div>
                    <h1 class="intro__headline">VentureBoard — площадка альтернативных  инвестиций, созданная командой VentureClub — самым активным инвестиционным сообществом в Восточной Европе</h1>
                    <p class="intro__slogan">Инвестируйте. Развивайте. Получайте прибыль</p>
                    <a href="#" class="btn btn--big btn--transparent intro__btn">Регистрируйтесь бесплатно</a>
                </div>
            </div>
        </div>
    </div>
</section>