<section class="section invest">
    <div class="container-fluid layout-positioner">
        <div class="row section__header no-gutter">
            <div class="col-4">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Назад</a></li>
                    </ol>
                </nav>
            </div>
            <div class="col-4">
                <div class="tags">
                    <a href="#" class="tag"><span>Fintech</span></a>
                    <a href="#" class="tag"><span>Software</span></a>
                </div>
            </div>
        </div>
        <p class="invest__headline">Инвестировать в проект</p>
        <h1 class="invest__title">&laquo;Sweat Cosmetics&raquo;</h1>
        <div class="row invest__body no-gutter">
            <div class="col-6">
                <div class="project-card _full">
                    <div class="project-card__main-col">
                        <div class="project-card__image">
                            <img src="assets/images/logo-aperso.png" width="330" height="90" alt="">
                        </div>
                        <div class="project-card__progress _desktop">
                            <p class="project-card__progress-label">Собрано</p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <p class="project-card__progress-legend"><span class="current">5 000 000$</span> из <span class="total">10 000 000$</span></p>
                        </div>
                        <div class="project-card__links">
                            <a href="#" class="project-card__link">
                                <span class="project-card__link-icon">
                                    <i>?</i>
                                </span>
                                <span class="project-card__link-text">Задать вопрос владельцам</span>
                            </a>
                            <a href="#" class="project-card__link">
                                <span class="project-card__link-icon">
                                    <svg width="44" height="63">
                                        <use xlink:href="#download" />
                                    </svg>
                                </span>
                                <span class="project-card__link-text">Скачать инвестиционную презентацию</span>
                            </a>
                        </div>
                    </div>
                    <div class="project-card__aside-col">
                        <div class="project-card__stats">
                            <div class="project-card__stats-item">
                                <p>Слоган</p>
                                <a href="#">http:// сайтпроекта.ком</a>
                            </div>
                            <div class="project-card__stats-item">
                                <p>Иллинойс, Сша</p>
                            </div>
                            <div class="project-card__stats-item">
                                <p>Владелец:</p>
                                <p>Василий Лихой</p>
                            </div>
                            <div class="project-card__stats-item">
                                <p>Дата создания</p>
                                <p>29.11.2017 21:59</p>
                            </div>
                            <div class="project-card__stats-item">
                                <p>Контакты</p>
                                <a href="mailto:ceo@hotelchat.me" class="project-card__contact">ceo@hotelchat.me</a>
                                <a href="tel:+7(985)314-14-34" class="project-card__contact _phone">+7 (985) 314-14-34</a>
                            </div>
                        </div>
                        <div class="project-card__badge">
                            <p>Рекомендовано участниками площадки</p>
                        </div>
                    </div>
                    <div class="project-card__progress _mobile">
                        <p class="project-card__progress-label">Собрано</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p class="project-card__progress-legend"><span class="current">5 000 000$</span> из <span class="total">10 000 000$</span></p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="invest-block">
                    <p class="invest-block__label">Минимальная сумма инвестиций этого проекта 50&nbsp;000$ </p>
                    <form action="#" method="post" class="form invest-form">
                        <input type="text" class="invest-form__field" id="invest" value="50 000$">
                        <label for="invest" class="invest-form__label">Сумма, которую вы желаете инвестировать  </label>
                        <button class="invest-form__submit btn btn--large">Инвестировать</button>
                    </form>
                    <p class="invest-block__text">Нажимая кнопку «Инвестровать» вы выражаете предварителую готовность инвестировать указанную сумму проект.</p>
                    <p class="invest-block__text">Для оформления сделки и по проекту с Вами свяжутся наши менеджеры.</p>
                </div>
            </div>
        </div>
    </div>
</section>