<section class="section invest _project">
    <div class="container-fluid layout-positioner">
        <div class="row section__header no-gutter">
            <div class="col-4">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Назад</a></li>
                    </ol>
                </nav>
            </div>
            <div class="col-4">
                <div class="tags">
                    <a href="#" class="tag"><span>Fintech</span></a>
                    <a href="#" class="tag"><span>Software</span></a>
                </div>
            </div>
        </div>
        <h1 class="invest__title">&laquo;Sweat Cosmetics&raquo;</h1>
        <p class="invest__lead">Why is it so hard to find high-performance makeup designed to protect and enhance beauty while enduring an on-the-go lifestyle?</p>
        <div class="row invest__body no-gutter">
            <div class="col-6">
                <div class="project-card _full _withlink">
                    <div class="project-card__inner">
                        <div class="project-card__main-col">
                            <div class="project-card__image">
                                <img src="assets/images/logo-aperso.png" width="330" height="90" alt="">
                            </div>
                            <div class="project-card__progress _desktop">
                                <p class="project-card__progress-label">Собрано</p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="project-card__progress-legend"><span class="current">5 000 000$</span> из <span class="total">10 000 000$</span></p>
                            </div>
                        </div>
                        <div class="project-card__aside-col">
                            <div class="project-card__stats">
                                <div class="project-card__stats-item">
                                    <p>Слоган</p>
                                    <a href="#">http:// сайтпроекта.ком</a>
                                </div>
                                <div class="project-card__stats-item">
                                    <p>Иллинойс, Сша</p>
                                </div>
                            </div>
                            <div class="project-card__badge">
                                <p>Рекомендовано участниками площадки</p>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="btn btn--big project-card__big-btn">Инвестировать в проект</a>
                    <div class="project-card__progress _mobile">
                        <p class="project-card__progress-label">Собрано</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p class="project-card__progress-legend"><span class="current">5 000 000$</span> из <span class="total">10 000 000$</span></p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="description-block">
                    <div class="description-block__item">
                        <h3 class="description-block__headline">Описание проекта</h3>
                        <p class="description-block__text">Основан командой лесорубов из Висконсина с опытом сыроварения Вилья-Варилья Решает проблему несимпатичных водителей в Убере, свайпай, заигрывай катайся! Основан командой лесорубов из Висконсина с опытом сыроварения Вилья-Варилья Решает проблему несимпатичных водителей в Убере, свайпай, заигрывай катайся!</p>
                    </div>
                    <div class="description-block__item">
                        <h3 class="description-block__headline">Рыночные возможности</h3>
                        <p class="description-block__text">Основан командой лесорубов из Висконсина с опытом сыроварения Вилья-Варилья Решает проблему несимпатичных водителей в Убере, свайпай, заигрывай катайся! Основан командой лесорубов из Висконсина с опытом сыроварения Вилья-Варилья</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="invest__footer row no-gutters justify-content-center">
            <div class="col-6">
                <p class="invest__footer-text">Вам доступна ограниченная информация. <br>Чтобы получить доступ — <a href="#">зарегистрируйтесь</a></p>
            </div>
        </div>
    </div>
</section>