<div class="modal fade" id="enter" tabindex="-1" role="dialog" aria-labelledby="enterTitle" aria-hidden="true">
    <div class="modal-dialog _enter modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="enterTitle">Войти или <a href="#">создать&nbsp;профиль</a></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="modal-form row">
                    <div class="col-6">
                        <form action="#" method="post" class="form">
                            <div class="form__field-wrapper">
                                <input type="text" id="userlogin" class="form__field">
                            </div>
                            <div class="form__field-wrapper">
                                <input type="password" id="userpassword" class="form__field" placeholder="Пароль">
                            </div>
                            <div class="modal-form__footer">
                                <button class="btn modal__btn modal-form__btn">Вход</button>
                                <a href="#" class="form__recovery-link">Забыли пароль?</a>
                            </div>
                        </form>
                    </div>
                    <div class="col-6 _vertical">
                        <a href="#" class="btn modal__btn modal-form__login">Войти через Facebook</a>
                    </div>
                </div>
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div> -->
        </div>
    </div>
</div>