<div class="modal fade" id="gratitude" tabindex="-1" role="dialog" aria-labelledby="gratitudeTitle" aria-hidden="true">
    <div class="modal-dialog _gratitude modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="gratitudeTitle">Благодарим за подтверждение регистрации!</a></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="modal__text-block">
                    <p class="modal__lead">Вам предоставлен тестовый доступ к платформе на <span class="emph">3</span> дня.</p>
                    <p class="modal__text">В течение 24 часов с Вами свяжется наш менеджер для уточнения ваших потребностей.</p>
                </div>
                <div class="row modal__buttons _extrawide no-gutters justify-content-between">
                    <div class="col">
                        <a href="#" class="btn modal__btn">Начать инвестировать</a>
                    </div>
                    <div class="col">
                        <a href="#" class="btn modal__btn">Привлечь финансирование</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>