<div class="modal fade" id="invest3" tabindex="-1" role="dialog" aria-labelledby="invest3Title" aria-hidden="true">
    <div class="modal-dialog _invest1 modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="invest3Title">Благодарим за Ваше намерение инвестировать в проект!</a></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="modal__lead">Перед тем, как с Вами свяжутся наши специалисты для офрмления сделки, расскажите немного о себе</p>
                <div class="modal-form">
                    <div class="modal-form__section modal-form__step">
                        <div class="modal-form__step-header">
                            <p>Шаг <span class="current">1</span> из <span class="total">2</span></p>
                        </div>
                        <div class="modal-form__row form__field-wrapper row no-gutters _nowrap _wraponmobile">
                            <label for="amount" class="modal-form__field-label">Средний размер и частота инвестиций, которые вы планируете</label>
                            <div class="modal-form__text-block _modal">
                                <p class="form__note">Эту информацию увидят только сотрудники площадки, мы не передаем ее третьим лицам</p>
                            </div>
                            <input class="form__field _xs" type="text" id="amount" placeholder="50 000$">
                            <div class="form__select-wrapper _deals">
                                <select class="form__select custom-select" id="deals">
                                    <option selected>Более 5 сделок в год</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-form__row form__field-wrapper row no-gutters _nowrap _wraponmobile">
                            <label for="amount" class="modal-form__field-label">Вы:</label>
                            <div class="form__select-wrapper _position">
                                <select class="form__select custom-select" id="position">
                                    <option selected>Частный инвестор</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                </select>
                            </div>
                            <label for="activity" class="modal-form__field-label">Вид деятельности или должность</label>
                            <input class="form__field _s" type="text" id="activity" placeholder="Предприниматель">
                        </div>
                        <div class="form__field-wrapper">
                            <label for="company" class="form__field-label modal-form__field-label">Название компании/фонда (если применимо)</label>
                            <input type="text" class="form__field" id="company" placeholder="Роснано">
                        </div>
                        <div class="modal-form__step-footer">
                            <button class="btn modal-form__btn">Сохранить и продолжить</button>
                        </div>
                    </div>
                    <div class="modal-form__step">
                        <div class="modal-form__step-header">
                            <a href="#">Вернуться на шаг назад</a>
                            <p>Шаг <span class="current">2</span> из <span class="total">2</span></p>
                        </div>
                        <div class="modal-form__row row n-gutters">
                            <div class="col-3">
                                <input type="checkbox" id="via-email3" class="form__checkbox">
                                <label for="via-email3" class="form__checkbox-label modal-form__checkbox-label">По&nbsp;электронной почте</label>
                            </div>
                            <div class="col-9">
                                <input type="email" class="form__field" id="feedback-email3" placeholder="E-mail из профиля по умолчанию">
                            </div>
                        </div>
                        <span class="modal-form__separator">или</span>
                        <div class="modal-form__row row no-gutters">
                            <div class="col-3">
                                <input type="checkbox" id="via-phone3" class="form__checkbox">
                                <label for="via-phone3" class="form__checkbox-label modal-form__checkbox-label">По&nbsp;телефону</label>
                            </div>
                            <div class="col-9">
                                <div class="form__field-wrapper">
                                    <input type="tel" class="form__field" id="feedback-tel3" placeholder="Телефон из профиля по умолчанию">
                                </div>
                                <div class="form__field-wrapper _nowrap row no-gutters justify-content-between">
                                    <label for="date3" class="modal-form__field-label">Когда?</label>
                                    <div class="form__select-wrapper _date">
                                        <select class="form__select custom-select" id="date3">
                                            <option selected>Сегодня</option>
                                            <option value="1">Завтра</option>
                                            <option value="2">Когда-нибудь</option>
                                        </select>
                                    </div>
                                    <label for="time3" class="modal-form__field-label">в</label>
                                    <div class="form__select-wrapper _time">
                                        <select class="form__select custom-select" id="time3">
                                            <option selected>16-00</option>
                                            <option value="1">17-00</option>
                                            <option value="2">18-00</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-form__step-footer">
                            <button class="btn modal-form__btn">Отправить</button>
                        </div>
                    </div>
                    <div class="modal-form__row _desktop row justify-content-center">
                        <button class="btn modal-form__btn">Отправить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






























