<div class="modal fade" id="create" tabindex="-1" role="dialog" aria-labelledby="createTitle" aria-hidden="true">
    <div class="modal-dialog _create modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal__slogan">Инвестируйте или привлекайте финансирование на VentureBoard </p>
                <h5 class="modal-title" id="createTitle">Создать&nbsp;профиль или <a href="#">войти</a></h5>
                <p class="modal__note">Все поля обязательны для заполнения </p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="modal__tabs js-tabs">
                    <div class="modal__tab-controls">
                        <ul class="tab-controls row">
                            <li class="tab-control js-tab-control active">
                                <p class="tab-control__text">Обычный профиль</p>
                            </li>
                            <li class="tab-control js-tab-control">
                                <p class="tab-control__text">Через Facebook</p>
                            </li>
                        </ul>
                    </div>
                    <div class="modal__tabs-wrapper">
                        <ul class="tabs row">
                            <li class="tab js-tab col-6 active">
                                <form action="#" class="form modal-form">
                                    <div class="modal-form__group">
                                        <div class="form__field-wrapper">
                                            <input type="text" class="form__field" id="username10" placeholder="Имя">
                                        </div>
                                        <div class="form__field-wrapper">
                                            <input type="text" class="form__field" id="surname" placeholder="Фамилия">
                                        </div>
                                    </div>
                                    <div class="modal-form__group">
                                        <div class="form__field-wrapper">
                                            <input type="email" class="form__field" id="usermail10" placeholder="E-mail">
                                        </div>
                                        <div class="form__field-wrapper">
                                            <input type="password" class="form__field" id="password10" placeholder="Пароль">
                                        </div>
                                        <div class="form__field-wrapper">
                                            <input type="password" class="form__field" id="password101" placeholder="Повторите пароль">
                                        </div>
                                    </div>
                                    <div class="modal-form__group">
                                        <div class="form__field-wrapper _column">
                                            <label for="tel10" class="modal-form__field-label">Номер телефона</label>
                                            <input type="tel" class="form__field" id="tel10" placeholder="+00 000 0000 00000">
                                        </div>
                                    </div>
                                    <button class="btn modal__btn">Отправить</button>
                                </form>
                            </li>
                            <li class="tab js-tab col-6">
                                <form action="#" class="form modal-form">
                                    <h6 class="modal-form__title tab__title">Создать профиль через Facebook</h6>
                                    <p class="modal-form__field-label modal-form__note">Чтобы создать профиль через фейсбук, введите своей контактный номер телефона</p>
                                    <div class="modal-form__group">
                                        <div class="form__field-wrapper _column">
                                            <label for="tel101" class="modal-form__field-label">Номер телефона</label>
                                            <input type="tel" class="form__field" id="tel101" placeholder="+00 000 0000 00000">
                                        </div>
                                    </div>
                                    <button class="btn modal__btn">Отправить</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>