<div class="modal fade" id="welcome" tabindex="-1" role="dialog" aria-labelledby="welcomeTitle" aria-hidden="true">
    <div class="modal-dialog _welcome modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-header">
            </div>
            <div class="modal-body">
                <div class="welcome-block">
                    <h5 class="welcome-block__title" id="welcomeTitle">Приветствуем Вас на&nbsp;нашей площадке и благодарим за&nbsp;оплату подписки!</h5>
                    <p class="welcome-block__lead">Теперь вам доступен полный функционал и&nbsp;клубное членство <a href="#">VentureClub.</a></p>
                    <p class="welcome-block__text">Вы можете начать инвестировать прямо сейчас, но&nbsp;мы просим Вас также заполнить свой профиль, чтобы мы могли адресно предлагать вам проекты наиболее интересные Вам лично</p>
                    <div class="welcome-block__footer">
                        <a href="#" class="btn btn--big btn--transparent welcome-block__btn">Перейти к проектам</a>
                        <a href="#" class="btn btn--big btn--transparent welcome-block__btn">Заполнить профиль</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>