<div class="modal fade" id="invest1" tabindex="-1" role="dialog" aria-labelledby="invest1Title" aria-hidden="true">
    <div class="modal-dialog _invest1 modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="invest1Title">Благодарим за Ваше намерение инвестировать в проект!</a></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="modal__lead">Когда и каким образом можно обсудить с Вами сделку? </p>
                <div class="modal-form">
                    <div class="modal-form__row row n-gutters">
                        <div class="col-3">
                            <input type="checkbox" id="via-email" class="form__checkbox">
                            <label for="via-email" class="form__checkbox-label modal-form__checkbox-label">По&nbsp;электронной почте</label>
                        </div>
                        <div class="col-9">
                            <input type="email" class="form__field" id="feedback-email" placeholder="E-mail из профиля по умолчанию">
                        </div>
                    </div>
                    <span class="modal-form__separator">или</span>
                    <div class="modal-form__row row no-gutters">
                        <div class="col-3">
                            <input type="checkbox" id="via-phone" class="form__checkbox">
                            <label for="via-phone" class="form__checkbox-label modal-form__checkbox-label">По&nbsp;телефону</label>
                        </div>
                        <div class="col-9">
                            <div class="form__field-wrapper">
                                <input type="tel" class="form__field" id="feedback-tel" placeholder="Телефон из профиля по умолчанию">
                            </div>
                            <div class="form__field-wrapper _nowrap row no-gutters justify-content-between">
                                <label for="date" class="modal-form__field-label">Когда?</label>
                                <div class="form__select-wrapper _date">
                                    <select class="form__select custom-select" id="date">
                                        <option selected>Сегодня</option>
                                        <option value="1">Завтра</option>
                                        <option value="2">Когда-нибудь</option>
                                    </select>
                                </div>
                                <label for="time" class="modal-form__field-label">в</label>
                                <div class="form__select-wrapper _time">
                                    <select class="form__select custom-select" id="time">
                                        <option selected>16-00</option>
                                        <option value="1">17-00</option>
                                        <option value="2">18-00</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-form__row row justify-content-center">
                        <button class="btn modal-form__btn">Отправить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






























