<div class="modal fade" id="success" tabindex="-1" role="dialog" aria-labelledby="successTitle" aria-hidden="true">
    <div class="modal-dialog _success modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="successTitle">Вы успешно подали проект!      </a></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="modal__text-block">
                    <p class="modal__lead">В случае возникновения вопросов по проекту — наша команда свяжется с Вами.</p>
                    <p class="modal__text">Следите за обновлениями статуса рассмотрения в&nbsp;sличном кабинете или за уведомлениями на почте!</p>
                </div>
                <div class="row modal__buttons _extrawide no-gutters justify-content-between">
                    <div class="col">
                        <a href="#" class="btn modal__btn _even">Перейти в личный кабинет</a>
                    </div>
                    <div class="col">
                        <a href="#" class="btn modal__btn _even">Перейти на главную страницу</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>