<div class="modal fade" id="pitch" tabindex="-1" role="dialog" aria-labelledby="pitchTitle" aria-hidden="true">
    <div class="modal-dialog _pitch modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-header">
            </div>
            <div class="modal-body">
                <div class="pitch-block">
                    <p class="pitch-block__date">21.09.18</p>
                    <h5 class="pitch-block__title" id="pitchTitle">Онлайн питч вашего проекта</h5>
                    <p class="pitch-block__descr">Коллеги, сражение Роскомнадзора и мессенджера Telegram задело и&nbsp;нашу платформу VentureClub.co. Вероятно, ведомство рассматривает альтернативные инвестиции как общественно опасную информацию, причиняющую прибыль получателям</p>
                    <p class="pitch-block__author">VC team</p>
                    <button type="button" class="btn modal__btn" data-dismiss="modal" aria-label="Close">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
</div>