<section class="section project">
    <div class="container-fluid project__header layout-positioner">
        <div class="row section__header no-gutters">
            <div class="col-4">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Назад</a></li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <div class="presentation" id="list-item-1">
        //= fixed-nav.html
        <div class="presentation__wrapper row no-gutters container-fluid layout-positioner">
            <div class="presentation__col col-6">
                <h2 class="presentation__title">Sweat Cosmetics</h2>
                <div class="presentation__tags tags _left">
                    <a href="#" class="tag"><span>Fintech</span></a>
                    <a href="#" class="tag"><span>Software</span></a>
                </div>
                <div class="presentation__text-block">
                    <p class="presentation__lead">Why is it so hard to find high-performance makeup designed to protect and enhance beauty while enduring an on-the-go lifestyle?</p>
                    <p class="presentation__text">Учение о средствах и методах улучшения внешности человека. Косметикой также называют средства и способы ухода за кожей, волосами и ногтями, также ротовой полостью.</p>
                    <a href="#" class="presentation__link">http:// сайтпроекта.ком</a>
                    <p class="presentation__location">Иллинойс, Сша</p>
                </div>
            </div>
            <div class="presentation__col col-6">
                <div class="presentation__video-block video-block">
                    <video src="#" poster="assets/images/poster.jpg" width="720" height="480" class="presentation__video"></video>
                    <button type="button" class="video-block__button">
                        <img src="assets/images/play.png" width="40" height="55" alt="">
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="description" id="list-item-2">
        <div class="container-fluid layout-positioner">
            <div class="description__wrapper row no-gutters">
                <div class="col-6">
                    <div class="project-card _full">
                        <div class="project-card__main-col">
                            <div class="project-card__image">
                                <img src="assets/images/logo-aperso.png" width="330" height="90" alt="">
                            </div>
                            <div class="project-card__links">
                                <a href="#" class="project-card__link">
                                    <span class="project-card__link-icon">
                                        <i>?</i>
                                    </span>
                                    <span class="project-card__link-text">Задать вопрос владельцам</span>
                                </a>
                                <a href="#" class="project-card__link">
                                    <span class="project-card__link-icon">
                                        <svg width="44" height="63">
                                            <use xlink:href="#download"></use>
                                        </svg>
                                    </span>
                                    <span class="project-card__link-text">Скачать инвестиционную презентацию</span>
                                </a>
                            </div>
                            <a href="#" class="btn _desktop btn--big project-card__btn">Инвестировать</a>
                        </div>
                        <div class="project-card__aside-col">
                            <div class="project-card__stats">
                                <div class="project-card__stats-item">
                                    <div class="project-card__badge">
                                        <p>Рекомендовано участниками площадки</p>
                                    </div>
                                </div>
                                <div class="project-card__stats-item">
                                    <p>Владелец:</p>
                                    <p>Василий Лихой</p>
                                </div>
                                <div class="project-card__stats-item">
                                    <p>Дата создания</p>
                                    <p>29.11.2017 21:59</p>
                                </div>
                                <div class="project-card__stats-item">
                                    <p>Контакты</p>
                                    <a href="mailto:ceo@hotelchat.me" class="project-card__contact">ceo@hotelchat.me</a>
                                    <a href="tel:+7(985)314-14-34" class="project-card__contact">+7 (985) 314-14-34</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="description__description-block">
                        <div class="description__progress">
                            <p class="description__progress-label">Собрано</p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <p class="description__progress-legend"><span class="current">5 000 000$</span> из <span class="total">10 000 000$</span></p>
                        </div>
                        <p class="description__headline">Рыночные возможности</p>
                        <p class="description__text">Основан командой лесорубов из Висконсина с опытом сыроварения Вилья-Варилья Решает проблему несимпатичных водителей в Убере, свайпай, заигрывай катайся! Основан командой лесорубов из Висконсина с опытом сыроварения Вилья-Варилья. Решает проблему несимпатичных водителей в Убере, свайпай, заигрывай катайся! </p>
                        <a href="#" class="btn _mobile btn--big description__btn">Инвестировать</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid layout-positioner">
        <div class="project-block">
            <div class="project-block__row row no-gutters" id="list-item-3">
                <div class="col-6 _illustrations">
                    <h3 class="project-block__headline">Продукт</h3>
                    <div class="project-block__illustrations row no-gutters">
                        <div class="col-4">
                            <div class="project-block__illustration illustration">
                                <img src="assets/images/illustr01.jpg" width="228" height="228" alt="">
                                <button type="button" class="illustration__btn" data-toggle="modal" data-target="#">+</button>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="project-block__illustration illustration">
                                <img src="assets/images/illustr02.jpg" width="228" height="228" alt="">
                                <button type="button" class="illustration__btn" data-toggle="modal" data-target="#">+</button>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="project-block__illustration illustration">
                                <img src="assets/images/illustr03.jpg" width="228" height="228" alt="">
                                <button type="button" class="illustration__btn" data-toggle="modal" data-target="#">+</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <p class="project-block__text">Основан командой лесорубов из Висконсина с опытом сыроварения Вилья-Варилья Решает проблему несимпатичных водителей в Убере, свайпай, заигрывай катайся! Основан командой лесорубов из Висконсина с опытом сыроварения Вилья-Варилья. Решает проблему несимпатичных водителей в Убере, свайпай, заигрывай катайся! Основан командой лесорубов из Висконсина с опытом сыроварения.Решает проблему несимпатичных водителей в бере, свайпай, заигрывай катайся! </p>
                    <p class="project-block__text">Основан командой лесорубов из Висконсина с опытом сыроварения Вилья-Варилья. ешает проблему несимпатичных водителей в Убере, свайпай, заигрывай катайся! Основан командой лесорубов из Висконсина с опытом сыроварения Вилья-Варилья</p>
                </div>
            </div>
            <div class="project-block__row row no-gutters" id="list-item-4">
                <div class="col-6">
                    <p class="project-block__text">Основан командой лесорубов из Висконсина с опытом сыроварения Вилья-Варилья Решает проблему несимпатичных водителей в Убере, свайпай, заигрывай катайся! Основан командой лесорубов из Висконсина с опытом сыроварения Вилья-Варилья. Решает проблему несимпатичных водителей в Убере, свайпай, заигрывай катайся! Основан командой лесорубов из Висконсина с опытом сыроварения.Решает проблему несимпатичных водителей в бере, свайпай, заигрывай катайся! </p>
                    <p class="project-block__text">Основан командой лесорубов из Висконсина с опытом сыроварения Вилья-Варилья. ешает проблему несимпатичных водителей в Убере, свайпай, заигрывай катайся! </p>
                </div>
                <div class="col-6 _illustrations">
                    <h3 class="project-block__headline">Бизнес-модель</h3>
                    <div class="project-block__illustrations row no-gutters">
                        <div class="col-4">
                            <div class="project-block__illustration illustration">
                                <img src="assets/images/illustr04.jpg" width="228" height="228" alt="">
                                <button type="button" class="illustration__btn" data-toggle="modal" data-target="#">+</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project-block__row row no-gutters" id="list-item-5">
                <div class="col-6 _illustrations">
                    <h3 class="project-block__headline">Метрики</h3>
                    <div class="project-block__illustrations row no-gutters">
                        <div class="col-4">
                            <div class="project-block__illustration illustration">
                                <img src="assets/images/illustr05.jpg" width="228" height="228" alt="">
                                <button type="button" class="illustration__btn" data-toggle="modal" data-target="#">+</button>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="project-block__illustration illustration">
                                <img src="assets/images/illustr06.jpg" width="228" height="228" alt="">
                                <button type="button" class="illustration__btn" data-toggle="modal" data-target="#">+</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <p class="project-block__text">Основан командой лесорубов из Висконсина с опытом сыроварения Вилья-Варилья Решает проблему несимпатичных водителей в Убере, свайпай, заигрывай катайся! Основан командой лесорубов из Висконсина с опытом сыроварения Вилья-Варилья. Решает проблему несимпатичных водителей в Убере, свайпай, заигрывай катайся! Основан командой лесорубов из Висконсина с опытом сыроварения.Решает проблему несимпатичных водителей в бере, свайпай, заигрывай катайся! </p>
                    <p class="project-block__text">Основан командой лесорубов из Висконсина с опытом сыроварения Вилья-Варилья. ешает проблему несимпатичных водителей в Убере, свайпай, заигрывай катайся! Основан командой лесорубов из Висконсина с опытом сыроварения Вилья-Варилья</p>
                </div>
            </div>
            <div class="project-block__row row no-gutters" id="list-item-6">
                <div class="col-6">
                    <p class="project-block__text">Основан командой лесорубов из Висконсина с опытом сыроварения Вилья-Варилья Решает проблему несимпатичных водителей в Убере, свайпай, заигрывай катайся! Основан командой лесорубов из Висконсина с опытом сыроварения Вилья-Варилья. Решает проблему несимпатичных водителей в Убере, свайпай, заигрывай катайся! Основан командой лесорубов из Висконсина с опытом сыроварения.</p>
                </div>
                <div class="col-6 _illustrations">
                    <h3 class="project-block__headline">История и цели привлечения финансирования</h3>
                </div>
            </div>
            <div class="project-block__row row no-gutters" id="list-item-7">
                <div class="col-6 _illustrations">
                    <h3 class="project-block__headline">Дорожная карта</h3>
                    <div class="project-block__illustrations row no-gutters">
                        <div class="col-4">
                            <div class="project-block__illustration illustration">
                                <img src="assets/images/illustr01.jpg" width="228" height="228" alt="">
                                <button type="button" class="illustration__btn" data-toggle="modal" data-target="#">+</button>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="project-block__illustration illustration">
                                <img src="assets/images/illustr02.jpg" width="228" height="228" alt="">
                                <button type="button" class="illustration__btn" data-toggle="modal" data-target="#">+</button>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="project-block__illustration illustration">
                                <img src="assets/images/illustr03.jpg" width="228" height="228" alt="">
                                <button type="button" class="illustration__btn" data-toggle="modal" data-target="#">+</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <p class="project-block__text">Основан командой лесорубов из Висконсина с опытом сыроварения Вилья-Варилья Решает проблему несимпатичных водителей в Убере, свайпай, заигрывай катайся! Основан командой лесорубов из Висконсина с опытом сыроварения Вилья-Варилья. Решает проблему несимпатичных водителей в Убере, свайпай, заигрывай катайся! Основан командой лесорубов из Висконсина с опытом сыроварения.Решает проблему несимпатичных водителей в бере, свайпай, заигрывай катайся! </p>
                    <p class="project-block__text">Основан командой лесорубов из Висконсина с опытом сыроварения Вилья-Варилья. ешает проблему несимпатичных водителей в Убере, свайпай, заигрывай катайся! Основан командой лесорубов из Висконсина с опытом сыроварения Вилья-Варилья</p>
                </div>
            </div>
            <div class="project-block__row project-block__footer row justify-content-around">
                <div class="col-6">
                    <div class="project-block__progress">
                        <p class="project-block__progress-label">Собрано</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p class="project-block__progress-legend"><span class="current">5 000 000$</span> из <span class="total">10 000 000$</span></p>
                    </div>
                    <a href="#" class="btn btn--large project-block__button">Инвестировать в проект</a>
                </div>
            </div>
        </div>
    </div>
</section>




