<section class="projects">
    <div class="container-fluid layout-positioner">
        <h2 class="projects__title">Проекты</h2>
        <div class="sorting">
            <div class="row no-gutters justify-content-around">
                <div class="col-4">
                    <form action="#" method="get" class="sorting-form">
                        <div class="sorting-form__wrapper ">
                            <div class="form__select-wrapper _categories">
                                <select class="form__select custom-select" id="categories">
                                    <option selected>Все</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                            <div class="form__select-wrapper _directions">
                                <select class="form__select custom-select" id="directions">
                                    <option selected>Сначала популярные</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="projects__wrapper justify-content-between">
            <div class="col-4">
                <div class="project-card">
                    <div class="project-card__image">
                        <img src="assets/images/logo-aperso.png" width="332" height="91" alt="">
                    </div>
                    <div class="project-card__info">
                        <h3 class="project-card__name"><a href="#">«Тиндер для Убера»</a></h3>
                        <div class="project-card__tags tags">
                            <a href="#" class="project-card__tag tag"><span>Fintech</span></a>
                            <a href="#" class="project-card__tag tag"><span>Software</span></a>
                        </div>
                    </div>
                    <div class="project-card__descr">
                        <p>Основан командой лесорубов из Висконсина с&nbsp;опытом сыроварения Вилья-Варилья</p>
                        <p>Решает проблему несимпатичных водителей в&nbsp;Убере, свайпай, заигрывай катайся!</p>
                        <p>Собирают уже раунд АБВГДЕ</p>
                    </div>
                    <div class="project-card__progress">
                        <p class="project-card__progress-label">Собрано</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p class="project-card__progress-legend"><span class="current">5 000 000$</span> из <span class="total">10 000 000$</span></p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="project-card">
                    <div class="project-card__image">
                        <img src="assets/images/logo-aperso.png" width="332" height="91" alt="">
                    </div>
                    <div class="project-card__info">
                        <h3 class="project-card__name"><a href="#">«Тиндер для Убера»</a></h3>
                        <div class="project-card__tags tags">
                            <a href="#" class="project-card__tag tag"><span>Fintech</span></a>
                            <a href="#" class="project-card__tag tag"><span>Software</span></a>
                        </div>
                    </div>
                    <div class="project-card__descr">
                        <p>Основан командой лесорубов из Висконсина с&nbsp;опытом сыроварения Вилья-Варилья</p>
                        <p>Решает проблему несимпатичных водителей в&nbsp;Убере, свайпай, заигрывай катайся!</p>
                        <p>Собирают уже раунд АБВГДЕ</p>
                    </div>
                    <div class="project-card__progress">
                        <p class="project-card__progress-label">Собрано</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p class="project-card__progress-legend"><span class="current">5 000 000$</span> из <span class="total">10 000 000$</span></p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="project-card">
                    <div class="project-card__image">
                        <img src="assets/images/logo-aperso.png" width="332" height="91" alt="">
                    </div>
                    <div class="project-card__info">
                        <h3 class="project-card__name"><a href="#">«Тиндер для Убера»</a></h3>
                        <div class="project-card__tags tags">
                            <a href="#" class="project-card__tag tag"><span>Fintech</span></a>
                            <a href="#" class="project-card__tag tag"><span>Software</span></a>
                        </div>
                    </div>
                    <div class="project-card__descr">
                        <p>Основан командой лесорубов из Висконсина с&nbsp;опытом сыроварения Вилья-Варилья</p>
                        <p>Решает проблему несимпатичных водителей в&nbsp;Убере, свайпай, заигрывай катайся!</p>
                        <p>Собирают уже раунд АБВГДЕ</p>
                    </div>
                    <div class="project-card__progress">
                        <p class="project-card__progress-label">Собрано</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p class="project-card__progress-legend"><span class="current">5 000 000$</span> из <span class="total">10 000 000$</span></p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="project-card">
                    <div class="project-card__image">
                        <img src="assets/images/logo-aperso.png" width="332" height="91" alt="">
                    </div>
                    <div class="project-card__info">
                        <h3 class="project-card__name"><a href="#">«Тиндер для Убера»</a></h3>
                        <div class="project-card__tags tags">
                            <a href="#" class="project-card__tag tag"><span>Fintech</span></a>
                            <a href="#" class="project-card__tag tag"><span>Software</span></a>
                        </div>
                    </div>
                    <div class="project-card__descr">
                        <p>Основан командой лесорубов из Висконсина с&nbsp;опытом сыроварения Вилья-Варилья</p>
                        <p>Решает проблему несимпатичных водителей в&nbsp;Убере, свайпай, заигрывай катайся!</p>
                        <p>Собирают уже раунд АБВГДЕ</p>
                    </div>
                    <div class="project-card__progress">
                        <p class="project-card__progress-label">Собрано</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p class="project-card__progress-legend"><span class="current">5 000 000$</span> из <span class="total">10 000 000$</span></p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="project-card">
                    <div class="project-card__image">
                        <img src="assets/images/logo-aperso.png" width="332" height="91" alt="">
                    </div>
                    <div class="project-card__info">
                        <h3 class="project-card__name"><a href="#">«Тиндер для Убера»</a></h3>
                        <div class="project-card__tags tags">
                            <a href="#" class="project-card__tag tag"><span>Fintech</span></a>
                            <a href="#" class="project-card__tag tag"><span>Software</span></a>
                        </div>
                    </div>
                    <div class="project-card__descr">
                        <p>Основан командой лесорубов из Висконсина с&nbsp;опытом сыроварения Вилья-Варилья</p>
                        <p>Решает проблему несимпатичных водителей в&nbsp;Убере, свайпай, заигрывай катайся!</p>
                        <p>Собирают уже раунд АБВГДЕ</p>
                    </div>
                    <div class="project-card__progress">
                        <p class="project-card__progress-label">Собрано</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p class="project-card__progress-legend"><span class="current">5 000 000$</span> из <span class="total">10 000 000$</span></p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="project-card">
                    <div class="project-card__image">
                        <img src="assets/images/logo-aperso.png" width="332" height="91" alt="">
                    </div>
                    <div class="project-card__info">
                        <h3 class="project-card__name"><a href="#">«Тиндер для Убера»</a></h3>
                        <div class="project-card__tags tags">
                            <a href="#" class="project-card__tag tag"><span>Fintech</span></a>
                            <a href="#" class="project-card__tag tag"><span>Software</span></a>
                        </div>
                    </div>
                    <div class="project-card__descr">
                        <p>Основан командой лесорубов из Висконсина с&nbsp;опытом сыроварения Вилья-Варилья</p>
                        <p>Решает проблему несимпатичных водителей в&nbsp;Убере, свайпай, заигрывай катайся!</p>
                        <p>Собирают уже раунд АБВГДЕ</p>
                    </div>
                    <div class="project-card__progress">
                        <p class="project-card__progress-label">Собрано</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p class="project-card__progress-legend"><span class="current">5 000 000$</span> из <span class="total">10 000 000$</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="projects__footer">
            <button type="button" class="projects__show-more">
                <span>Показать ещё</span>
            </button>
        </div>
    </div>
</section>