<footer class="page-footer">
    <div class="container-fluid layout-positioner">
        <div class="row">
            <div class="col">
                <div class="col-inner _row">
                    <a href="#" class="page-footer__logo logo">
                        <svg width="132" height="132">
                            <use xlink:href="#logo" />
                        </svg>
                    </a>
                    <div class="page-footer__nav">
                        <ul class="social-list">
                            <li>
                                <a href="#">Группа в Facebook</a>
                            </li>
                            <li>
                                <a href="#">Telegram-канал</a>
                            </li>
                        </ul>
                        <a href="#" class="page-footer__link"><span>Правила использования</span></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="col-inner _right">
                    <p class="page-footer__copyright">Все права защищены.<br>2018, VentureBoard</p>
                </div>
            </div>
        </div>
    </div>
</footer>