<header class="page-header js-header _dark">
    <button type="button" class="menu-trigger js-menu-trigger"><span>Меню</span></button>
    <div class="container-fluid layout-positioner">
        <div class="row">
            <div class="col-4">
                <div class="col-inner _row">
                    <a href="#" class="page-header__logo logo">
                        <svg width="132" height="132">
                            <use xlink:href="#logo" />
                        </svg>
                    </a>
                    <nav class="page-header__navigation main-navigation">
                        <ul>
                            <li>
                                <a href="#">О площадке</a>
                            </li>
                            <li>
                                <a href="#">Блог Клуба</a>
                            </li>
                            <li class="_mobile">
                                <a href="account.html">Личный кабинет</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-4">
                <div class="col-inner">
                    <form action="#" method="post" class="form search-form">
                        <input type="search" class="form__field search-form__field" id="searchfield" placeholder="Поиск">
                        <button type="button" class="search-form__btn js-search">
                            <img src="assets/images/search.png" width="24" height="24" alt="">
                        </button>
                    </form>
                </div>
            </div>
            <div class="col-4">
                <div class="col-inner _right">
                    <ul class="page-header__lang-block lang-block">
                        <li class="current">
                            <a href="#">Ru</a>
                        </li>
                        <li>
                            <a href="#">En</a>
                        </li>
                    </ul>
                    <div class="user-menu">
                        <a href="#" class="btn" data-toggle="modal" data-target="#enter">Вход / Регистрация</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>