.page-footer
    box-sizing: border-box
    padding-top: 77px
    padding-bottom: 40px
    min-height: 313px
    color: #fff
    background-color: #000
    background-image: url("../images/bg-footer.jpg")
    background-repeat: no-repeat 
    background-size: cover

    @media (max-width: $screenXS)
        padding-top: 48px
        padding-bottom: 44px
        min-height: 100px
        background-image: url("../images/bg-footer-mob.jpg")
        background-position: bottom center

    @media (max-width: $screenXXS)
        padding-top: 24px
        padding-bottom: 22px
        min-height: 50px

    &__nav 

        @media (max-width: $screenXXS)
            margin-top: -4px
            line-height: 11px

    &__logo
        margin-right: 30px

        @media (max-width: $screenXS)
            margin-right: 22px
            width: 94px
            height: 94px

        @media (max-width: $screenXXS)
            margin-right: 11px
            width: 47px
            height: 47px

        svg 
            fill: #fff

    &__link 
        @include hover
        font-weight: 500
        font-size: 1.667rem
        line-height: 1.7rem
        color: #fff
        border-bottom: 1px solid #fff

        @media (min-width: $screenXXL)
            font-size: 16.67px
            line-height: 17px

        @media (max-width: $screenM)
            font-size: 13px
            line-height: 15px

        @media (max-width: $screenXS)
            font-size: 15.41px
            line-height: 17px

        @media (max-width: $screenXXS)
            font-size: 8px
            line-height: 9px

        &:hover,
        &:focus 
            color: #fff
            text-decoration: none

    &__copyright
        margin: 0
        text-align: left
        font-size: 2.083rem
        line-height: 2.2rem

        @media (min-width: $screenXXL)
            font-size: 20.83px
            line-height: 22px

        @media (max-width: $screenM)
            font-size: 18px
            line-height: 24px

        @media (max-width: $screenXS)
            font-size: 14.23px
            line-height: 21.34px

        @media (max-width: $screenXXS)
            font-size: 8px
            line-height: 11px

    .col 

        @media (max-width: $screenXS)

            &:first-child 
                flex-grow: 1

                @media (max-width: $screenXXS)
                    padding-right: 0

            &:last-child
                flex-shrink: 1
                max-width: 40%

                @media (max-width: $screenXXS)
                    padding-left: 0

    .col:last-child .col-inner 

        @media (max-width: $screenXS)
            justify-content: flex-start