.page-header
    position: absolute
    top: 0
    left: 0
    right: 0
    padding-top: 36px
    border-top: 16px solid $purple
    z-index: 2

    @media (max-width: $screenL)
        padding-top: 20px

    @media (max-width: $screenXS)
        position: fixed
        top: 0
        left: 0
        right: 0
        padding-top: 24px
        padding-bottom: 24px
        min-height: 88px
        border-top: none
        background-color: #2b2b2b

    @media (max-width: $screenXXS)
        padding-top: 12px
        padding-bottom: 12px
        min-height: 44px

    &__logo 
        margin-right: auto

        svg 
            fill: #fff

        @media (max-width: $screenM)
            margin-right: 10px

        @media (max-width: $screenXS)
            display: none

    &__navigation 
        align-self: center

        @media (max-width: $screenXS)
            position: fixed
            top: 88px
            left: 0
            right: 0
            bottom: 0
            padding-top: 65px
            background-color: #2b2b2b
            transform: translateX(-100%)
            transition: transform 0.3s ease

            @media (max-width: $screenXXS)
                top: 44px
                padding-top: 33px

            .opened &
                transform: translateX(0)

    &__lang-block
        margin-bottom: 28px

        @media (max-width: $screenL)
            margin-bottom: 20px

        @media (max-width: $screenM)
            margin-bottom: 14px

    &._inner
        position: relative

        @media (max-width: $screenXS)
            position: fixed

        svg 
            fill: $purple

    &._logged-in 

        @media (max-width: $screenXS)

            .lang-block
                display: none

    .col-inner 

        @media (max-width: $screenXS)
            flex-direction: row

    .col-4

        @media (max-width: $screenM)
            flex: 0 0 calc(50% - 11px)
            max-width: calc(50% - 11px)

            &:nth-child(2)
                padding: 0
                max-width: 22px

                .col-inner 
                    padding: 0

        @media (max-width: $screenXS)

            &:first-child
                padding: 0
                max-width: 0
                overflow: hidden

            &:nth-child(2)
                padding-left: 60px

            &:nth-child(3)
                margin-left: auto
                //margin-right: -20px
                padding-right: 0
                flex: 0 0 calc(100% - 90px)
                max-width: calc(100% - 90px)

        @media (max-width: $screenXXS)

            &:nth-child(2)
                padding-left: 36px

            &:nth-child(3)
                flex: 0 0 calc(100% - 55px)
                max-width: calc(100% - 55px)
